@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.wrap {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
.wrap h1 {
  font-size: 3vw;
  padding: 5vw 0;
  color: #052449;
  text-align: center;
}
.wrap .inner {
  display: flex;
  justify-content: center;
}
.wrap ul li {
  padding: 50px 0;
}
.wrap ul li a {
  font-size: 2vw;
  color: #052449;
  position: relative;
  display: flex;
  gap: 50px;
  width: 100%;
  z-index: 999;
}
.wrap ul li a .desc {
  font-size: 18px;
  letter-spacing: -1px;
}
.wrap ul li .thumb {
  width: 600px;
  height: 330px;
  position: relative;
  flex-shrink: 0;
}
.wrap ul li .thumb .thumbImg {
  width: 80%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  left: 10%;
  top: 10px;
  overflow: hidden;
  text-align: center;
}
.wrap ul li .thumb .thumbImg img {
  transition: 2s;
  pointer-events: none;
}
.wrap ul li .thumb img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .wrap h1 {
    font-size: 5vw;
  }
  .wrap ul li a {
    font-size: 30px;
  }
  .wrap ul li a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .wrap ul li .thumb {
    width: 450px;
    height: 240px;
  }
  .wrap ul li .thumb .thumbImg {
    width: 80%;
    height: 100%;
    top: 5px;
    border-radius: 5px;
  }
}
