@charset "utf-8";
@font-face {
  font-family: "Caveat";
  src: url(/font/Caveat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(/font/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "Pretendard";
  src: url(/font/PretendardVariable.ttf);
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #0a0a0a;
  font-family: "Pretendard";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 20;
  background-color: #0a0a0a;
}
header #menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  gap: 20px;
}
header #menu a:hover {
  color: #aaa;
}

#section0 {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}
#section0 h1 {
  color: #fff;
  font-size: 7em;
  padding-top: 55vh;
  color: #b90e0a;
  font-weight: 800;
  text-shadow: 0 4px 4px #b90e0a;
}
#section0 p {
  width: 100%;
  height: 30vh;
  background: #b90e0a;
  padding-top: 10px;
  font-family: "Caveat";
  font-size: 3em;
  position: relative;
  color: #777;
  text-shadow: none;
  animation: neonStartup 4s 1s forwards;
}
@keyframes neonStartup {
  /* 빠른 깜빡임 구간 (0%~25%) */
  0%,
  4%,
  8%,
  12%,
  16%,
  20%,
  22%,
  25% {
    color: #fff;
    text-shadow: 0 0 8px #fff, 0 0 20px #ff6666, 0 0 40px #ff3333;
  }

  /* 꺼진 상태들 */
  2%,
  6%,
  10%,
  14%,
  18%,
  21%,
  23% {
    color: #aaa;
    text-shadow: none;
  }

  /* 1번 깜빡임 */
  35% {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 25px #ff7777, 0 0 40px #ff4444;
  }
  45% {
    color: #ccc;
    text-shadow: none;
  }

  /* 2번 깜빡임 */
  55% {
    color: #fff;
    text-shadow: 0 0 14px #fff, 0 0 30px #ff8888, 0 0 50px #ff4444;
  }
  65% {
    color: #ccc;
    text-shadow: none;
  }

  /* 3번 깜빡임 */
  73% {
    color: #ccc;
    text-shadow: 0 0 10px #fff, 0 0 22px #ff8888, 0 0 35px #ff5555,
      0 0 50px #ff3333;
  }
  86% {
    color: #bbb;
    text-shadow: none;
  }

  /* 완전히 켜진 상태 (100%) */
  100% {
    color: #fff;
    text-shadow: 0 0 12px #fff, 0 0 30px #ff6666, 0 0 50px #ff3333,
      0 0 70px #ff1111;
  }
}

#section1 {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  /* overflow: hidden; */
}
#section1 .title {
  margin: 80px 0 60px;
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
#section1 .title::after {
  content: "";
  width: 120%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
.profile {
  display: flex;
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  height: 600px;
  gap: 60px;
  justify-content: center;
}
.profile > p {
  width: 250px;
  height: 350px;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
  margin-top: 130px;
  flex-shrink: 0;
}
.profile > p img {
  margin-top: 20px;
  width: 100%;
  height: 95%;
  object-fit: cover;
}
.profile .pinner {
  padding: 40px 40px 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 80px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 5px #fff;
}
.pinner h1 {
  position: relative;
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 30px;
}
#name {
  text-align: left;
  grid-column: 1 / span 2;
}

#name .nb {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 20px;
}
#name .name {
  font-size: 1.5em;
}
#name .bir {
  display: inline-block;
  font-size: 0.8em;
}
#name .list {
  display: flex;
  gap: 100px;
}
#name .list li {
  padding: 10px 0;
}
.edu .year {
  font-size: 0.7em;
  font-weight: 800;
  margin-bottom: 8px;
  color: #bbb;
}
.edu .infoa {
  font-size: 1.2em;
  margin-bottom: 8px;
}
.edu .infob {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 25px;
  color: #ddd;
}
.skills ul {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.skills ul li p {
  width: 40px;
  height: 40px;
}
.skills ul li p img {
  width: 100%;
  object-fit: cover;
}

.motto {
  width: 100%;
  margin-top: 30px;
  height: auto;
  background: #b90e0a;
  color: #fff;
  text-align: center;
}
.motto h1 {
  font-family: "Caveat";
  height: 100%;
  font-weight: 600;
  color: #fff;
  line-height: 70px;
  animation: neonStartup 4s 1s forwards;
}

#section2,
#section3 {
  width: 100%;
  overflow: hidden;
}
.tit {
  color: #fff;
  margin: 100px 50px;
  text-align: left;
  position: relative;
  display: inline-block;
}
.tit::after {
  content: "";
  width: 120%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  content: "";
}
.pwrap {
  display: flex;
  gap: 150px;
  margin-bottom: 200px;
}
.pwrap:nth-child(even) {
  flex-direction: row-reverse;
}

.pwrap .txt {
  background: #b90e0a;
  width: 50%;
  max-width: 600px;
  height: 400px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
  align-items: center;
  color: #fff;
  border-radius: 0 50px 50px 0;
}
.pwrap:nth-child(even) .txt {
  justify-content: flex-start;
  text-align: left;
  border-radius: 50px 0 0 50px;
}

.txtwrap .site {
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 0 0 4px #ddd;
}
.txtwrap .work {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.txtwrap .winfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-size: 0.9em;
  margin-bottom: 30px;
  text-align: center;
}
.txtwrap .winfo p {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 5px 7px;
}
#section2 .pwrap:nth-child(1) .txtwrap div:nth-child(5) {
  grid-template-columns: 1fr 1fr 1fr;
}
#section3 .winfo {
  grid-template-columns: 100px;
}
.txtwrap .link {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.pwrap:nth-child(even) .txtwrap .link {
  justify-content: flex-start;
}
.txtwrap .link a {
  display: block;
  width: 40px;
  height: 40px;
}
.txtwrap .link a img {
  width: 100%;
  object-fit: cover;
}
.pwrap:nth-child(1) .txtwrap .winfo p:nth-child(4) {
  grid-column: 2/3;
}
.pwrap > p::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  filter: blur(50px);
  z-index: -1;
}
.pwrap > p {
  width: 50%;
  margin: 0 auto;
  height: 400px;
  position: relative;
}
.pwrap > p img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer {
  width: 100%;
  height: 300px;
  margin-top: 150px;
  background: #b90e0a;
}
footer .icon {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 40px; */
}
footer .icon a {
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
}
footer .icon a:hover {
  background: #fff;
}
footer .icon a img {
  width: 100%;
  object-fit: cover;
}
footer .icon a:first-child img {
  margin-left: 14px;
}
footer > a {
  display: block;
  width: 70px;
  height: 70px;
  margin: 50px auto 0;
}
footer > a img {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1170px) {
  .profile {
    height: 60vh;
  }
  .profile .pinner {
    grid-template-columns: 1fr 0.5fr;
    gap: 10px 40px;
  }

  .tit {
    padding-top: 50px;
  }
}
@media screen and (max-width: 1024px) {
  header #menu {
    justify-content: center;
    padding-right: 0px;
  }
  .profile > p {
    display: none;
  }
  .tit {
    margin: 100px 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .pwrap {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
  }
  .pwrap:nth-child(even) {
    flex-direction: column-reverse;
  }
  .pwrap .txt {
    text-align: center;
    justify-content: center;
    border-radius: 50px;
  }
  .pwrap:nth-child(even) .txt {
    text-align: center;
    justify-content: center;
    border-radius: 50px;
  }

  .pwrap:nth-child(1) .txtwrap .winfo p:nth-child(4) {
    grid-column: 1;
  }
  .txtwrap .link {
    justify-content: center;
  }
  .pwrap:nth-child(even) .txtwrap .link {
    justify-content: center;
  }
  .pwrap > p {
    width: 90%;
  }
  footer .icon {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  #section0 h1 {
    font-size: 13vw;
  }
  #section0 p {
    font-size: 10vw;
  }
  #section1 {
    height: auto;
  }
  .profile {
    height: auto;
  }
  #name {
    text-align: left;
    grid-column: 1;
  }
  .profile .pinner {
    grid-template-columns: 1fr;
    /* gap: 10px; */
    row-gap: 50px;
    padding: 40px;
    justify-items: center;
  }
  #name {
    justify-content: center;
  }
  #name h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  #name .nb {
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  #name .list {
    gap: 50px;
    justify-content: center;
  }
  /* .edu {
    text-align: center;
  } */
  .edu h1 {
    text-align: center;
  }
  .skills h1 {
    text-align: center;
  }
  .skills ul li {
    justify-items: center;
  }
  .motto {
    margin-top: 50px;
  }
  .pwrap {
    gap: 10px;
  }
  .pwrap > p {
    height: 300px;
  }
  footer .icon {
    width: 95%;
    max-width: 500px;
  }
  footer .icon a {
    width: 40px;
    height: 40px;
  }
  footer .icon a:first-child img {
    margin-left: 6px;
  }
}
@media screen and (max-width: 480px) {
  #section0 h1 {
    font-size: 13vw;
  }
  #section0 p {
    font-size: 30px;
  }
  .profile .pinner {
    padding: 30px;
  }
  #name .list {
    gap: 20px;
  }
  .pwrap {
    gap: 10px;
    margin-bottom: 60px;
  }
  footer {
    margin-top: 200px;
  }
  footer .icon {
    width: 75%;
  }
  footer .icon a {
    width: 20px;
    height: 20px;
  }
  footer .icon a:first-child img {
    margin-left: 6px;
  }
}
