@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  height: 110px;
  border-bottom: 1px solid #eeeeee;
}
.top {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .left {
  display: flex;
  height: 100%;
  margin: 0 auto;
}
.logo {
  height: 100%;
  line-height: 110px;
}
.logo img {
  vertical-align: middle;
}
.menu {
  height: 100%;
  width: 1000px;
  font-weight: bold;
  font-size: 18px;
}
.menu > ul {
  display: flex;
  height: 100%;
  align-items: center;
}
.menu > ul > li {
  position: relative;
  text-align: center;
  width: 14%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.menu > ul > li:nth-child(4) {
  width: 16%;
}
.menu > ul > li:hover > a,
.menu > ul > li > a:hover {
  color: #c30f30;
}
.menu > ul > li > a {
  display: block;
  color: #444;
  text-align: center;
}
.menu > ul > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 106px;
  width: 100%;
  height: 4px;
  background: #c30f30;
  transform: scaleX(0);
  transition: 0.5s;
}
.menu > ul > li:hover > a::after {
  transform: scaleX(1);
}

.menu > ul > li .ko {
  display: none;
}
.submenu {
  font-size: 15px;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 110px;

  overflow: hidden;
  transition: height 0.5s;
  font-weight: bold;
}

.submenu li {
  line-height: 40px;
}
.submenu li:first-child {
  padding-top: 20px;
}

.submenu li a {
  color: #ccc;
}
.submenu li a:hover {
  color: #c30f30;
}
.right {
  width: 25%;
  margin-left: 30px;
}
.right ul {
  display: flex;
  gap: 20px;
}
.right a {
}
.right span {
  font-size: 13px;
  color: #444;
}
.bg {
  position: absolute;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 110px;
  transition: 0.5s;
}
.swiper {
  width: 100%;
  margin: 0 auto;
  height: 850px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.swiper-slide a {
  display: block;
  width: 230px;
  height: 50px;
  box-sizing: border-box;
  position: absolute;
  right: 50%;
  bottom: 110px;
  margin: 0 -600px 0 0;
  border: 1px solid #cf3e58;
  text-align: center;
  background: #cf3e58;
  z-index: 999 !important;
}
.swiper-slide a span {
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 15px;
  line-height: 48px;
  color: #fff;
  background: url(../img/arrow_white.png) right center no-repeat;
}

.stkbox {
  position: fixed;
  top: 50%;
  right: 30px;
  width: 79px;
  margin: -230px 0 0;
  z-index: 1;
}
.main {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.main .con2 {
  width: 400px;
  height: 390px;
  padding: 50px 40px 0;
  box-sizing: border-box;
  float: left;
  background: #f5f4f2;
}
.main .con2 h2 {
  margin: 0 0 49px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #222222;
}
.main .con2 p {
  margin: 0 0 49px;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #666666;
}
.main .con2 .search {
  width: 100%;
  height: 40px;
  padding: 0 57px 0 20px;
  margin: 0 0 10px;
  box-sizing: border-box;
  border: none;
  background: #ffffff url(../img/search.gif) right 0 no-repeat;
}
.main .con2 a {
  display: block;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 15px;
  line-height: 50px;
  color: #ffffff;
  background: #3b3230;
  text-align: center;
}

.main .con3 {
  width: 400px;
  height: 500px;
  padding: 50px 40px 0;
  box-sizing: border-box;
  background: url(../img/oder.jpg);
}
.main .con3 h2 {
  margin-bottom: 28px;
  font-size: 24px;
}
.main .con3 p {
  font-size: 15px;
  margin-bottom: 26px;
}

.main .con3 a {
  display: inline-block;
  font-size: 15px;
  color: #000;
  text-decoration: underline;
}
.main .con3 span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../img/arrow_black.png) right center no-repeat;
  font-size: 13px;
  line-height: 17px;
}

.main .con3 a:hover {
  color: #c30f30;
}

.main .con3 a:hover span {
  background: url(../img/arrow_red.png) right center no-repeat;
}
.main .con4 {
  width: 400px;
  height: 500px;
  padding: 80px 40px 0;
  box-sizing: border-box;
  float: left;
  background: #ede6d6;
}

.main .con4 h1 {
  margin-bottom: 50px;
  font-size: 24px;
}
.main .con4 a {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
}
.main .con4 a:nth-child(3) {
  gap: 65px;
}
.main .con4 a:last-child {
  display: block;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 15px;
  line-height: 50px;
  color: #ffffff;
  background: #6d5547;
  text-align: center;
}

.main .con4 p {
  font-size: 20px;
  color: #000;
}

.main .con4 span {
  font-size: 15px;
  color: #000;
}
.main .con5 {
  background: url(../img/open.jpg) center/cover no-repeat;
  width: 400px;
  height: 500px;
}
.main .con5 .con5_txt {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 420px 20px 0;
}
.main .con5 .con5_txt p {
  color: #c30f30;
  font-size: 20px;
}
.main .con5 .con5_txt a {
  display: inline-block;
  color: #777777;
  font-size: 13px;
  text-decoration: underline;
}
.main .con5 .con5_txt span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../img/arrow_gray.png) right center no-repeat;

  line-height: 17px;
}

.main .con5 .con5_txt a:hover {
  color: #c30f30;
}

.main .con5 .con5_txt a:hover span {
  background: url(../img/arrow_red.png) right center no-repeat;
}

.bottom {
  height: 470px;
  width: 100%;
  background: #f5eee8;
  padding: 60px 0 0;
}
.bottom .recipe {
  margin: 0 auto;
  width: 1200px;
}
.bottom .recipe .recipe_list {
  display: flex;
  width: 100%;
  margin: 0 0 60px;
  overflow: hidden;
  justify-content: space-between;
}
.bottom .recipe .recipe_list ul {
  display: flex;
  gap: 20px;
}
.recipe_list > p {
  font-size: 24px;
  float: left;
  color: #222222;
}
.recipe_list ul li {
}
.recipe_list ul li a {
  display: block;
  padding: 0 0 6px;
  font-weight: 700;
  font-size: 15px;
  color: #9b8777;
}
.recipe_list ul li a.active {
  color: #993b42;
  border-bottom: 3px solid #993b42;
}
.bottom .img_box {
  position: relative;
}
.bottom .down {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  display: none;
}
.down .txt h1 {
  margin-bottom: 15px;
  font-size: 36px;
}
.txt p:first-of-type {
  color: #993b42;
  font-size: 24px;
  margin-bottom: 20px;
}
.txt p:last-of-type {
  color: #444;
  margin-bottom: 25px;
  font-size: 15px;
}
.txt a {
  display: inline-block;
  width: 152px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #993b42;

  text-align: center;
}
.txt a span {
  color: #993b42;
  padding: 0 15px 0 0;
  font-size: 13px;
  line-height: 33px;
  background: url(../img/arrow_red.png) right center no-repeat;
}

.txt a:hover {
  background: #993b42;
}
.txt a:hover span {
  color: #ffffff;
  background: url(../img/arrow_white.png) right center no-repeat;
}
footer {
  width: 100%;
  height: 166px;
}
footer .last {
  width: 100%;
  height: 100%;
  display: flex;
}
footer .footerleft {
  display: flex;
  width: 35%;
  height: 100%;
  background: #575757;
  justify-content: end;
  align-items: center;
}
footer .footerleft img {
  width: 69px;
  height: 90px;
  margin-right: 20px;
}
footer .footerleft p {
  font-size: 12px;
  line-height: 16px;
  color: #b5b4b4;
  margin-right: 50px;
}
footer .footerright {
  width: 65%;
  height: 100%;
  background: #f1f2f2;
}

.txt_box {
  margin-top: 20px;
}

.txt_box ul {
  display: flex;
  margin-bottom: 20px;
}
.txt_box ul li {
  margin: 0 0 0 41px;
  float: left;
  position: relative;
  font-size: 18px;
}
.txt_box ul li::after {
  display: block;
  content: "";
  width: 1px;
  height: 14px;
  position: absolute;
  top: 4px;
  left: -20px;
  background: #a4a4a4;
}

footer .footerright .firstcall,
footer .footerright .secondcall {
  display: flex;
}

footer .footerright .address {
  display: flex;
}
.address ul li {
  font-size: 13px;
}

.maincall {
  margin-left: 41px;
}
.call span {
  display: inline-block;
  padding: 0 0 0 18px;
  margin: 0 0 0 10px;
  background: url(../img/call.png) 0 center no-repeat;
}
.firstcall p:last-child {
  margin-left: 29px;
}
.secondcall {
  margin-bottom: 10px;
}
.secondcall p:last-child {
  margin-left: 20px;
}

.address ul li::after {
  display: block;
  content: "";
  width: 1px;
  height: 14px;
  position: absolute;
  top: 4px;
  left: -20px;
  background: #a4a4a4;
}

.txt_box ul li:first-child:after,
.address ul li:first-child:after {
  display: none;
}

@media screen and (max-width: 1024px) {
}
