@charset "uft-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /* word-spacing: -1px; */
  /* letter-spacing: -0.5px; */
  font-family: "Pretendard-Regular", Arial;
  word-break: keep-all;
}
:root {
  --main-bg-color: #eaf8fb;
  --main-bg-gradient: linear-gradient(176deg, #fff, #f4f6f9);
  --main-mint-color: #00b2b1;
  --main-blue-gradient: linear-gradient(to right, #00c6e5, #0082e5);
  --button-gradient: linear-gradient(
    45deg,
    rgba(48, 213, 212, 1) 0%,
    rgba(0, 166, 229, 1) 100%
  );
}
body {
  width: 100%;
  position: relative;
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
li,
span,
a {
  font-size: inherit;
}
.top-banner {
  position: relative;
  width: 100%;
  height: 80px;
  transition: all 0.6s;
}
.top-banner.hide {
  height: 0;
  overflow: hidden;
}
.top-banner a {
  display: block;
  width: 100%;
  height: 100%;
}
.top-banner img {
  width: 100%;
  height: 100%;
}
.top-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  box-sizing: border-box;
}
.top-right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #b4b4b4;
}
.top-right > div {
  display: flex;
  margin-right: 25px;
}
.top-right input {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.top-right p {
  margin-left: 10px;
  line-height: 24px;
}
.top-right button {
  background: none;
  border: none;
  cursor: pointer;
}
header {
  width: 100%;
  max-width: 1920px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header-wrap {
  position: relative;
  height: 90px;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s;
}
.header-wrap.on {
  height: 445px;
}
.header-wrap::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 89px;
  background: #ebebeb;
}
.header-logo {
  height: 90px;
  display: flex;
  align-items: center;
}
nav ul[class^="gnb"] {
  display: flex;
}
nav ul[class^="gnb"] > li {
  color: #333;
  font-size: 20px;
  position: relative;
}
nav ul[class^="gnb"] > li:not(:last-child) > a {
  padding-right: 90px;
}
nav ul[class^="gnb"] > li:hover {
  color: var(--main-mint-color);
}
nav ul[class^="gnb"] > li:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: var(--main-mint-color);
  top: 85px;
  left: 0;
  transition: all 0.6s;
}
nav ul[class^="gnb"] > li:hover::after {
  width: 72px;
}
nav ul[class^="gnb"] > li > a {
  line-height: 90px;
}
nav ul[class^="sub"] {
  margin-top: 38px;
}
nav ul[class^="sub"] > li:not(:last-child) {
  margin-bottom: 24px;
}
nav ul[class^="sub"] > li {
  color: #565b6b;
  font-size: 18px;
}
nav ul[class^="sub"] > li a {
  transition: all 0.6s;
}
nav ul[class^="sub"] > li a:hover {
  color: #000;
}
nav ul[class^="3depth"] {
  margin-top: 15px;
}
nav ul[class^="3depth"] li {
  color: #969db2;
  font-size: 16px;
}
nav ul[class^="3depth"] li:not(:last-child) {
  margin-bottom: 10px;
}
.header-right {
  display: flex;
  height: 90px;
  align-items: center;
}
.header-right p {
  width: 408px;
  height: 50px;
  margin-right: 15px;
  background: var(--main-bg-color);
  border-radius: 7px;
  color: #2f5e80;
  text-align: center;
  line-height: 50px;
}
.header-right p span {
  color: #00a8b9;
}
.header-right a {
  display: block;
  width: 180px;
  height: 48px;
  background: var(--button-gradient);
  color: #fff;
  text-align: center;
  line-height: 48px;
  border-radius: 18px;
}
.sidenav {
  position: relative;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 26px;
  height: 26px;
  margin-left: 24px;
  cursor: pointer;
}
.sidenav span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: #00c6e5;
}
/* footer */
footer {
  position: relative;
  z-index: 10;
  width: 100%;
  background: #0d283b;
}
footer .wrap {
  max-width: 1280px;
  margin: 0 auto;
}
footer .copy {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
footer .copy .left {
  font-size: 14px;
  color: #90b0c7;
}
footer .copy .left img {
  margin-bottom: 40px;
}
footer .copy .left p {
  line-height: 37px;
}
footer .copy .left i {
  display: inline-block;
  margin: 0 10px;
  background: #527288;
  height: 10px;
  width: 1px;
}
footer .copy .right {
  color: #90b0c7;
}
footer .copy .right ul {
  display: flex;
  justify-content: space-between;
}
footer .copy .right ul:last-child {
  margin-top: 45px;
}
footer .copy .right ul:last-child li {
  width: 200px;
  background: #123046;
  padding: 17px 24px;
  box-sizing: border-box;
  border-radius: 14px;
}
footer .copy .right ul:last-child li:first-child {
  margin-right: 20px;
}
footer .copy .right ul:last-child p {
  font-size: 14px;
  margin-bottom: 8px;
}
footer .copy .right ul:last-child a {
  font-size: 18px;
  color: #00c9c8;
}
footer .add {
  margin-top: 40px;
  height: 60px;
  background: #123046;
  border-radius: 20px 20px 0 0;
}
footer .add p {
  text-align: center;
  line-height: 60px;
  font-size: 14px;
  color: #7ba1bc;
}
/* 반응형 */
@media screen and (max-width: 1800px) {
  .header-wrap {
    padding: 0 20px;
  }
  nav ul[class^="gnb"] > li {
    font-size: 16px;
  }
  nav ul[class^="gnb"] > li:not(:last-child) > a {
    padding-right: 65px;
  }
  .header-right p {
    font-size: 13px;
    width: 320px;
  }
}
@media screen and (max-width: 1600px) {
  .sidenav {
    display: flex;
  }
}
@media screen and (max-width: 1440px) {
  nav {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  footer .wrap {
    padding: 0 20px;
  }
  footer .copy .right ul:last-child li {
    width: 180px;
  }
}
@media screen and (max-width: 1100px) {
  footer .copy .left {
    font-size: 12px;
  }
  footer .copy .left p {
    line-height: 28px;
  }
  footer .copy .right ul a {
    font-size: 14px;
  }
  footer .copy .right ul:last-child li {
    width: 140px;
    padding: 15px;
  }
  footer .copy .right ul:last-child p {
    font-size: 11px;
  }
  footer .copy .right ul:last-child a {
    font-size: 14px;
  }
}
@media screen and (max-width: 960px) {
  .header-wrap {
    height: 60px;
  }
  .header-logo {
    height: 60px;
  }
  .header-logo img {
    width: 100px;
  }
  footer .copy {
    flex-direction: column;
    padding-top: 50px;
  }
  footer .copy .left i {
    display: block;
    width: 0;
    height: 0;
  }
  footer .copy .left {
    margin-bottom: 30px;
  }
  footer .copy .left img {
    width: 90px;
    margin-bottom: 20px;
  }
  .header-right {
    height: 60px;
  }
  .header-right p {
    font-size: 11px;
    width: 270px;
    height: 30px;
    line-height: 30px;
  }
  .header-right a {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
  }
  footer .copy .right ul:first-child {
    justify-content: start;
    gap: 20px;
  }
  footer .copy .right ul:last-child {
    margin-top: 20px;
  }
  footer .copy .right ul:last-child li {
    flex-grow: 1;
  }
  footer .add {
    height: 40px;
  }
  footer .add p {
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 650px) {
  .header-right p {
    display: none;
  }
  footer .add {
    height: auto;
  }
  footer .add p {
    line-height: 40px;
  }
}
