@charset "utf-8";
@font-face {
  font-family: Pretendard;
  src: url(../../webfonts/PretendardVariable.woff2) format("woff2");
}
@font-face {
  font-family: Poppins;
  src: url(../../webfonts/Poppins-Medium.woff) format("woff");
}
@font-face {
  font-family: Poppins-regular;
  src: url(../../webfonts/Poppins-Regular.woff) format("woff");
}

* {
  margin: 0;
  left: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #323232;
}
body {
  position: relative;
  color: #323232;
  font-family: Pretendard;
  font-weight: 400;
  line-height: 1.5;
}
.wrap {
  width: calc(100vw - (100vw - 100%));
}
header {
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  transition: all 0.3s;
  z-index: 9999;
}
header .menu {
  width: 548px;
  height: 100%;
  padding: 0 30px 0 40px;
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 30px 0;
}
.menu a {
  display: block;
  width: 210px;
  flex-shrink: 0;
  height: 100%;
  line-height: 6;
}
.menu .lines {
  width: 72px;
  height: 22px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .lines .one {
  width: 50%;
  height: 2px;
  transform: translate(100%);
  transition: 0.7s;
  background-color: #fff;
}
.menu .lines:hover .one {
  transform: translate(0%);
}
.menu .lines .two {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu .lines .three {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
header .logo_ko {
  width: 1215px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 50px;
  font-size: 15px;
  font-weight: 500;
  font-family: Poppins;
}
.contents {
  padding-top: 70px;
}
.fixed_cont {
  position: sticky;
  top: 0;
  height: 34vw;
  background: url(../images/ci-fixed-kv-pc.webp) no-repeat center;
  background-size: contain;
}
.fixed_cont .tit {
  position: absolute;
  top: 4vw;
  left: 9vw;
}
.fixed_cont .tit .tit_wrap {
  display: flex;
  align-items: center;
}
.fixed_cont .tit .tit_wrap .circle {
  width: 1vw;
  height: 1vw;
  border-radius: 2vw;
  margin-right: 0.5vw;
  background: #ff6400;
}
.fixed_cont .tit .tit_wrap p {
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins;
}
.scroll_page {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  padding-inline: 10vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background: #fff;
  margin-bottom: 50vh;
  box-sizing: border-box;
}
.scroll_page .motif {
  width: 100%;
  height: 200vh;
}
.motif .tit,
.meaning .tit {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  padding-bottom: 1vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #c1c1c1;
}
.scroll_page .motif .cont {
  padding-inline: 7vw;
  padding-top: 6vw;
  padding-bottom: 6vw;
  display: flex;
  gap: 9vw;
}
.scroll_page .motif .cont .left {
  width: 32vw;
  height: 32vw;
  position: relative;
}
.scroll_page .motif .cont .right {
  display: flex;
  align-items: center;
}
.scroll_page .motif .cont .right .txt {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1vw;
  max-width: 23vw;
  font-size: 17px;
  text-align: left;
  word-break: keep-all;
}
.scroll_page .motif .cont .right .txt p {
  line-height: 1.5;
  font-weight: 400;
}
.scroll_page .motif .cont .right .txt p:first-child {
  font-size: 26px;
  font-weight: 700;
}
.scroll_page .motif .cont .right .txt p:last-child {
  font-weight: 600;
}
.meaning {
  width: 100%;
  position: sticky;
  top: 0;
  height: fit-content;
  padding-inline: 10vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  margin-bottom: 250vh;
  background: #fff;
  box-sizing: border-box;
}
.meaning .cont {
  height: 200vh;
  padding-top: 12vw;
  display: flex;
  justify-content: space-between;
}
.meaning .cont .logo_img {
  margin-left: 14vw;
  font-size: 17px;
  min-width: 46vw;
}
.meaning .cont .logo_img .img_box .logo {
  width: 46vw;
  height: 9vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meaning .cont .logo_img .img_box .logo > svg {
  width: 13vw;
  height: 9vw;
}
.meaning .cont .logo_img .img_box .logo .logo_txt {
  position: relative;
  width: 31vw;
  height: 9.5vw;
}

.meaning .cont .logo_img .img_box .logo .logo_txt .txt1 {
  position: relative;
  width: 21vw;
  height: 5.5vw;
}
.meaning .cont .logo_img .img_box .logo .logo_txt .txt1 svg {
  position: absolute;
  left: -0.3vw;
  width: 100%;
  height: 100%;
}
.meaning .cont .logo_img .img_box .logo .logo_txt svg {
  position: absolute;
  bottom: 0;
  width: 30vw;
  height: 6vw;
}
.meaning .cont .logo_img .img_box .first {
  margin-top: 3vw;
  margin-left: 15vw;
}
.meaning .cont .logo_img .img_box .second {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-left: 15vw;
  margin-top: 4vw;
  font-size: 16px;
  transition: all 0.8s ease-in-out 0s;
}
.meaning .cont .logo_img .img_box .second p:first-child {
  font-weight: 600;
}
.meaning .cont .logo_img .img_box .third {
  display: flex;
  gap: 3vw;
  margin-top: 4vw;
  margin-left: 15vw;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.8s ease-in-out 0s;
}
.meaning .cont .logo_img .img_box .third p {
  line-height: 24px;
}
.meaning .cont .logo_img .img_box .third svg {
  width: 273px;
  height: 160px;
}
.meaning .cont .logo_img .img_box .third .left,
.meaning .cont .logo_img .img_box .third .right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1vw;
}
.meaning .cont .logo_img .img_box .fourth {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-top: 4vw;
  margin-left: 15vw;
  transition: all 0.8s ease-in-out 0s;
}
.meaning .cont .logo_img .img_box .fourth p:first-child {
  font-weight: 600;
}
.meaning .cont .pro_line {
  display: block;
  position: relative;
  top: 15px;
  width: 4px;
  height: 360px;
}
.meaning .cont .pro_line .pro {
  position: absolute;
  width: 100%;
  height: 20%;
  background: #ffa300;
  z-index: 1;
  transition: all 0.8s ease-in-out;
}
.meaning .cont .pro_line hr {
  width: 100%;
  height: 100%;
  background: rgb(209, 209, 209);
  opacity: 0.6;
  border: none;
}
.logo_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4vw;
  position: sticky;
  top: 0;
  height: 100vh;
  margin-bottom: 50vh;
  text-align: center;
  background: #fff;
}
.logo_info .tit {
  width: 35vw;
  font-size: 26px;
  font-weight: 700;
}
.logo_info .svg_wrap {
  width: 100%;
  height: 606px;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo_info .svg_wrap .desc_top {
  margin-bottom: 1vw;
}
.logo_info .svg_wrap .desc {
  display: flex;
  gap: 160px;
  margin-top: 1vw;
}
.logo_info .svg_wrap p.highlight {
  position: relative;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1vw;
  font-weight: 700;
}
.logo_info .svg_wrap p.highlight:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: #ff6400;
  opacity: 0.2;
}
.logo_info .svg_wrap svg {
  width: 560px;
  height: 397px;
  /* position: absolute; */
  top: 15%;
}

/* brand_info */
.brand_info {
  position: relative;
  background: #fff;
}
.brand_info .info_wrap {
  width: 100%;
  padding-top: 4vw;
  padding-inline: 9vw;
  box-sizing: border-box;
}
.brand_info .info_wrap .color_tit,
.brand_info .info_wrap .guide_tit {
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  padding-bottom: 1vw;
  margin-bottom: 3vw;
  border-bottom: 1px solid #c1c1c1;
}
.brand_info .info_wrap .txt_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.brand_info .info_wrap .txt_box .txt_left {
  font-size: 27px;
  font-weight: 400;
  font-family: Poppins;
}
.brand_info .info_wrap .txt_box .txt_left p:nth-child(2) {
  font-size: 19px;
  font-family: Pretendard;
  font-weight: 700;
}
.brand_info .info_wrap .txt_box .txt_right {
  width: 54vw;
  font-size: 17px;
  margin-bottom: 3vw;
}
.brand_info .info_wrap .color_cont {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.brand_info .info_wrap .color_cont .cont_box {
  width: fit-content;
}
.brand_info .info_wrap .color_cont .cont_box .cont {
  display: flex;
  align-items: center;
  gap: 3.5vw;
  margin-bottom: 7vw;
}
.brand_info .info_wrap .color_cont .cont_box .cont p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}
.brand_info .info_wrap .color_cont .cont_box .cont svg {
  width: 2.5vw;
  height: 1.5vw;
}
.brand_info .info_wrap .color_cont .cont_box .cont .left,
.brand_info .info_wrap .color_cont .cont_box .cont .right {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-direction: column;
  gap: 0.8vw;
  height: 18vw;
}
.brand_info .info_wrap .color_cont .cont_box .cont .left .img_box {
  position: relative;
  width: 19vw;
  height: 12vw;
}
.brand_info .info_wrap .color_cont .cont_box .cont .img_box img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.brand_info .info_wrap .color_cont .cont_box .cont .right .img_box {
  position: relative;
  width: 26vw;
  height: 15vw;
}
.brand_info .info_wrap .guide_tit .btn {
  display: flex;
  gap: 0.5vw;
}
.brand_info .info_wrap .guide_tit .btn button {
  width: 138px;
  height: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #adadad;
  border-radius: 1.5vw;
  background: #fff;
  cursor: pointer;
}
.brand_info .info_wrap .guide_tit .btn button.print p {
  width: 73px;
}
.brand_info .info_wrap .guide_tit .btn button svg {
  width: 20px;
  height: 20px;
  fill: transparent;
}
.brand_info .info_wrap .guide_cont {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.brand_info .info_wrap .guide_cont .usage {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.brand_info .info_wrap .guide_cont .usage .images {
  width: fit-content;
}
.brand_info .info_wrap .guide_cont .usage .images .img_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5vw 2vw;
}
.brand_info .info_wrap .guide_cont .usage .images .img_wrap img {
  position: relative;
  width: 26vw;
  height: 9.6vw;
}
.brand_info .info_wrap .guide_cont .size {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.brand_info .info_wrap .guide_cont .cont {
  width: fit-content;
}
.brand_info .info_wrap .guide_cont .cont .cont_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54vw;
  gap: 2vw;
}
.guide_cont .cont .cont_box .tit {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 0.5vw;
}
.size .cont .cont_box .img_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.size .cont .cont_box .img_box .img_left,
.size .cont .cont_box .img_box .img_right {
  position: relative;
}
.size .cont .cont_box .img_box img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.size .cont .cont_box > div {
  width: 100%;
}
.size .cont .cont_box .symbol .img_box .img_left {
  width: 15vw;
  height: 13vw;
}
.size .cont .cont_box .img_box .img_right {
  width: 19vw;
  height: 6vw;
}
.size .cont .cont_box .logo .img_box .img_left {
  width: 32.6vw;
  height: 12.5vw;
}
.size .cont .cont_box .logo_kor .img_box .img_left {
  width: 32vw;
  height: 12.5vw;
}
.guide_cont .color {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.guide_cont .color .cont .cont_box .palette {
  display: flex;
  gap: 2vw;
  font-family: Poppins;
  width: fit-content;
}
.palette .core > div > p {
  font-weight: 500;
}
.palette .secondary > div > p {
  font-weight: 500;
}
.palette .code {
  display: flex;
  align-items: end;
  gap: 1vw;
  font-size: 12px;
}
.palette .code .code_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.palette .code .code_wrap div {
  display: flex;
  gap: 0.2vw;
}
.palette .core .orange {
  width: 30.5vw;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  background: #ff6400;
  color: #fff;
  padding-top: 0.9vw;
  padding-bottom: 0.5vw;
  padding-inline: 1vw;
}
.palette .core .cw {
  display: flex;
}
.palette .core .cw .charcoal {
  width: 16.5vw;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  background: #323232;
  color: #fff;
  padding-top: 1vw;
  padding-bottom: 0.5vw;
  padding-inline: 1vw;
}
.palette .core .cw .white {
  width: 12.5vw;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  background: #fff;
  color: #000;
  padding-top: 1vw;
  padding-bottom: 0.5vw;
  padding-inline: 1vw;
}
.palette .secondary {
  margin-top: 0;
}
.palette .secondary > div {
  width: 17vw;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  padding-top: 1vw;
  padding-bottom: 0.5vw;
  padding-inline: 1vw;
}
.palette .secondary .burgundy {
  background: #5f0a32;
  color: #fff;
}
.palette .secondary .tangerine {
  background: #ffa300;
  color: #fff;
}
.palette .secondary .sand {
  background: #f7decb;
  color: #323232;
}
.guide_cont .color .cont .cont_box .pro_usage .images {
  position: relative;
  width: 53.5vw;
  height: 34vw;
}
.pro_usage .images img {
  width: 100%;
}
.brand_info .info_wrap .letter {
  position: relative;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.brand_info .info_wrap .letter > div {
  position: relative;
  width: 81vw;
  height: 17vw;
  border-radius: 1.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
  background: #fdf8f5;
}
.brand_info .info_wrap .letter > div svg {
  width: 22vw;
  height: 4vw;
}
.brand_info .info_wrap .letter > div a .go {
  display: flex;
  align-items: center;
  margin-top: 2.6vw;
}
.brand_info .info_wrap .letter > div a .go .line {
  width: 1vw;
  height: 0.1vw;
  margin-right: 0.6vw;
  background: #ff6400;
}
.brand_info .info_wrap .letter > div a .go .txt {
  display: flex;
  align-items: center;
}
.brand_info .info_wrap .letter > div a .go .txt p:first-child {
  font-family: Poppins;
  margin-right: 0.3vw;
  font-weight: 500;
}
.brand_info .info_wrap .letter > div a .go .txt p:last-child {
  font-size: 15px;
  font-weight: 600;
}
footer {
  width: 100%;
  padding-top: 3vw;
  padding-inline-start: 8vw;
  padding-inline-end: 8vw;
  display: flex;
  flex-direction: column;
  background: #323232;
  color: #fff;
  box-sizing: border-box;
}
footer .contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .contents .left svg {
  width: 390px;
  height: 74px;
}
footer .contents .left .co_info {
  display: flex;
  flex-direction: column;
}
footer .contents .left .co_info .txt {
  display: flex;
  flex-direction: column;
}
footer .contents .left .co_info .txt > p {
  line-height: 19px;
  margin-top: 3vw;
  margin-bottom: 1vw;
  font-weight: 600;
}
footer .contents .left .co_info .txt .info_txt {
  width: 26vw;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}
footer .contents .left .co_info .txt .info_txt p {
  line-height: 16px;
  margin-right: 1vw;
  margin-bottom: 0.6vw;
  font-weight: 300;
}
footer .contents .left .co_info .fam_site {
  position: relative;
  width: 250px;
  height: 40px;
  margin-top: 4vw;
}
footer .contents .left .co_info .fam_site .site_box {
  width: 100%;
  position: absolute;
  bottom: 40px;
  margin-bottom: 0.5vw;
  display: none;
}
footer .contents .left .co_info .fam_site .site_box.on {
  display: block;
}
footer .contents .left .co_info .fam_site .site_box > div {
  border-radius: 0.6vw;
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
  padding: 10%;
  font-size: 14px;
  background: #fff;
}
footer .contents .left .co_info .fam_site .site_box > div .name {
  display: flex;
  align-items: center;
  gap: 2%;
}
footer .contents .left .co_info .fam_site .site_box > div .name svg {
  width: 14px;
  height: 14px;
  fill: transparent;
}
footer .contents .left .co_info .fam_site .site_box > div .name path {
  stroke: #000;
}
footer .contents .left .co_info .fam_site button {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-inline-start: 0.5vw;
  padding-inline-end: 0.5vw;
  border-radius: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}
footer .contents .left .co_info .fam_site button p {
  margin-left: 0.8vw;
  font-size: 15px;
  font-family: Poppins-regular;
}
footer .contents .left .co_info .fam_site button svg.arrow {
  position: relative;
  width: 23px;
  height: 23px;
  fill: transparent;
}
footer .contents .left .co_info .fam_site button svg.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  fill: transparent;
  display: none;
}
footer .contents .right {
  width: 100%;
}
footer .contents .right .list_box {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
footer .contents .right .list_box .list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1vw;
}
footer .contents .right .list_box .list .txt {
  border-top: 1px solid #999;
}
footer .contents .right .list_box .list .txt a {
  display: block;
  color: #fff;
}
footer .contents .right .list_box .list .txt .tit {
  height: 23px;
  font-size: 16px;
  font-family: Poppins;
  line-height: 11px;
  padding-top: 2vw;
  padding-bottom: 0.5vw;
}
footer .contents .right .list_box .list .txt div {
  font-weight: 500;
  padding-bottom: 2vw;
}
footer .contents .right .list_box .list .txt div a {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0.5vw;
}
footer .copyright {
  margin-top: 0.5vw;
  padding-top: 1vw;
  padding-bottom: 1.6vw;
  font-size: 12px;
  border-top: 1px solid #999;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.48);
}
.drop_box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0);
  background: #fff;
  z-index: 9999;
}
.drop_box header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 16px;
  padding-inline: 50px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  box-sizing: border-box;
}
.drop_box header a {
  cursor: pointer;
}
.drop_box header a svg {
  width: 210px;
  height: 100%;
  flex-shrink: 0;
  vertical-align: middle;
}
.drop_box header svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  vertical-align: middle;
  cursor: pointer;
}
.drop_menu .boxes {
  position: relative;
  height: 645px;
  display: flex;
}
.drop_menu .boxes .menu_left {
  position: relative;
  padding-top: 40px;
  padding-inline: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  flex: 2 1 0;
}
.drop_menu .boxes .menu_left .menu_wrap {
  position: relative;
  display: flex;
}
.menu_left .menu_wrap .main_menu {
  margin-right: 5vw;
}
.menu_left .menu_wrap .main_menu li {
  margin-bottom: 0.6vw;
  font-size: 40px;
  line-height: 54px;
}
.menu_left .menu_wrap .main_menu li a {
  font-family: Poppins;
  color: #000;
}
.menu_left .menu_wrap .main_menu li:hover a {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}
.menu_left .menu_wrap .sub_menu {
  position: relative;
  padding-top: 14px;
  width: 398px;
}
.menu_left .menu_wrap .sub_menu > div {
  flex-direction: column;
  gap: 24px;
}
.menu_left .menu_wrap .sub_menu > div {
  position: absolute;
  display: flex;
}
.menu_left .menu_wrap .sub_menu .tit {
  font-weight: 600;
  line-height: 24px;
}
.menu_left .menu_wrap .sub_menu .tit:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.menu_left .menu_wrap .sub_menu .small_menu {
  margin-top: 6px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.menu_left .menu_wrap .sub_menu .small_menu a {
  font-size: 15px;
  line-height: 24px;
}
.menu_left .menu_wrap .sub_menu .group a,
.menu_left .menu_wrap .sub_menu .brands a.tit {
  font-family: Poppins;
  font-weight: 500;
}
.menu_left .menu_wrap .sub_menu .business > div {
  display: flex;
  flex-flow: wrap;
}
.menu_left .menu_wrap .sub_menu .business > div > div {
  margin-bottom: 24px;
  width: 50%;
}
.menu_left .menu_wrap .sub_menu .business > div .food {
  order: 0;
}
.menu_left .menu_wrap .sub_menu .business > div .network {
  order: 2;
}
.menu_left .menu_wrap .sub_menu .business > div .culture {
  order: 4;
}
.menu_left .menu_wrap .sub_menu .business > div .esg {
  order: 1;
}
.menu_left .menu_wrap .sub_menu .business > div .esg .tit {
  font-family: Poppins;
}
.menu_left .menu_wrap .sub_menu .business > div .bio {
  order: 3;
}
.menu_left .menu_wrap .sub_menu .business div {
  height: 100%;
}
.menu_left .menu_wrap .sub_menu .careers span {
  font-weight: 300;
}
.menu_left .menu_wrap .sub_menu a {
  color: #323232;
  font-size: 17px;
}
.drop_menu .boxes .menu_left .lang {
  display: flex;
  justify-content: right;
  width: 100%;
}
.drop_menu .boxes .menu_left .lang div {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 40px;
  height: 30px;
  font-size: 20px;
}
.drop_menu .boxes .menu_left .lang div p {
  font-weight: 500;
  color: #848484;
  cursor: pointer;
}
.drop_menu .boxes .menu_left .lang div hr {
  width: 2px;
  height: 20px;
  background: #c1c1c1;
  margin: 0 8px;
  border: none;
  opacity: 0.6;
}
.drop_menu .boxes .menu_right {
  position: relative;
  height: 100%;
  flex: 1.4 1 0;
}
.drop_menu .boxes .menu_right img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
