@charset "utf-8";
@font-face {
  font-family: Pretendard;
  src: url(../../webfonts/PretendardVariable.woff2) format("woff2");
}
@font-face {
  font-family: Poppins;
  src: url(../../webfonts/Poppins-Medium.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #323232;
}
body {
  color: #323232;
  font-family: Pretendard;
  font-weight: 300;
}
.wrap {
  max-width: calc(100vw- (100vw - 100%));
  height: 100vh;
}
header {
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  transition: all 0.3s;
  z-index: 9999;
}
header .menu {
  width: 548px;
  height: 100%;
  padding: 0 30px 0 40px;
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 30px 0;
}
.menu a {
  display: block;
  width: 210px;
  flex-shrink: 0;
  height: 100%;
  line-height: 6;
}
.menu .lines {
  width: 72px;
  height: 22px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .lines .one {
  width: 50%;
  height: 2px;
  transform: translate(100%);
  transition: 0.7s;
  background-color: #fff;
}
.menu .lines:hover .one {
  transform: translate(0%);
}
.menu .lines .two {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu .lines .three {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
header .logo_ko {
  width: 1215px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 50px;
  font-size: 15px;
  font-weight: 500;
}
.container {
  height: 100vh;
  padding-top: 70px;
}
.main_wrap {
  max-width: calc(100vw - (100vw - 100%));
  margin: 0 auto;
  overflow-x: hidden;
}
.video {
  position: relative;
  width: 100%;
  height: 888px;
}
.video video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  overflow: hidden;
}
.read_more {
  position: absolute;
  left: 50%;
  bottom: 3vw;
  transform: translate(-50%);
}
.read_more button {
  position: relative;
  width: 121px;
  height: 43px;
  font-size: 15px;
  font-weight: 500;
  background: transparent;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
  color: #1a1a1a;
  cursor: pointer;
  transition: 0.2s;
}
.read_more button:hover {
  background: #ff6400;
  color: #fff;
}
.read_more button p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Poppins;
  font-weight: 500;
  z-index: 2;
}
.read_more button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 43px;
  height: 43px;
  fill: transparent;
}
.inside {
  max-width: calc(100vw - (100vw - 100%));
  padding-top: 7vw;
  padding-bottom: 7vw;
  padding-inline-start: 9vw;
  padding-inline-end: 9vw;
  margin-inline-start: auto;
  margin-inline-end: auto;
  background: #fdf8f5;
}
.inside .tit_eng {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 12px;
  font-weight: 600;
}
.inside .tit_ko {
  font-size: 19px;
  line-height: 34px;
  margin-bottom: 2vw;
  font-weight: 600;
}
.inside .contents {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}
.inside .contents a {
  position: relative;
  cursor: pointer;
  text-align: center;
  flex: 1 1 0;
}
.inside .contents a .box {
  position: relative;
}
.inside .contents a .box:before {
  content: "";
  display: block;
  padding-bottom: 100%;
  box-sizing: border-box;
}
.inside .contents a .box .hover_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside .contents a .box .hover_box .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.inside .contents a .box .hover_box .hover:hover {
  opacity: 1;
}
.inside .contents a .box .hover_box .hover .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff6400;
  border-radius: 50%;
  color: #fff;
  z-index: 99;
}
.inside .contents a .box .hover_box .hover .txt {
  width: 90%;
}
.inside .contents a .box .hover_box .hover .txt p {
  font-size: 20px;
  font-weight: 600;
  white-space: nomal;
}
.inside .contents a .box .hover_box .hover .hover_dimmed {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 0.6;
}
.inside .contents a .box .hover_box img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.inside .contents a .tit {
  font-size: 18px;
  margin-top: 20px;
  font-family: Poppins;
  font-weight: 500;
}
.brand {
  display: flex;
  width: 100%;
  height: 56.25vw;
}
.brand .left {
  width: 50%;
  padding-top: 9vw;
  padding-bottom: 7vw;
  padding-inline-start: 9vw;
  padding-inline-end: 9vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
.brand .left .tit {
  text-align: left;
}
.brand .left .tit p:first-child {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  font-family: Poppins;
}
.brand .left .tit p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  padding: 12px 0 70px;
}
.brand .left .content {
  position: relative;
  margin-bottom: 6vw;
  display: flex;
  flex-direction: column;
}
.brand .left .content .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.brand .left .content .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.brand .left .content .swiper-slide img {
  display: block;
  width: 25vw;
  height: 26vw;
  border-radius: 1vw;
  margin-bottom: 1vw;
}
.slide_btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 99;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  scale: 1.1;
  fill: transparent;
  color: #000;
}
.swiper-button-prev svg {
  transform: rotate(180deg);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.slide_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
.slide_txt .tit {
  font-size: 17px;
  font-weight: 600;
}
.slide_txt .txt {
  font-size: 15px;
}

.brand .mySwiper2 img {
  width: 100%;
  height: 100%;
}
.brand .left .read_more {
  bottom: 5.5vw;
  font-weight: 500;
}
.now {
  padding-top: 8vw;
  padding-bottom: 8vw;
  padding-inline-start: 9vw;
  padding-inline-end: 9vw;
  display: flex;
  gap: 2.6vw;
  background: #fdf8f5;
}
.now .tit_box {
  padding-top: 2vw;
  border-top: 3px solid #f7decb;
  flex: 1;
}
.now .tit_box .eng_tit {
  font-size: 28px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 34px;
  margin-bottom: 1vw;
}
.now .tit_box .ko_tit {
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}
.now .news_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 2;
}
.now .news_box > div {
  position: relative;
  width: 47%;
  min-height: 12.5vw;
  border-top: 3px solid #f7decb;
}
.now .news_box > div .line {
  position: absolute;
  top: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background: #ff6400;
  transition: width 0.5s;
}
.now .news_box > div a:hover .line {
  width: 100%;
}
.now .news_box > div.cont1,
.now .news_box > div.cont3 {
  margin-right: 2.6vw;
}
.now .news_box > div .main_tit {
  font-size: 20px;
  font-weight: 600;
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  color: #ff6400;
}
.now .news_box .cont_txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.now .news_box > div .cont_txt .txt_wrap {
  width: 19vw;
}
.now .news_box > div:not(.cont4) .cont_txt .txt_wrap .sub_tit {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.now .news_box > div.cont4 .sub_tit {
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  word-break: keep-all;
}
.now .news_box > div .cont_txt .txt_wrap .txt {
  font-size: 15px;
  margin-top: 0.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #999;
}
.now .news_box > div .cont_txt .go {
  height: 26px;
}
.now .news_box > div .cont_txt .go .full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4vw;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
.now .news_box .cont_txt svg {
  width: 20px;
  height: 20px;
  fill: transparent;
}
.now .news_box > div a:hover svg {
  background: #ff6400;
  border-radius: 50%;
}
.now .news_box > div a:hover path {
  stroke: #fff;
}
.images {
  position: relative;
  width: 100vw;
  height: auto;
  background: #fdf8f5;
}
.images .img_wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.images .img_wrap .box {
  width: 25vw;
  height: 25vw;
  position: relative;
  cursor: pointer;
}
.images .img_wrap .box .hover_box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: #ff6400;
  z-index: 2;
}
.images .img_wrap a:hover .hover_box {
  opacity: 1;
}
.images .img_wrap .box .hover_box .circle {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff924c;
  border-radius: 50%;
}
.images .img_wrap .box .hover_box .circle .text_box {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  font-weight: 600;
}
.images .img_wrap .box .hover_box .circle .text_box .tit {
  font-size: 26px;
  color: #fff;
}
.images .img_wrap .box .hover_box .circle .text_box .txt {
  font-size: 16px;
}
.images .img_wrap .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  padding-top: 6vw;
  padding-inline-start: 8vw;
  padding-inline-end: 8vw;
  display: flex;
  flex-direction: column;
  background: #323232;
  color: #fff;
  box-sizing: border-box;
}
footer .contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .contents .left svg {
  width: 390px;
  height: 74px;
}
footer .contents .left .co_info {
  display: flex;
  flex-direction: column;
}
footer .contents .left .co_info .txt {
  display: flex;
  flex-direction: column;
}
footer .contents .left .co_info .txt > p {
  line-height: 19px;
  margin-top: 3vw;
  margin-bottom: 1vw;
  font-weight: 600;
}
footer .contents .left .co_info .txt .info_txt {
  width: 26vw;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}
footer .contents .left .co_info .txt .info_txt p {
  line-height: 16px;
  margin-right: 1vw;
  margin-bottom: 0.6vw;
  font-weight: 300;
}
footer .contents .left .co_info .fam_site {
  position: relative;
  cursor: pointer;
  width: 250px;
  height: 40px;
  margin-top: 4vw;
}
footer .contents .left .co_info .fam_site .site_box {
  width: 100%;
  position: absolute;
  bottom: 40px;
  margin-bottom: 0.5vw;
  display: none;
}
footer .contents .left .co_info .fam_site .site_box.on {
  display: block;
}
footer .contents .left .co_info .fam_site .site_box > div {
  border-radius: 0.6vw;
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
  padding: 10%;
  font-size: 14px;
  background: #fff;
}
footer .contents .left .co_info .fam_site .site_box > div .name {
  display: flex;
  align-items: center;
  gap: 2%;
}
footer .contents .left .co_info .fam_site .site_box > div .name svg {
  width: 14px;
  height: 14px;
  fill: transparent;
}
footer .contents .left .co_info .fam_site .site_box > div .name path {
  stroke: #000;
}
footer .contents .left .co_info .fam_site button {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-inline-start: 0.5vw;
  padding-inline-end: 0.5vw;
  border-radius: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}
footer .contents .left .co_info .fam_site button p {
  margin-left: 0.8vw;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
}
footer .contents .left .co_info .fam_site button svg.arrow {
  position: relative;
  width: 23px;
  height: 23px;
  fill: transparent;
}
footer .contents .left .co_info .fam_site button svg.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  fill: transparent;
  display: none;
}
footer .contents .right {
  width: 100%;
}
footer .contents .right .list_box {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
footer .contents .right .list_box .list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1vw;
}
footer .contents .right .list_box .list .txt {
  border-top: 1px solid #999;
}
footer .contents .right .list_box .list .txt a {
  display: block;
  color: #fff;
}
footer .contents .right .list_box .list .txt .tit {
  height: 23px;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 11px;
  padding-top: 2vw;
  padding-bottom: 0.5vw;
}
footer .contents .right .list_box .list .txt div {
  font-weight: 500;
  padding-bottom: 2vw;
}
footer .contents .right .list_box .list .txt div a {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0.5vw;
}
footer .copyright {
  margin-top: 0.5vw;
  padding-top: 1vw;
  padding-bottom: 1.6vw;
  font-size: 12px;
  border-top: 1px solid #999;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.48);
}
.drop_box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0);
  background: #fff;
  z-index: 9999;
}
.drop_box header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 16px;
  padding-inline: 50px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  box-sizing: border-box;
}
.drop_box header a {
  cursor: pointer;
}
.drop_box header a svg {
  width: 210px;
  height: 100%;
  flex-shrink: 0;
  vertical-align: middle;
}
.drop_box header svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  vertical-align: middle;
  cursor: pointer;
}
.drop_menu .boxes {
  position: relative;
  height: 645px;
  display: flex;
}
.drop_menu .boxes .menu_left {
  position: relative;
  padding-top: 40px;
  padding-inline: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  flex: 2 1 0;
}
.drop_menu .boxes .menu_left .menu_wrap {
  position: relative;
  display: flex;
}
.menu_left .menu_wrap .main_menu {
  margin-right: 5vw;
}
.menu_left .menu_wrap .main_menu li {
  margin-bottom: 0.6vw;
  font-size: 40px;
  line-height: 54px;
}
.menu_left .menu_wrap .main_menu li a {
  font-family: Poppins;
  color: #000;
}
.menu_left .menu_wrap .main_menu li:hover a {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}
.menu_left .menu_wrap .sub_menu {
  position: relative;
  padding-top: 14px;
  width: 398px;
}
.menu_left .menu_wrap .sub_menu > div {
  flex-direction: column;
  gap: 24px;
}
.menu_left .menu_wrap .sub_menu > div {
  position: absolute;
  display: flex;
}
.menu_left .menu_wrap .sub_menu .tit {
  font-weight: 600;
  line-height: 24px;
}
.menu_left .menu_wrap .sub_menu .tit:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.menu_left .menu_wrap .sub_menu .small_menu {
  margin-top: 6px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.menu_left .menu_wrap .sub_menu .small_menu a {
  font-size: 15px;
  line-height: 24px;
}
.menu_left .menu_wrap .sub_menu .group a,
.menu_left .menu_wrap .sub_menu .brands a.tit {
  font-family: Poppins;
  font-weight: 500;
}
.menu_left .menu_wrap .sub_menu .business > div {
  display: flex;
  flex-flow: wrap;
}
.menu_left .menu_wrap .sub_menu .business > div > div {
  margin-bottom: 24px;
  width: 50%;
}
.menu_left .menu_wrap .sub_menu .business > div .food {
  order: 0;
}
.menu_left .menu_wrap .sub_menu .business > div .network {
  order: 2;
}
.menu_left .menu_wrap .sub_menu .business > div .culture {
  order: 4;
}
.menu_left .menu_wrap .sub_menu .business > div .esg {
  order: 1;
}
.menu_left .menu_wrap .sub_menu .business > div .esg .tit {
  font-family: Poppins;
}
.menu_left .menu_wrap .sub_menu .business > div .bio {
  order: 3;
}
.menu_left .menu_wrap .sub_menu .business div {
  height: 100%;
}
.menu_left .menu_wrap .sub_menu .careers span {
  font-weight: 300;
}
.menu_left .menu_wrap .sub_menu a {
  color: #323232;
  font-size: 17px;
}
.drop_menu .boxes .menu_left .lang {
  display: flex;
  justify-content: right;
  width: 100%;
}
.drop_menu .boxes .menu_left .lang div {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  padding-bottom: 40px;
  height: 30px;
  font-size: 20px;
}
.drop_menu .boxes .menu_left .lang div p {
  font-weight: 500;
  color: #848484;
  cursor: pointer;
}
.drop_menu .boxes .menu_left .lang div hr {
  width: 2px;
  height: 20px;
  background: #c1c1c1;
  margin: 0 8px;
  border: none;
  opacity: 0.6;
}
.drop_menu .boxes .menu_right {
  position: relative;
  height: 100%;
  flex: 1.4 1 0;
}
.drop_menu .boxes .menu_right img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}
