@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: NotoSansKR-;
  src: url(/webfont/NotoSansKR-Regular.ttf);
}
body {
  font-family: "NotoSansKR", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
header {
  width: 100%;
  height: 75px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}
header .wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .wrap a {
  display: block;
  width: 213px;
  height: 100%;
}
header .wrap a .logo {
  width: 213px;
  height: 75px;
  background: url(../images/header_logo.png) center no-repeat;
}
.wrap .menu {
  width: 750px;
  height: 100%;
  display: flex;
}
.menubg {
  position: absolute;
  width: 100%;
  top: 75px;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: height 0.7s;
}
.menubg::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
}
.wrap .menu:hover ~ .menubg::after {
  opacity: 1;
}

/* @keyframes menubg {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: calc(345px - 75px);
  }
} */
.wrap .menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
}
.wrap .menu > ul > li {
  width: 125px;
  height: 100%;
}
.wrap .menu > ul > li > a {
  width: 125px;
  height: 100%;
  line-height: 75px;
  text-align: center;
  color: #fff;
  font-size: 16;
  font-weight: bold;
}

.wrap .menu > ul > li > ul {
  width: 125px;
  text-align: center;
  margin: 40px 0;
  height: 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: height 0.5s;
}
.wrap .menu > ul > li > ul > li {
  width: 125px;
  height: 26px;
}

.wrap .menu > ul > li > ul > li > a {
  width: 125px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  z-index: 1;
}
header .menu .naver li:first-child a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menu .naver img {
  width: 27px;
  height: 27px;
  object-fit: cover;
}

header .menu .sub_menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav > ul {
  height: 75px;
}
.nav ul li {
  margin-right: 30px;
  float: left;
}
.langwrap {
  width: 60px;
  height: 30px;
  border-radius: 14px;
  border: 1px solid #fff;
  position: relative;
  top: 23px;
  transition: height 0.5s;
}
.language {
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 6px;
  left: 12px;
}
.language > li {
  font-size: 12px;
}
.language > li:not(:first-child) {
  opacity: 0;
}

.language li:first-child::after {
  content: ">";
  position: absolute;
  right: 5px;
  font-size: 1px;
  transform: scaley(1.5);
  rotate: 90deg;
}
.language:hover li:first-child::after {
  transform: rotate(180deg);
}
/* 일단보류 */
.button {
  width: 19px;
  height: 75px;
  background: url(../images/btn_all_menu_main.png) center no-repeat;
  cursor: pointer;
}
.button:hover {
  background: url(../images/sub/btn_all_menu_hover.png) center no-repeat;
}
.search {
  width: 21px;
  height: 75px;
  background: url(../images/btn_search.png) center no-repeat;
  cursor: pointer;
}

section .main {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 95px;
  height: 843px;
}
section .main .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -75px;
  left: 0;
}

section .main .bg img {
  width: 2240px;
  height: 843px;
  object-fit: cover;
  top: 0;
  left: 0;
}
section .slogan {
  text-align: center;
  padding-top: 180px;
  position: relative;
  z-index: 3;
}
.bg img {
  opacity: 1;
}
section .view a {
  display: block;
  width: 152px;
  margin: 0 auto;
  height: 45px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}
section .view a:hover {
  background: #1b2e59;
  border: none;
}
section .main .mainbt {
  bottom: 0;
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
}
section .main input {
  display: none;
}
section .main .pause {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 77.5%;
  left: 59%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}
/* section .main .mainbt label {
  float: left;
  width: 53px;
  height: 3px;
  background: rgba(96, 96, 96, 0.5);
  text-align: center;
  padding: 1px 6px;
  margin-left: 3px;
  cursor: pointer;
  position: relative;
  top: 700px;
  z-index: 3;
} */
section .sub {
  width: 100%;
  height: 1000px;
  text-align: center;
}
section .sub h1 {
  margin-top: -30px;
  font-size: 48px;
  font-weight: 500;
  padding: 80px 0 30px;
}
section input {
  display: none;
}
section .sub .text {
  width: 100%;
  position: relative;
}
section .sub p {
  margin-bottom: 100px;
}
section .clip {
  position: relative;
}
section .clip .clipob li {
  margin-top: -50px;
  width: 100%;
  height: 300px;
}
section .clip .clipob li {
  position: absolute;
  padding: 25px 0 75px;
  opacity: 0;
}
section .clip .clipob li:first-child {
  background: url(../images/business_daelim2.png), url(../images/business01.png);
  background-repeat: no-repeat;
  background-position: center;
}
section .clip .clipob li:nth-child(2) {
  background: url(../images/business_daelim2.png), url(../images/business02.png);
  background-repeat: no-repeat;
  background-position: center;
}
section .clip .clipob li:nth-child(3) {
  background: url(../images/business_daelim2.png), url(../images/business03.png);
  background-repeat: no-repeat;
  background-position: center;
}
section .clip .clipob li:nth-child(4) {
  background: url(../images/business_daelim2.png), url(../images/business04.png);
  background-repeat: no-repeat;
  background-position: center;
}
section .clip .clipob li:nth-child(5) {
  background: url(../images/business_daelim2.png), url(../images/business05.png);
  background-repeat: no-repeat;
  background-position: center;
}
section .clip .clipob li:first-child img,
section .clip .clipob li:nth-child(2) img,
section .clip .clipob li:nth-child(3) img,
section .clip .clipob li:nth-child(4) img,
section .clip .clipob li:nth-child(5) img {
  position: absolute;
  top: -140px;
  right: 219px;
}

.sub .btn {
  position: relative;
  top: 400px;
  display: flex;
  width: 100%;
  height: 54px;
  justify-content: center;
  column-gap: 10px;
  column-gap: 10px;
}
.sub .btn li {
  width: 220px;
  height: 54px;
  line-height: 54px;
  border: 1px solid;
  box-sizing: border-box;
}
.sub .btn li label {
  display: block;
  cursor: pointer;
}
.sub .btntxt {
  position: relative;
  top: 454px;
  display: flex;
  justify-content: center;
}
.sub .btntxt li {
  position: absolute;
  display: none;
}
#one:checked ~ .clip .clipob li:first-child,
#two:checked ~ .clip .clipob li:nth-child(2),
#three:checked ~ .clip .clipob li:nth-child(3),
#four:checked ~ .clip .clipob li:nth-child(4),
#five:checked ~ .clip .clipob li:nth-child(5) {
  opacity: 1;
  transition: 1s;
}
#one:checked ~ .btn li:first-child,
#two:checked ~ .btn li:nth-child(2),
#three:checked ~ .btn li:nth-child(3),
#four:checked ~ .btn li:nth-child(4),
#five:checked ~ .btn li:nth-child(5) {
  background: #1b2e59;
  color: #fff;
}
#one:checked ~ .btntxt li:first-child,
#two:checked ~ .btntxt li:nth-child(2),
#three:checked ~ .btntxt li:nth-child(3),
#four:checked ~ .btntxt li:nth-child(4),
#five:checked ~ .btntxt li:nth-child(5) {
  display: block;
}
section .sub .view2 {
  position: relative;
  width: 150px;
  margin: 0 auto;
  height: 50px;
  font-size: 18px;
  border: 1px solid;
  line-height: 50px;
  top: 550px;
  left: 0;
}
footer {
  position: relative;
  width: 100%;
  text-align: center;
}
footer h1 {
  margin-top: -30px;
  font-size: 48px;
  font-weight: 500;
  padding: 80px 0 30px;
}
footer .container {
  margin-top: 50px;
  width: 100%;
  display: flex;
}
footer .left {
  background: #2c53af;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #fff;
  position: relative;
  width: 35%;
  box-sizing: border-box;
  min-width: 483px;
}
footer .left > li:first-child {
  background: url(../images/aboutc_bg.png) center/cover no-repeat;
  height: 272px;
}
footer .left > li:nth-child(2),
footer .left > li:nth-child(3) {
  height: calc((600px - 272px) / 2);
}
footer .left li:first-of-type > ul::after,
footer .left li:nth-of-type(2) > ul::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  transform: translateY(43px);
  opacity: 0.3;
}
.left > li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 50px 35px;
  box-sizing: border-box;
}
.left > li > ul > li {
  margin-top: 30px;
}
footer .left h2 {
  font-size: 70px;
}
footer .left ul {
  font-size: 22px;
}
footer .left ul li {
  font-size: 14px;
}
footer .right {
  height: 600px;
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 75px 60px;
  box-sizing: border-box;
  justify-content: space-between;
  background: #f5f5f5;
  flex-wrap: wrap;
  text-align: left;
  min-width: 897px;
}
footer .right_title > span:first-of-type {
  text-align: left;
  font-size: 22px;
}
footer .box_wrap {
  display: flex;
  gap: 35px;
}
footer .right li > ul {
  float: left;
}
footer .right li .privacy,
footer .right li .public {
  width: 390px;
  height: 240px;
  border: 1px solid #ccc;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}
footer .right li .privacy::after,
footer .right li .public::after {
  content: "";
  border: 1px dashed rgb(204, 204, 204);
  position: absolute;
  bottom: 35px;
  width: 385px;
  left: 0;
  z-index: 1;
}
footer .right li .privacy p,
footer .right li .public p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.privacy > li:nth-child(2),
.public > li:nth-child(2) {
  font-size: 14px;
  letter-spacing: -2px;
  line-height: 1.5;
  color: #666;
}
.privacy > li:nth-child(3),
.public > li:nth-child(3) {
  height: 5%;
  padding: 0;
}

.privacy > li:nth-child(3) span,
.public > li:nth-child(3) span {
  font-size: 14px;
  position: relative;
  color: #666;
}
.privacy > li:nth-child(3) span::after,
.public > li:nth-child(3) span::after {
  content: "+";
  position: absolute;
  left: 330px;
  font-size: 30px;
  font-weight: 100;
  display: block;
  top: -15px;
  color: #818181;
}
footer .right .icon {
  clear: both;
  display: flex;
  justify-content: space-between;
  gap: 75px;
}
footer .right .icon li {
  display: flex;
  column-gap: 20px;
}

footer .right .icon li img {
  width: 67px;
  height: 67px;
}
footer .right .icon li h3 {
  font-size: 20px;
  color: #333;
  width: 100%;
  font-weight: 500;
  white-space: nowrap;
}
footer .right .icon li p {
  font-size: 14px;
  color: #666;
}
.info_bg {
  width: 100%;
  background: #333;
  height: 300px;
}
.info {
  width: 1108px;
  display: flex;
  padding: 50px 0;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: left;
}
.info > li a {
  font-size: 18px;
}
.info > li {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.info li > ul {
  margin-top: 20px;
  position: relative;
}
.info li > ul::before {
  display: block;
  content: "";
  width: 15px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}
.info li > ul a {
  font-size: 13px;
  color: #a2a9b3;
}
.info li a {
  color: #fff;
}
footer .copybg {
  background: #323b4a;
}
footer .copy {
  margin: 0 auto;
  width: 1180px;
}
footer .copy .copy_wrap {
  width: 60%;
  margin: 0 auto;
}
footer .copy .copy_top {
  width: 883px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
footer .copy .copy_top::after {
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #a2a9b3;
  position: absolute;
  bottom: 0px;
  opacity: 0.1;
}
footer .copy .copy_top > .cpleft {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
  column-gap: 20px;
  white-space: nowrap;
}
footer .copy .copy_top > .cpleft li {
  position: relative;
}
footer .copy .copy_top > .cpleft li:first-child a {
  font-weight: bold;
  color: #fff;
}
footer .copy .copy_top > .cpleft li::after {
  content: "·";
  position: absolute;
  right: -10px;
  color: #a2a9b3;
}
footer .copy .copy_top > .cpleft li:last-child:after {
  content: "";
}

footer .copy .copy_top > .cpright li {
  display: flex;
  height: 37px;
  width: 167px;
  line-height: 37px;
  justify-content: space-between;
  background: #222936;
  text-align: center;
  column-gap: 0;
}
.cpright li a:first-child {
  flex-basis: 80%;
}
.cpright li a:last-child {
  flex-basis: 20%;
  border-left: 1px solid #323b4a;
}

.cpleft li a,
.cpright li a {
  color: #a2a9b3;
  font-size: 12px;
}
footer .copy .copy_bot {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  padding: 30px 0 40px;
}
footer .copy .copy_bot span {
  font-size: 12px;
  color: #a2a9b3;
}
footer .copy .copy_bot span:last-child {
  flex-basis: 100%;
}
/* 스와이퍼 */
