@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: robo, nanum, ibml,sans-serif;
    word-spacing: 0px
}
@font-face {
    font-family: robo;
    src: url(../font/RobotoMono-Regular.woff);
}
@font-face {
    font-family: ibml;
    src: url(../font/IBMPlexSansKR-Light.woff);
}
@font-face {
    font-family: nanum;
    src: url(../font/NanumSquareB.woff);
}
@font-face {
    font-family: blod;
    src: url(../font/KoPubWorld\ Dotum\ Bold.woff);
}
@font-face {
    font-family: nanum2;
    src: url(../font/KoPubWorld\ Dotum\ Medium.woff);
}
.remocon2 {
    position: fixed;
    z-index: 5;
    left: 30px;
    bottom: 60px;
    width: 40px;
    padding: 10px;
}
.remocon2  ul li {
    position: relative;
    margin-bottom: 20px;
}
.remocon2 img {
    width: 25px;
}
.remocon2 li a::after {
    position: absolute;
    bottom: 18px;
    right: -40px;
    content: "";
    width: 0px;
    height: 8px;
    background: #000;
    transition: width 0.5s;
}
.remocon2 li:hover a::after {
    width: 40px;
}
div.remocon {
    cursor: pointer;
    position: fixed;
    z-index: 5;
    right: 50px;
    bottom: 60px;
    width: 60px;
    height: 65px;
    background: #000;
}
div.remocon img {
    width: 40px;
    margin: 10px 10px;
}
/*기본설정, 헤더시작*/
header {
    width: 1400px;
    margin: 0 auto;
}
header .head {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
header .head img {
   width: 260px;
   height: 50px;
}
header .head ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .head ul li a {
    position:relative;
    font-size: 20px;
    font-weight: bold;
}
header .head ul li a:hover::after, header .head ul li:nth-child(4) a::after {
    width: 100%;
    opacity: 100%;
}
header .head ul li a::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    width: 0%;
    opacity: 0%;
    height: 3px;
    background: #000;
    transition: all 0.5s;
}
header .head ul .button {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
header .head ul .button .line {
    width: 100%;
    height: 3px;
    background: #aaa;
}
header .head ul .button .line2 {
    width: 40%;
    height: 3px;
    background: #aaa;
    transition: width 0.5s;
}
header .head ul .button:hover .line2 {
    width: 100%;
}
/*헤더끝, 모달팝업 시작*/
#modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #eee;
}
#modal .inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #eee;
}
#modal .inner .modaltop {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#modal .inner .modaltop img {
    height: 60px;
}
#modal .inner .modaltop span {
    font-family: ibml;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}
#modal .inner .modalmeun {
    display: flex;
    justify-content: space-between;
    padding: 80px 80px;
}
.modalRight li a {
    position: relative;
    font-size: 80px;
    line-height: 120px;
    font-weight: bold;
    color: #aaa;
}
.modalRight li a::after {
    position: absolute;
    bottom: 18px;
    right: -40px;
    content: "";
    width: 0px;
    height: 8px;
    background: #000;
    transition: width 0.5s;
}
.modalRight li a:hover, .modalRight li:hover a::after, .modalRight li:nth-child(4) a::after {
    color: #000;
    width: 40px;
}
.modalRight li:nth-child(4) a {
    color: #000;
}
.modalLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modalLeft p {
    position: relative;
    font-size: 22px;
    line-height: 30px;
    text-align: right;
}
.modalLeft p span::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #000;
}
.modalLeft .sns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.modalLeft .sns li {
    overflow: hidden;
}
.modalLeft .sns li a {
    transition: all 0.3s;
}
.modalLeft .sns li a img {
    width: 30px;
}
.modalLeft .sns li a:hover {
    background: #aaa;
    border-radius: 50%;
}
/*모달팝업 끝*/
.toptxt {
    width: 1200px;
    margin: 140px auto 120px;
}
.toptxt h1 {
    font-family: blod;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 60px;
}
.toptxt p {
    width: 100%;
    height: 100%;
    position: relative;
}
.toptxt p span {
      font-family: nanum;
      font-weight: bold;
      font-size: 22px;
      word-spacing: 0px
}
.toptxt p::after {
    font-family: nanum;
    position: absolute;
    z-index: -1;
    right: -100px;
    bottom: -185px;
    content: "SHOP";
    color: #eee;
    font-size: 250px;
    font-weight: bold;
    word-spacing: -20px
}
/*탑 텍스트 끝*/
.shop {
    width: 100%;
    background: #eee;
}
.menu {
    width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}
.menu .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.menu .top li {
    font-family: nanum;
    margin-left: 5px;
}
.menu .top li select {
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.menu .top  li:last-child select {
    width: 100px;
}
.menu .top li input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.menu .top li ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu .top li .box {
    cursor: pointer;
    width: 80px;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    line-height: 50px;
}
.batoom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.batoom li {
    cursor: pointer;
    width: 24%;
    overflow: hidden;
    margin-bottom: 50px;
}
.shopI img{
    width: 100%;
    height: 145px;
    object-fit: cover;
}
.batoom li p {
    margin-top: 5px;
}
.batoom li p:hover {
    text-decoration: underline;
}
.btn {
    display: flex;
    justify-content: space-between;
}
.btn .leftB, .rightB {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
.btn .num {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn .num li {
    cursor: pointer;
    margin: 0 5px;
    font-size: 26px;
}
.btn .num li:first-child {
    font-size: 32px;
    font-weight: bold;
}
.btn .num li:hover {
    font-weight: bold;
}
footer {
    width: 100%;
    background: #fff;
    padding: 50px 0;
}
footer .foot {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .foot .footin {
    width: 33.33%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
footer .foot .footin li ul {
    display: flex;
    justify-content: space-between;
}
footer .foot .footin li ul li:first-of-type {
    font-size: 20px;
    font-weight: bold;
}
footer .foot li {
    margin-bottom: 15px;
}
footer .foot .footin2 {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
footer .foot .footin2 li a:hover {
    text-decoration: underline;
}