@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: robo, nanum, nanum2, ibml,sans-serif;
    word-spacing: 0px
}
.box {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: robo;
    src: url(../font/RobotoMono-Regular.woff);
}
@font-face {
    font-family: ibml;
    src: url(../font/IBMPlexSansKR-Light.woff);
}
@font-face {
    font-family: nanum;
    src: url(../font/NanumSquareB.woff);
}
@font-face {
    font-family: nanum2;
    src: url(../font/KoPubWorld\ Dotum\ Medium.woff);
}
.remocon2 {
    position: fixed;
    z-index: 5;
    left: 30px;
    bottom: 60px;
    width: 40px;
    padding: 10px;
}
.remocon2  ul li {
    position: relative;
    margin-bottom: 20px;
}
.remocon2 img {
    width: 25px;
}
.remocon2 li a::after {
    position: absolute;
    bottom: 18px;
    right: -40px;
    content: "";
    width: 0px;
    height: 8px;
    background: #000;
    transition: width 0.5s;
}
.remocon2 li:hover a::after {
    width: 40px;
}
div.remocon {
    cursor: pointer;
    position: fixed;
    z-index: 5;
    right: 50px;
    bottom: 60px;
    width: 60px;
    height: 65px;
    background: #000;
}
div.remocon img {
    width: 40px;
    margin: 10px 10px;
}
/*기본설정, 헤더시작*/
header {
    width: 1400px;
    margin: 0 auto;
}
header .head {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
header .head img {
   width: 260px;
   height: 50px;
}
header .head ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .head ul li a {
    position:relative;
    font-size: 20px;
    font-weight: bold;
}
header .head ul li a:hover:after {
    width: 100%;
    opacity: 100%;
}
header .head ul li a::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    width: 0%;
    opacity: 0%;
    height: 3px;
    background: #000;
    transition: all 0.5s;
}
header .head ul .button {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
header .head ul .button .line {
    width: 100%;
    height: 3px;
    background: #aaa;
}
header .head ul .button .line2 {
    width: 40%;
    height: 3px;
    background: #aaa;
    transition: width 0.5s;
}
header .head ul .button:hover .line2 {
    width: 100%;
}
/*헤더끝, 모달팝업 시작*/
#modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #eee;
}
#modal .inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #eee;
}
#modal .inner .modaltop {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#modal .inner .modaltop img {
    height: 60px;
}
#modal .inner .modaltop span {
    font-family: ibml;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}
#modal .inner .modalmeun {
    display: flex;
    justify-content: space-between;
    padding: 80px 80px;
}
.modalRight li a {
    position: relative;
    font-size: 80px;
    line-height: 120px;
    font-weight: bold;
    color: #aaa;
}
.modalRight li a::after {
    position: absolute;
    bottom: 18px;
    right: -40px;
    content: "";
    width: 0px;
    height: 8px;
    background: #000;
    transition: width 0.5s;
}
.modalRight li a:hover, .modalRight li:hover a::after {
    color: #000;
    width: 40px;
}
.modalLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modalLeft p {
    position: relative;
    font-size: 22px;
    line-height: 30px;
    text-align: right;
}
.modalLeft p span::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #000;
}
.modalLeft .sns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.modalLeft .sns li {
    overflow: hidden;
}
.modalLeft .sns li a {
    transition: all 0.3s;
}
.modalLeft .sns li a img {
    width: 30px;
}
.modalLeft .sns li a:hover {
    background: #aaa;
    border-radius: 50%;
}
/*모달팝업 끝*/
.visual {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 130px;
    font-family: nanum;
}
.visual .visualtxt {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.visual .visualtxt ul {
    margin-bottom: 35px;
    margin-left: 40px;
}
.visual .visualtxt ul:first-child li {
    font-family: ibml;
    font-size: 80px;
    line-height: 90px;
}
.visual .visualtxt ul:nth-child(2) li:first-child {
    margin-bottom: 20px;
}
.visual .visualtxt ul li p {
    line-height: 25px;
}
.visual  .visualImg {
    position: absolute;
    z-index: -1;
    bottom: -340px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    object-fit: cover;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 67%;
    background-color: #000;
    background-image: url(../image/btn1.png);
    text-indent: -9999px;
}
.owl-carousel .owl-nav button.owl-prev {
    background-position: 0px 0px;
    left: 180px;
}
.owl-carousel .owl-nav button.owl-next {
    background-position: 50px 0px;
    left: 235px;
}
/*메인비주얼끝*/
.about {
    width: 1200px;
    margin: 600px auto 100px;
}
.about .aboutIn {
    display: flex;
    justify-content: space-between;
}
.about .aboutIn .aboutL {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about .aboutIn .aboutL p:first-child {
    margin-top: 80px;
    font-size: 18px;
}
.about .aboutIn .aboutL h1 {
    font-family: robo;
    font-size: 68px;
    line-height: 68px;
    margin-bottom: 20px;
}
.about .aboutIn .aboutL .btn {
    cursor: pointer;
    text-align: center;
    width: 180px;
    height: 60px;
    background: #000;
    border: 1px solid #000;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    transition: background 0.4s;
}
.about .aboutIn .aboutL .btn a {
    color: #fff;
}
.about .aboutIn .aboutL .btn:hover {
    background: #fff;
    border: 1px solid #000;
}
.about .aboutIn .aboutL .btn:hover a {
    color: #000;
}
/*어바웃 끝*/
.txt {
    margin-top: 100px;
    width: 100%;
}
.txt .txtT {
    font-size: 88px;
    color: #000;
    font-weight: bold;
}
.txt .txtB {
    font-size: 88px;
    color: #fff;
    font-weight: bold;
}
/*움직이는 텍스트 끝*/
.brand {
    width: 100%;
    max-width: 1920px;
    margin-top: 100px;
}
.brand p {
    width: 1200px;
    margin: 0 auto 10px;
}
.brand p b {
    font-size: 18px;
}
.brand .brandtop {
    width: 1200px;
    margin: 0px auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand .brandtop h1 {
    font-family: robo;
    width: 50%;
    font-size: 48px;
    line-height: 50px;
}
.brand .brandtop p {
    width: 50%;
    line-height: 28px;
}
.brandImg {
    position: relative;
    width: 100%;
    padding: 15px 0 95px;
}
.brandImg img {
    max-width: 100%;
}
.Bimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brandImg .brandL {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
}
.txtwrap {
    position: absolute;
    left: 0;
    top: -550px;
}
.brandImg .brandL .txt {
    margin-bottom: 60px;
    font-size: 18px;
}
.brandImg .brandL .txt h1 {
    font-size: 48px;
    margin-top: 10px;
    padding-bottom: 50px;
}
.brandImg .brandL .txtwrap .btn {
    cursor: pointer;
    text-align: center;
    width: 180px;
    height: 60px;
    color: #000;
    background: #fff;
    border: 1px solid #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    transition: background 0.4s;
}
.brandImg .brandL .btn:hover {
    background: none;
    color: #fff;
    border: 1px solid #fff;
}
/*브랜드 끝*/
.map {
    width: 100%;
    background: #eee;
}
.map .mapwrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
.mapL {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-spacing: 0px
}
.mapL  h1 {
    font-size: 48px;
    font-weight: bold;
    word-spacing: -20px
}
.mapL p:first-child {
    font-size: 24px;
}
.mapL .btn {
    cursor: pointer;
    text-align: center;
    width: 180px;
    height: 60px;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    transition: background 0.4s;
}
.mapL .btn:hover {
    background: #eee;
    color: #000;
    border: 1px solid #000;
}
.mapR {
    width: 650px;
    height: 500px;
    background: #333;
    box-shadow: -10px 10px 50px #333;
    overflow: hidden;
}
.mapR iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/*맵 끝*/
footer {
    width: 100%;
    background: #fff;
    padding: 50px 0;
}
footer .foot {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .foot .footin {
    width: 33.33%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
footer .foot .footin li ul {
    display: flex;
    justify-content: space-between;
}
footer .foot .footin li ul li:first-of-type {
    font-size: 20px;
    font-weight: bold;
}
footer .foot li {
    margin-bottom: 15px;
}
footer .foot .footin2 {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
footer .foot .footin2 li a:hover {
    text-decoration: underline;
}
@media screen and (max-width:1400px) {
    body {
        overflow: hidden;
    }
    header {
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
    }
    header .head ul li a {
        display: none;
    }
}
@media screen and (max-width:1200px) {
    .owl-carousel .owl-nav button.owl-prev {
        left: 5%;
    }
    .owl-carousel .owl-nav button.owl-next {
        left: 12%;
    }
    .about {
        width: 100vw;
        padding: 15px;
        box-sizing: border-box;
        margin-top: 400px;
    }
    .about .aboutIn {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about .aboutIn .aboutL .btn {
        margin-top: 10px;
        align-self: flex-end;
        line-height: 60px;
    }
    .about .aboutIn .abuR img {
        width: 70%;
    }
    .brand .brandtop, .brand p b {
        width: 100%;
        padding: 15 0px;
        box-sizing: border-box;
    }
    .brand .brandL .txtwrap {
        width: 50%;
        height: 50%;
        padding: 20px;
        top: -450px;
        box-sizing: border-box;
    }
    .brand .brandL .txt h1 {
        font-size: 28px;
        padding-bottom: 20px;
    }
    .brand .brandL .txt p {
        font-size: 14px;
    }
    .box .map {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .box .map .mapwrap {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box .map .mapwrap .mapL .btn {
        margin: 25px 0;
        align-self: flex-end;
    }
    footer .foot {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        justify-content: space-around;
    }
    footer .foot a:hover {
        text-decoration: underline;
    }
    footer .foot .footin:first-child {
        width: 10%;
    }
    footer .foot .footin:nth-child(2) {
        width: 45%;
    }
    footer .foot .footin2 {
        align-items: flex-start;
        justify-content: space-between;
    }
    .footin:first-child li ul li:nth-child(2) {
        display: none;
    }
    div.remocon {
        right: 40px;
        bottom: 40px;
        width: 40px;
        height: 40px;
        background: #000;
    }
    div.remocon img {
        width: 25px;
        margin: 5px 8px;
    }
    .remocon2 {
        display: none;
    }
}
@media screen and (max-width:780px) {
    .visual .visualtxt ul:first-child li {
        font-size: 40px;
        margin-bottom: 0px;
    }
    .visual .visualtxt ul:nth-child(2) li:nth-child(2) {
        display: none;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: 5%;
    }
    .owl-carousel .owl-nav button.owl-next {
        left: 15%;
    }
    .brand p b {
        padding: 10px;
    }
    .brand .brandtop {
        padding: 10px;
    }
    .brand .brandL .txtwrap {
        width: 50%;
        height: 50%;
        padding: 20px;
        top: -300px;
        box-sizing: border-box;
    }
    .brand .brandL p b {
        display: none;
    }
    .brand .brandL .txtwrap .btn {
    display: none;
    }
    footer .foot {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    footer .foot .footin:first-child {
        width: 70%;
    }
    footer .foot .footin:nth-child(2) {
        width: 70%;
    }
    footer .foot .footin2 {
        width: 70%;
    }
    #modal .inner .modaltop {
        padding: 10px;
    }
    #modal .inner .modalmeun .modalLeft {
        display: none;
    }
}