@charset "utf-8";

@font-face {
  font-family: InterBlack;
  src: url(../webfonts/Inter_24pt-Black.woff) format("woff");
}
@font-face {
  font-family: InterB;
  src: url(../webfonts/Inter_24pt-Bold.woff) format("woff");
}
@font-face {
  font-family: InterSB;
  src: url(../webfonts/Inter_24pt-SemiBold.woff) format("woff");
}
@font-face {
  font-family: InterM;
  src: url(../webfonts/Inter_24pt-Medium.woff) format("woff");
}
@font-face {
  font-family: InterR;
  src: url(../webfonts/Inter_24pt-Regular.woff) format("woff");
}
@font-face {
  font-family: NotoB;
  src: url(../webfonts/NotoSansKR-Bold.woff) format("woff");
}
@font-face {
  font-family: NotoR;
  src: url(../webfonts/NotoSansKR-Regular.woff) format("woff");
}
@font-face {
  font-family: NotoL;
  src: url(../webfonts/NotoSansKR-Light.woff) format("woff");
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #fff;}

/* html{
  scrollbar-width: none;
} */
 html{
  scroll-behavior: smooth;
}
/*기기에 따라 오류 발생 */
/* 풀페이지 함께 활용시 딜레이 발생 */

body{
  background-color: #000;
  overflow-x: hidden;
}
#wrap{
  width: 100%;
}


/* header 시작 */
header{
  margin: 0 auto;
  width: 100%; height: 100px;
  text-align: center;
  display: flex; justify-content: center;
  position: fixed; z-index: 999;
}
header .nav{
  display: flex;
  align-items: center;
  gap: 100px;
}
header .nav li{
  position: relative;
}
header .nav li a{
  font-family: InterBlack;
  font-size: 18px;
  letter-spacing: 1px;
  color: #FF4040;
  transition: .5s;
  
}
header .nav li a:after{
  display: block;
  content: '';
  border-bottom: 3px solid #FF4040;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}
/* header .nav li a.s5:after{
  display: block;
  content: '';
  border-bottom: 3px solid #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
} */
header .nav li:nth-child(3) a:after{
  content: none;
}
header .nav li a:hover:after,
header .nav li a.on:after{
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
header .nav li span{
  color: #FF4040;
  font-family: NotoR;
  font-size: 12.5px;
  position: absolute;
  left: 50%; top: 30px;
  transform: translateX(-50%);
  display: block;
  width: 120px; text-align: center;
}
header .nav li a img{
  width: 85%;
}

/* s0 시작 */
.s0{
  height: 100vh; width: 100%;
  margin: 0 auto;
  display: flex; flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
  box-sizing: border-box;
  left: 50px;
}
.s0 .leftWord{
  display: flex; flex-direction: column;
  gap: 40px;
  font-family: InterSB;
  font-size: 18px;
  color: #FF4040;
}
.s0 .mainWord{
  position: relative;
}
.s0 .mainWord p:nth-child(2){
  position: absolute;
  left: 950px; top: -50px;
}
.s0 .mainWord p{
  overflow: hidden;
}
.s0 .mainWord p img{
  transform: translateY(370px);
}
.s0>p{
  /* width: 700px; height: 800px; */
  width: 0; height: 0;
/*   background-image: linear-gradient(to bottom, #FF4040, transparent); */
background-image: url(../images/s0_bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  opacity: 0;
  position: absolute; left: 46%; bottom: 0;
  transform: translateX(-50%);
  border-radius: 500px 500px 0 0;
}


/* s1 시작 */
.s1{
  width: 80%; height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; align-items: center;
  gap: 100px;
}
.s1 .left{
  width: 30%;
  display: flex; flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.s1 .left>p{
  width: 70%; aspect-ratio: 1 / 1.2;
  background-color: #555;
  border-radius: 500px 500px 0 0;
  overflow: hidden;
}
.s1 .left>p img{
  width: 100%; height: 100%; object-fit: cover;
}
.s1 .left .text{
  display: flex; flex-direction: column;
  gap: 13px;
  color: #fff;
  font-family: InterR;
  font-size: 15px;
}
.s1 .left .text .name{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}
.s1 .left .text .name h4{
  font-weight: normal;
  font-family: NotoL;
  font-size: 23px;
  letter-spacing: 10px;
}

.s1 .right{
  flex: 1;
  color: #fff;
  display: flex; flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.s1 .right h5{
  color: #FF4040;
  line-height: 50px;
  margin-bottom: 10px;
  font-family: InterB;
  font-size: 17px;
}
.s1 .right .whiteword{
  font-family: NotoL;
  font-size: 14px;
  line-height: 30px;
}
.s1 .right .rTop{
  display: flex;
  gap: 150px;
}
.s1 .right .rTop .whiteword{
  margin-bottom: 15px;
}
.s1 .right .rTop .rTopR ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.s1 .right .rBottom ul.skill{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.s1 .right .rBottom ul.skill li{
  display: flex; flex-direction: column;
  align-items: center;
  width: 155px;
  margin: 15px 0;
  gap: 10px;
}


/* s2 시작 */
#section2 {
  position: relative;
  padding-top: 100px;
}
#section2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FF4040;
  z-index: 900;
  opacity: 0.15;
}
#section2.on::after {
  display: none;
}
.s2{
  width: 100%; height: 100%;
  margin: 0 auto;
  /* padding-top: 100px; */
}
.s2 h1{
  color: #FF4040;
  text-transform: uppercase;
  font-family: InterBlack;
  margin: 10px 10% 0;
}
#s2 .mySwiper {
  width: 100%;
  height: 100%;
  /* background-color: #444; */
  
}
#s2 .mySwiper .swiper-wrapper{
  align-items: center;
}

#s2 .mySwiper li.swiper-slide {
  width: 80%; height: 85% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: relative;
  padding: 150px 0;
}
/* .mySwiper li.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.s2 .web>li .left{
  width: 800px;
  position: relative;
}
.s2 .web>li .left p:nth-child(1){
  width: 100%;
  background-color: #999;
  height: 450px;
}
.s2 .web>li .left p:nth-child(1) img{
  width: 100%; height: 100%; object-fit: cover;
}
.s2 .web>li .left p.mobile{
  position: absolute;
  right: -50px; bottom: -50px;
  width: 240px; height: 479.1px;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
  border: 2px solid #333;
  box-shadow: 8px 15px 15px rgba(0,0,0,.3);
}
.s2 .web>li .left p.mobile img{
  width: 100%; height: 100%; object-fit: cover;
  object-position: top;
}
.s2 .web>li .left p.mobile:hover img{
  object-position: bottom;
  transition: 15s linear;
}
.s2 .web>li .left p.num{
  position: absolute;
  left: -50px; top: -50px;
}
.s2 .web>li .right{
  width: 600px;
  display: flex; flex-direction: column;
  gap: 20px;
  color: #fff;
  font-family: NotoL;
  font-size: 15px;
  
}
.s2 .web>li .right .topEx{
  line-height: 30px;
  letter-spacing: -1px;
  font-size: 15px;
}
.s2 .web>li .right .middleEx li{
  display: flex;
  align-items: center;
  gap: 50px;
  line-height: 18px;
  margin: 20px 0;
  letter-spacing: -.5px;
}
.s2 .web>li .right .middleEx li h4{
  font-weight: normal;
  font-family: InterSB;
  color: #FF4040;
  text-align: center;
  width: 55px;
}
.s2 .web>li .right .middleEx li .color{
  display: flex; gap: 10px;
}
.s2 .web>li .right .middleEx li .color p{
  width: 20px; height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.s2 .web>li .right .btn{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.s2 .web>li .right .btn li{
  
}
.s2 .web>li .right .btn li a{
  display: block;
  padding: 10px 0;
  width: 130px;
  text-align: center;
  border-radius: 100px;
  font-family: InterR;
  border: 1px solid #FF4040;
  color: #FF4040;
  transition: .5s;
}
.s2 .web>li .right .btn li a:hover{
 background-color: #FF4040;
 color: #000;
}
.s2 .web>li p.brandname{
  position: absolute;
  left: 130px; bottom: 230px;
}
.s2 .web>li:nth-child(2) p.brandname{
  left: 130px; bottom: 200px;
}

#s2 .swiper-pagination-clickable .swiper-pagination-bullet{
  background-color: #FF4040;
  border-radius: 50px;
  /* width: 30px; */
  margin: 4px;
  transition: .5s;
  height: 10px; width: 10px;
}
#s2 .swiper-pagination-bullet-active{
  width: 50px !important;
  /* margin: 0 4px !important; */
}

/* s2_1 시작 */
.s2_1{
  width: 80%; margin: 0 auto;
  height: 800px;
}
.s2_1 h1{
  color: #FF4040;
  text-transform: uppercase;
  font-family: InterBlack;
  margin: 150px 0 80px;
}
.s2_1 ul{
  width: 100%; 
  display: flex;
  gap: 50px;
}
.s2_1 ul li{flex: 1;}
.s2_1 ul li a{
  display: inline-block; width: 100%;
  background-color: #111;
  aspect-ratio: 1 / 1;
  flex: 1;
  overflow: hidden;
  transition: .5s;
}
.s2_1 ul li a:hover{
  background-color: #FF4040;
}
.s2_1 ul li a img{
  width: 100%; height: 100%;
  object-fit: cover;
  object-position: 60% center;
  transition: .5s;
}
.s2_1 ul li a:hover img{
  border-radius: 0 100px 0 0;
  transform: scale(1.05);
  transform-origin: right top;
}
.s2_1 ul li p{
  text-align: center;
  color: #FF4040;
  font-family: NotoB;
  line-height: 50px;
}


/* s3 시작 */
.s3{
  width: 100%; height: 100vh;
  margin: 0 auto;
  position: relative;
}
.s3 .box{
  position: absolute;
  overflow: hidden;
}
.s3 .logoBox{
  left: 0; top: 50px;
  z-index: 10;
}
.s3 .designBox{
  right: 0; bottom: 30px;
}
.mySwiper1 {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  /* position: relative; */
  
}
.mySwiper1 .swiper-wrapper{
  align-items: center;
  position: static !important;
}

.mySwiper1 .swiper-slide {
  width: 300px; height: 500px;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  box-sizing: border-box;
  position: static !important;
}
.mySwiper1 .swiper-slide a{
  display: block;
  width: 400px; height: 400px;
  overflow: hidden;
  transition: .5s;
}
.mySwiper1 .swiper-slide a:hover{
  background-color: #FF4040;
}
.mySwiper1 .swiper-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}
.mySwiper1 .swiper-slide a:hover img{
  border-radius: 0 100px 0 0;
  transform: scale(1.05);
  transform-origin: right top;
}
.mySwiper1 .swiper-slide p{
  font-family: NotoB;
  color: #fff;
  line-height: 100px;
  transition: .5s;
}
.s2 .swiper-slide:nth-child(1) .middleEx li:last-child p:nth-child(1){background: #FFB400;}
.s2 .swiper-slide:nth-child(1) .middleEx li:last-child p:nth-child(2){background: #333;}
.s2 .swiper-slide:nth-child(1) .middleEx li:last-child p:nth-child(3){background: #fff;}

.s2 .swiper-slide:nth-child(2) .middleEx li:last-child p:nth-child(1){background: #6F8B31;}
.s2 .swiper-slide:nth-child(2) .middleEx li:last-child p:nth-child(2){background: #D1A931;}
.s2 .swiper-slide:nth-child(2) .middleEx li:last-child p:nth-child(3){background: #F2EFE4;}

.s2 .swiper-slide:nth-child(3) .middleEx li:last-child p:nth-child(1){background: #FF7700;}
.s2 .swiper-slide:nth-child(3) .middleEx li:last-child p:nth-child(2){background: #000; border: 1px solid #fff;}
.s2 .swiper-slide:nth-child(3) .middleEx li:last-child p:nth-child(3){background: #fff;}

.s2 .swiper-slide:nth-child(4) .middleEx li:last-child p:nth-child(1){background: #002569;}
.s2 .swiper-slide:nth-child(4) .middleEx li:last-child p:nth-child(2){background: #7DD8FF;}
.s2 .swiper-slide:nth-child(4) .middleEx li:last-child p:nth-child(3){background: #99FFAC;}


.mySwiper1 #btn{
  position: absolute;
  left: 50%; bottom: 50px;
  transform: translateX(-50%);
  z-index: 99;
  width: 200px; height: 100px;
}
.mySwiper1 #btn .swiper-button-next,
.mySwiper1 #btn .swiper-button-prev{
  width: 70px; height: 70px;
  border: 1px solid #FF4040;
  border-radius: /* 100px 0 0  */100px;
  transition: .5s;
  
}
.mySwiper1 #btn .swiper-button-next{
  /* border-radius: 0 100px 100px 0; */
}
.mySwiper1 #btn .swiper-button-next:hover,
.mySwiper1 #btn .swiper-button-prev:hover{
  background-color: #FF4040;
  width: 100px;
}
.mySwiper1 #btn .swiper-button-next:after,
.mySwiper1 #btn .swiper-button-prev:after{
content: none;
}
.mySwiper1 #btn .swiper-button-next img,
.mySwiper1 #btn .swiper-button-prev img{
  width: 40%;
}
.mySwiper1 #btn .swiper-button-next:hover img,
.mySwiper1 #btn .swiper-button-prev:hover img{
  color: #000;
}




/* s4 시작 */
.s4{
  width: 100%; height: 100vh;
  margin: 0 auto;
  position: relative;
}
.s4 .box{
  position: absolute;
  overflow: hidden;
}
.s4 .chaBox{
  left: 0; top: 50px;
  z-index: 10;
}
.s4 .designBox{
  right: 0; bottom: 30px;
}

/* s5 시작 */
.s5{
  width: 100%; height: 100vh;
  margin: 0 auto;
  display: flex; flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 50px;
}
#s5 p.bg{
  position: absolute;
  width: 100%; height: 100%;
  background-image: linear-gradient(to bottom, rgba(255,64,64,1),transparent),url(../images/s0_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
}
.s5 .flower{
  width: 216px; height: 216px;
  margin: 0 auto; position: relative;
  display: flex; justify-content: center; align-items: center;
}
.s5 .flower p{
  position: absolute; top: 0; background-image: url(../images/s5_flowerleaf.png);
  width: 34px; height: 108px;
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: 50% 100%; opacity: 0;
}
.flower .i1{transform: scale(1.5);}
.flower .i2{transform: rotate(45deg) scale(1.5);}
.flower .i3{transform: rotate(90deg) scale(1.5);}
.flower .i4{transform: rotate(135deg) scale(1.5);}
.flower .i5{transform: rotate(180deg) scale(1.5);}
.flower .i6{transform: rotate(-135deg) scale(1.5);}
.flower .i7{transform: rotate(-90deg) scale(1.5);}
.flower .i8{transform: rotate(-45deg) scale(1.5);}
.s5 .text{
  color: #FF4040;
  text-align: center;
  line-height: 40px;
  font-family: NotoR;
}
.s5 .line{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px; /* height: 220px; */
  height: 0;
  background-color: #FF4040;
}
.s5 .line1{top: 0;}
.s5 .line2{top: calc(100% - 220px);}


/* s6 시작 */
.s6{
  width: 100%; height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.s6 .con{
  display: flex; flex-direction: column;
  gap: 50px;
}
.s6 .con .logo{
  position: relative;
  right: -30px;
}
.s6 .con .logo p:nth-child(2){
  position: absolute;
  right: 10px; top: -30px;
  animation: ani 10s linear infinite;
}
@keyframes ani {
  0%{transform: rotate(0);}
  100%{transform: rotate(720deg);}
}
.s6 .line3{
  position: absolute;
  left: 50%; top: 0;
  transform: translateX(-50%);
  width: 1px; height: 220px;
  background-color: #FF4040;
}
.s6 a#topBtn{
  display: block;
  padding: 10px 0;
  width: 130px;
  text-align: center;
  border-radius: 100px;
  font-family: InterR;
  border: 1px solid #FF4040;
  color: #FF4040;
  transition: .5s;
  position: absolute;
  bottom: 100px;
}
.s6 a#topBtn:hover{
 background-color: #FF4040;
 color: #000;
}