body {
  font-family: "Teko", "Noto Sans KR", sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
}
section .mySwiper {
  width: 100%;
  height: 100%;
}
section .mySwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
section .mySwiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page {
  width: 100%;
  height: 100%;
  background: url(../images/portFirstbg.png) center/cover no-repeat;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_bg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item {
  width: 100%;
  height: 100%;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .circle_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .circle_wrap .first_circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18%;
  width: 681px;
  height: 681px;
  background: #bc3837;
  border-radius: 50%;
  z-index: 2;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .circle_wrap .first_circle::before {
  content: "01";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -35%;
  font-size: 300px;
  color: rgba(255, 255, 255, 0.1);
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .circle_wrap .first_circle_bg {
  filter: blur(80px);
  opacity: 0.6;
  mix-blend-mode: screen;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .circle_wrap .first_con {
  position: relative;
  left: 18%;
  width: 681px;
  height: 681px;
  z-index: 4;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .circle_wrap .first_con > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 607px;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .circle_wrap .first_con .first_rect {
  position: absolute;
  top: calc(50% - 62px);
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 576px;
  height: 306px;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .circle_wrap .first_con .first_rect img {
  position: relative;
  top: 0px;
  width: 100%;
  transition: top 10s;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc {
  width: 35%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  z-index: 5;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap {
  color: #fff;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap h1 {
  font-size: 60px;
  text-transform: capitalize;
  color: #bc3837;
  margin-bottom: 30px;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner {
  font-family: "Noto Sans KR";
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner ul {
  display: flex;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner ul li {
  font-size: 20px;
  margin-bottom: 15px;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner ul li:first-child {
  width: 150px;
  font-weight: 700;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color {
  margin: 15px 0 30px 0;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip {
  display: flex;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip div:first-child {
  background: #770100;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip div:nth-child(2) {
  background: #1b1b1b;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip div:nth-child(3) {
  background: #fff;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner p {
  width: 450px;
  text-align: justify;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_btn button {
  background: none;
  border: none;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_btn button a {
  text-transform: capitalize;
  display: block;
  padding: 15px 25px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.5s;
  box-sizing: border-box;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_btn button a:hover {
  background: #bc3837;
  border: 1px solid #bc3837;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_line {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_line span {
  display: block;
  width: 1px;
  height: 300px;
  background: #252525;
  margin-bottom: 40px;
}
section .mySwiper .swiper-wrapper .swiper-slide .first_page .first_wrap .first_item .first_desc .desc_line p {
  color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  text-transform: uppercase;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  letter-spacing: 5px;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page {
  width: 100%;
  height: 100%;
  background: url(../images/portSecondbg.png) center/cover no-repeat;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_bg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item {
  width: 100%;
  height: 100%;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .circle_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .circle_wrap .first_circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18%;
  width: 681px;
  height: 681px;
  background: #fff3ae;
  border-radius: 50%;
  z-index: 2;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .circle_wrap .first_circle::before {
  content: "02";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -35%;
  font-size: 300px;
  color: rgba(255, 255, 255, 0.1);
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .circle_wrap .first_circle_bg {
  filter: blur(80px);
  opacity: 0.6;
  mix-blend-mode: screen;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .circle_wrap .first_con {
  position: relative;
  left: 18%;
  width: 681px;
  height: 681px;
  z-index: 3;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .circle_wrap .first_con > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 607px;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .circle_wrap .first_con .first_rect {
  position: absolute;
  top: calc(50% - 62px);
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 576px;
  height: 306px;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .circle_wrap .first_con .first_rect img {
  position: relative;
  top: 0px;
  width: 100%;
  transition: top 5s;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc {
  width: 35%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  z-index: 5;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap {
  color: #fff;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap h1 {
  font-size: 60px;
  text-transform: capitalize;
  color: #fff3ae;
  margin-bottom: 30px;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner {
  font-family: "Noto Sans KR";
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner ul {
  display: flex;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner ul li {
  font-size: 20px;
  margin-bottom: 15px;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner ul li:first-child {
  width: 150px;
  font-weight: 700;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color {
  margin: 15px 0 30px 0;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip {
  display: flex;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip div:first-child {
  background: #fed900;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner p {
  width: 450px;
  text-align: justify;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_btn button {
  background: none;
  border: none;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_btn button a {
  text-transform: capitalize;
  display: block;
  padding: 15px 25px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.5s;
  box-sizing: border-box;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_btn button a:hover {
  color: #252525;
  background: #fff3ae;
  border: 1px solid #fff3ae;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_line {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_line span {
  display: block;
  width: 1px;
  height: 300px;
  background: #252525;
  margin-bottom: 40px;
}
section .mySwiper .swiper-wrapper .swiper-slide .second_page .first_wrap .first_item .first_desc .desc_line p {
  color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  text-transform: uppercase;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  letter-spacing: 5px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page {
  width: 100%;
  height: 100%;
  background: url(../images/portThirdbg.png) center/cover no-repeat;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_bg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item {
  width: 100%;
  height: 100%;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18%;
  width: 681px;
  height: 681px;
  background: #e78c95;
  border-radius: 50%;
  z-index: 2;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_circle::before {
  content: "03";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -35%;
  font-size: 300px;
  color: rgba(255, 255, 255, 0.1);
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_circle_bg {
  filter: blur(80px);
  opacity: 0.6;
  mix-blend-mode: screen;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con {
  position: relative;
  left: 18%;
  width: 681px;
  height: 681px;
  z-index: 3;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 607px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .first_rect {
  position: absolute;
  top: calc(50% - 62px);
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 576px;
  height: 306px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .first_rect img {
  position: relative;
  top: 0px;
  width: 100%;
  transition: top 10s;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .second_rect {
  position: relative;
  top: 48%;
  left: -10%;
  width: 344px;
  height: 264px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .second_rect > img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .second_rect .rect {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 321px;
  height: 242px;
  overflow: hidden;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .second_rect .rect img {
  position: relative;
  top: 0;
  width: 100%;
  transition: top 10s;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .thied_rect {
  position: relative;
  top: 14%;
  left: 82%;
  width: 118px;
  height: 230px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .thied_rect > img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .thied_rect .rect {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 99px;
  height: 214px;
  overflow: hidden;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .circle_wrap .first_con .thied_rect .rect img {
  position: relative;
  top: 0;
  width: 100%;
  transition: top 10s;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc {
  width: 35%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  z-index: 5;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap {
  color: #fff;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap h1 {
  font-size: 60px;
  text-transform: capitalize;
  color: #e78c95;
  margin-bottom: 30px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner {
  font-family: "Noto Sans KR";
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner ul {
  display: flex;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner ul li {
  font-size: 20px;
  margin-bottom: 15px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner ul li:first-child {
  width: 150px;
  font-weight: 700;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color {
  margin: 15px 0 30px 0;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip {
  display: flex;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_color .color_chip div:first-child {
  background: #bf1e2e;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner p {
  width: 450px;
  text-align: justify;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_btn button {
  background: none;
  border: none;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_btn button a {
  text-transform: capitalize;
  display: block;
  padding: 15px 25px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.5s;
  box-sizing: border-box;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_wrap .desc_inner .desc_btn button a:hover {
  color: #252525;
  background: #e78c95;
  border: 1px solid #e78c95;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_line {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_line span {
  display: block;
  width: 1px;
  height: 300px;
  background: #252525;
  margin-bottom: 40px;
}
section .mySwiper .swiper-wrapper .swiper-slide .third_page .first_wrap .first_item .first_desc .desc_line p {
  color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  text-transform: uppercase;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  letter-spacing: 5px;
}
section .mySwiper .swiper-pagination {
  width: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  z-index: 1;
}
section .mySwiper .swiper-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 80px;
  border-radius: 0;
  margin: 0;
  transition: 0.3s;
  background: #fff;
}
section .mySwiper .swiper-pagination .swiper-pagination-bullet:first-child {
  border-radius: 50px 50px 0 0;
}
section .mySwiper .swiper-pagination .swiper-pagination-bullet:last-child {
  border-radius: 0 0 50px 50px;
}
section .mySwiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #00ffc0;
}