body {
  font-family: "Teko", "Noto Sans KR", sans-serif;
}

.mainvisual {
  width: 100%;
  height: 100vh;
  background: url(../images/mainbgmono.png) center no-repeat;
}
.mainvisual .main_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mainvisual .main_wrap img {
  width: 1100px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: calc(50% + 7px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1;
}
.mainvisual .main_wrap .main_text p {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 200px;
}
.mainvisual .main_wrap .main_text p span {
  color: #00ffc0;
  -webkit-text-stroke-width: 0;
}
.mainvisual .main_wrap .main_text p:first-child {
  top: 230px;
  -webkit-animation: texeani1 150s linear infinite;
          animation: texeani1 150s linear infinite;
}
.mainvisual .main_wrap .main_text p:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation: texeani2 150s linear infinite;
          animation: texeani2 150s linear infinite;
}
.mainvisual .main_wrap .main_text p:last-child {
  bottom: 230px;
  -webkit-animation: texeani1 150s linear infinite;
          animation: texeani1 150s linear infinite;
}
.mainvisual .main_wrap .copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
  cursor: default;
}
.mainvisual .main_wrap .copyright span {
  display: block;
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 12px;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
}

@-webkit-keyframes texeani1 {
  0% {
    left: 0;
  }
  100% {
    left: -7000px;
  }
}

@keyframes texeani1 {
  0% {
    left: 0;
  }
  100% {
    left: -7000px;
  }
}
@-webkit-keyframes texeani2 {
  0% {
    left: -7000px;
  }
  100% {
    left: 0;
  }
}
@keyframes texeani2 {
  0% {
    left: -7000px;
  }
  100% {
    left: 0;
  }
}
@media screen and (max-width: 1023px) {
  .mainvisual .main_wrap img {
    width: 800px;
  }
  .mainvisual .main_wrap .main_text {
    display: none;
  }
  .mainvisual .main_wrap .copyright {
    bottom: 12%;
  }
}
@media screen and (max-width: 767px) {
  .mainvisual .main_wrap img {
    width: 700px;
  }
}
@media screen and (max-width: 479px) {
  .mainvisual .main_wrap img {
    width: 500px;
  }
  .mainvisual .main_wrap .copyright span {
    font-size: 10px;
    padding: 5px 15px;
  }
}