@font-face {
  font-family: "TuesdayNight";
  src: url(../webfonts/TuesdayNight-Regular.otf) format("opentype");
}
body {
  font-family: "Teko", "Noto Sans KR", sans-serif;
}

.aboutbg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(../images/aboutbg.webp);
  z-index: -1;
}

.about_content {
  width: 100%;
}
.about_content .about_con_wrap {
  width: 80%;
  margin: 0 auto;
}
.about_content .about_con_wrap .title {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}
.about_content .about_con_wrap .title p {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 30px;
}
.about_content .about_con_wrap .title p span {
  position: relative;
}
.about_content .about_con_wrap .title p span::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
}
.about_content .about_con_wrap .title h1 {
  font-size: 60px;
}
.about_content .about_con_wrap .title h1 span {
  color: #00ffc0;
  font-weight: 700;
}
.about_content .about_con_wrap .about_me {
  width: 100%;
  margin: 150px 0 500px 0;
}
.about_content .about_con_wrap .about_me .about_me_con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left {
  width: 541px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li {
  width: 100%;
  margin-bottom: 15px;
  color: #252525;
  padding: 25px 40px;
  box-sizing: border-box;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li h3 {
  position: relative;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 15px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 400px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li .me_con_item {
  width: 100%;
  margin-top: 15px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li .me_con_item ul {
  width: 100%;
  display: flex;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li .me_con_item ul li {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li .me_con_item ul li span {
  font-size: 15px;
  font-weight: 600;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li .me_con_item ul li strong {
  font-size: 15px;
  font-weight: 900;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li .me_con_item ul li i {
  margin-top: 10px;
  font-size: 50px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li .me_con_item ul li:first-child {
  position: relative;
  width: 110px;
  font-weight: 700;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li .me_con_item ul li:first-child::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 30px;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li .me_con_item ul li:last-child {
  width: 270px;
  margin-left: 10px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li:first-child {
  height: 259px;
  background: url(../images/about_item1.webp) no-repeat;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li:nth-child(2) {
  height: 197px;
  background: url(../images/about_item2.webp);
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li:last-child {
  height: 228px;
  background: url(../images/about_item3.webp);
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li:last-child .me_con_item {
  width: 400px;
  display: flex;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li:last-child .me_con_item ul {
  width: 100%;
  flex-direction: column;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li:last-child .me_con_item ul li {
  width: 100px;
  margin: 0;
  text-align: center;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_left > li:last-child .me_con_item ul li::after {
  display: none;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_ceter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_ceter p {
  color: #fff;
  font-family: "TuesdayNight";
  font-size: 60px;
  margin-bottom: 30px;
  letter-spacing: 5px;
  transition: 0.5s;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_ceter p:hover {
  color: #00ffc0;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right {
  width: 541px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li {
  width: 100%;
  margin-bottom: 15px;
  color: #252525;
  padding: 30px 0;
  padding-left: 100px;
  box-sizing: border-box;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li h3 {
  position: relative;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 15px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 400px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item {
  width: 100%;
  margin-top: 15px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item ul {
  width: 100%;
  display: flex;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item ul li {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item ul li span {
  font-size: 15px;
  font-weight: 600;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item ul li strong {
  font-size: 15px;
  font-weight: 900;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item ul li i {
  margin-top: 10px;
  font-size: 50px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item ul li p {
  font-size: 15px;
  color: #555;
  font-weight: 400;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item ul li:first-child {
  position: relative;
  width: 110px;
  font-weight: 700;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item ul li:first-child::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 30px;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li .me_con_item ul li:last-child {
  width: 270px;
  margin-left: 15px;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li:first-child {
  height: 297px;
  background: url(../images/about_item4.webp) no-repeat;
}
.about_content .about_con_wrap .about_me .about_me_con .me_con_right > li:last-child {
  height: 408px;
  background: url(../images/about_item5.webp);
}
.about_content .about_con_wrap .about_me .me_skill {
  position: relative;
  width: 100%;
  margin-top: 150px;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul {
  display: flex;
  justify-content: space-between;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li {
  width: 260px;
  height: 260px;
  position: relative;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li svg {
  width: 260px;
  height: 260px;
  stroke-width: 30px;
  stroke-linecap: round;
  transform: rotate(-90deg);
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li svg circle {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li svg circle:first-child {
  stroke-dasharray: none;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  color: #fff;
  font-size: 120px;
  transition: 0.5s;
  cursor: pointer;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 100px;
  transition: 0.5s;
  cursor: pointer;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li h3 {
  position: relative;
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
  transition: 0.5s;
  margin-bottom: 15px;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 25px;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li:first-child svg {
  stroke-dasharray: 628px;
  stroke-dashoffset: -500;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li:nth-child(2) svg {
  stroke-dasharray: 628px;
  stroke-dashoffset: -500;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li:nth-child(3) svg {
  stroke-dasharray: 628px;
  stroke-dashoffset: -500;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li:nth-child(4) svg {
  stroke-dasharray: 628px;
  stroke-dashoffset: -500;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul li:nth-child(5) svg {
  stroke-dasharray: 628px;
  stroke-dashoffset: -500;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul:last-child {
  justify-content: space-around;
  padding: 0 150px;
  margin-top: 220px;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul:last-child li:first-child svg {
  stroke-dasharray: 628px;
  stroke-dashoffset: -500;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul:last-child li:nth-child(2) svg {
  stroke-dasharray: 628px;
  stroke-dashoffset: -500;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul:last-child li:nth-child(3) svg {
  stroke-dasharray: 628px;
  stroke-dashoffset: -500;
}
.about_content .about_con_wrap .about_me .me_skill .skill_wrap ul:last-child li:nth-child(4) svg {
  stroke-dasharray: 628px;
  stroke-dashoffset: -500;
}
.about_content .about_con_wrap .about_me .me_skill .skill_ps {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40%;
  color: #fff;
  font-size: 20px;
  font-family: "Noto Sans KR";
  text-align: center;
  line-height: 30px;
  border: 1px solid #fff;
  padding: 20px 100px;
  box-sizing: border-box;
  border-radius: 70px;
}
.about_content .about_con_wrap .about_me .me_skill .skill_ps span {
  color: #00ffc0;
  font-weight: 700;
}
.about_content .about_desc {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
}
.about_content .about_desc #particles-js {
  position: absolute;
  z-index: 1;
}
.about_content .about_desc .about_desc_wrap1 {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  opacity: 1;
  transition: 0.5s;
}
.about_content .about_desc .about_desc_wrap1 .about_desc_left {
  width: 35%;
}
.about_content .about_desc .about_desc_wrap1 .about_desc_left h1 {
  width: 90%;
  font-size: 50px;
  font-weight: 500;
  text-align: justify;
  letter-spacing: -1.2;
  line-height: 60px;
  color: #252525;
  margin-bottom: 35px;
}
.about_content .about_desc .about_desc_wrap1 .about_desc_left h1 strong {
  color: #25c19a;
  font-weight: 700;
}
.about_content .about_desc .about_desc_wrap1 .about_desc_left p {
  width: 90%;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  line-height: 25px;
}
.about_content .about_desc .about_desc_wrap1 .about_desc_center {
  width: 55%;
  height: 100%;
  background: url(../images/mebg.webp) center/cover no-repeat;
}
.about_content .about_desc .about_desc_wrap1 .about_desc_right {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.about_content .about_desc .about_desc_wrap1 .about_desc_right ul {
  opacity: 0.4;
}
.about_content .about_desc .about_desc_wrap1 .about_desc_right ul li {
  width: 40px;
  font-size: 30px;
  font-weight: 900;
  font-family: "Noto Sans KR";
  text-align: right;
  margin-bottom: 15px;
}
.about_content .about_desc .about_desc_wrap1 .about_desc_right ul li span {
  color: #25c19a;
}
.about_content .about_desc .about_desc_wrap2 {
  position: relative;
  top: -100vh;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}
.about_content .about_desc .about_desc_wrap2 .about_desc_left {
  width: 55%;
  height: 100%;
  background: url(../images/mebg2.webp) bottom/cover no-repeat;
}
.about_content .about_desc .about_desc_wrap2 .about_desc_center {
  width: 35%;
  margin-left: 80px;
}
.about_content .about_desc .about_desc_wrap2 .about_desc_center h1 {
  width: 90%;
  font-size: 50px;
  font-weight: 500;
  text-align: justify;
  letter-spacing: -1.2;
  line-height: 60px;
  color: #252525;
  margin-bottom: 35px;
}
.about_content .about_desc .about_desc_wrap2 .about_desc_center h1 strong {
  color: #25c19a;
  font-weight: 700;
}
.about_content .about_desc .about_desc_wrap2 .about_desc_center p {
  width: 90%;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  line-height: 25px;
}
.about_content .about_desc .about_desc_wrap2 .about_desc_right {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.about_content .about_desc .about_desc_wrap2 .about_desc_right ul {
  opacity: 0.4;
}
.about_content .about_desc .about_desc_wrap2 .about_desc_right ul li {
  width: 40px;
  font-size: 30px;
  font-weight: 900;
  font-family: "Noto Sans KR";
  text-align: right;
  margin-bottom: 15px;
}
.about_content .about_desc .about_desc_wrap2 .about_desc_right ul li span {
  color: #25c19a;
}

@-webkit-keyframes skill1 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes skill1 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes skill2 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: -60;
  }
}
@keyframes skill2 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: -60;
  }
}
@-webkit-keyframes skill3 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: -80;
  }
}
@keyframes skill3 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: -80;
  }
}
@-webkit-keyframes skill4 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: -120;
  }
}
@keyframes skill4 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: -120;
  }
}
@-webkit-keyframes skill5 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: -250;
  }
}
@keyframes skill5 {
  0% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: -250;
  }
}