@font-face {
  font-family: "xeicon";
  src: url("../fonts/xeicon.eot");
  src: url("../fonts/xeicon.eot") format("embedded-opentype"), url("../fonts/xeicon.woff2") format("woff2"), url("../fonts/xeicon.ttf") format("truetype"), url("../fonts/xeicon.woff") format("woff"), url("../fonts/xeicon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=xi-],
[class*=" xi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "xeicon" !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xi-arrow-up:before {
  content: "\e915";
}

body {
  font-family: "Teko", "Noto Sans KR", sans-serif;
}

.aboutbg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(../images/aboutbg.webp);
  z-index: -1;
}

nav {
  position: fixed;
  width: 100%;
}
nav .sub_nav {
  width: 90%;
  height: 180px;
  margin: 0 auto;
}
nav .sub_nav ul {
  width: 60%;
  margin: 0 auto;
  height: 180px;
  display: flex;
  justify-content: space-evenly;
}
nav .sub_nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 100%;
  cursor: pointer;
}
nav .sub_nav ul li h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 5px;
  transition: 0.5s;
}
nav .sub_nav ul li span {
  font-family: "Noto Sans KR";
  font-size: 15px;
  transition: 0.5s;
  color: #888;
}
nav .sub_nav ul li:hover h3 {
  color: #00ffc0;
}

.click_category {
  width: 100%;
  height: 100vh;
}
.click_category h1 {
  text-align: center;
  color: #fff;
  font-size: 60px;
  padding-top: 500px;
  text-transform: capitalize;
}
.click_category h1 span {
  color: #00ffc0;
}

.mySwiper {
  overflow-y: visible !important;
  transition: 0.5s;
  display: none;
}
.mySwiper .swiper-wrapper .swiper-slide section {
  width: 100%;
  height: 100vh;
}
.mySwiper .swiper-wrapper .swiper-slide section .landing_page {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mySwiper .swiper-wrapper .swiper-slide section .landing_page .art_img {
  margin-top: 60px;
  cursor: pointer;
}
.mySwiper .swiper-wrapper .swiper-slide section .landing_page .art_img img {
  display: block;
  width: 900px;
  border: 10px solid rgba(255, 255, 255, 0.2);
}
.mySwiper .swiper-wrapper .swiper-slide section .landing_page .art_desc {
  width: 35%;
  color: #fff;
  font-family: "Noto Sans KR";
}
.mySwiper .swiper-wrapper .swiper-slide section .landing_page .art_desc h1 {
  color: #00ffc0;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 70px;
}
.mySwiper .swiper-wrapper .swiper-slide section .landing_page .art_desc .desc01 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.mySwiper .swiper-wrapper .swiper-slide section .landing_page .art_desc button {
  background: none;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  padding: 20px 40px;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}
.mySwiper .swiper-wrapper .swiper-slide section .landing_page .art_desc button:hover {
  color: #252525;
  background: #fff;
}
.mySwiper .swiper-wrapper .swiper-slide section .art_subimg {
  width: 100%;
  margin: 0 auto;
}
.mySwiper .swiper-wrapper .swiper-slide section .art_subimg img {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.mySwiper .swiper-wrapper .swiper-slide section .art_subimg span {
  display: block;
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  margin-bottom: 100px;
  cursor: pointer;
}
.mySwiper .swiper-wrapper .swiper-slide section .art_subimg span:hover {
  color: #00ffc0;
}
.mySwiper .swiper-pagination {
  position: absolute;
  top: 93%;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet {
  width: 80px;
  height: 3px;
  border-radius: 0;
  background: #fff;
  margin: 0 !important;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet:first-child {
  border-radius: 30px 0 0 30px;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet:last-child {
  border-radius: 0 30px 30px 0;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #00ffc0;
}
.mySwiper .swiper-button-next {
  position: fixed;
}
.mySwiper .swiper-button-prev {
  position: fixed;
}

.mySwiper2 {
  overflow-y: visible !important;
  transition: 0.5s;
  display: none;
}
.mySwiper2 .swiper-wrapper .swiper-slide section {
  width: 100%;
  height: 100vh;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .landing_page {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .landing_page .art_img {
  margin-top: 60px;
  cursor: pointer;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .landing_page .art_img img {
  display: block;
  width: 900px;
  border: 10px solid rgba(255, 255, 255, 0.2);
}
.mySwiper2 .swiper-wrapper .swiper-slide section .landing_page .art_desc {
  width: 35%;
  color: #fff;
  font-family: "Noto Sans KR";
}
.mySwiper2 .swiper-wrapper .swiper-slide section .landing_page .art_desc h1 {
  color: #00ffc0;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 70px;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .landing_page .art_desc .desc01 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .landing_page .art_desc button {
  background: none;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  padding: 20px 40px;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .landing_page .art_desc button:hover {
  color: #252525;
  background: #fff;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .art_subimg {
  width: 100%;
  margin: 0 auto;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .art_subimg img {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .art_subimg span {
  display: block;
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  margin-bottom: 100px;
  cursor: pointer;
}
.mySwiper2 .swiper-wrapper .swiper-slide section .art_subimg span:hover {
  color: #00ffc0;
}
.mySwiper2 .swiper-pagination {
  position: absolute;
  top: 93%;
}
.mySwiper2 .swiper-pagination .swiper-pagination-bullet {
  width: 80px;
  height: 3px;
  border-radius: 0;
  background: #fff;
  margin: 0 !important;
}
.mySwiper2 .swiper-pagination .swiper-pagination-bullet:first-child {
  border-radius: 30px 0 0 30px;
}
.mySwiper2 .swiper-pagination .swiper-pagination-bullet:last-child {
  border-radius: 0 30px 30px 0;
}
.mySwiper2 .swiper-pagination .swiper-pagination-bullet-active {
  background: #00ffc0;
}
.mySwiper2 .swiper-button-next {
  position: fixed;
}
.mySwiper2 .swiper-button-prev {
  position: fixed;
}

.mySwiper3 {
  overflow-y: visible !important;
  transition: 0.5s;
  display: none;
}
.mySwiper3 .swiper-wrapper .swiper-slide section {
  width: 100%;
  height: 100vh;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .landing_page {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .landing_page .art_img {
  margin-top: 60px;
  cursor: pointer;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .landing_page .art_img img {
  display: block;
  width: 900px;
  border: 10px solid rgba(255, 255, 255, 0.2);
}
.mySwiper3 .swiper-wrapper .swiper-slide section .landing_page .art_desc {
  width: 35%;
  color: #fff;
  font-family: "Noto Sans KR";
}
.mySwiper3 .swiper-wrapper .swiper-slide section .landing_page .art_desc h1 {
  color: #00ffc0;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 70px;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .landing_page .art_desc .desc01 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .landing_page .art_desc button {
  background: none;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  padding: 20px 40px;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .landing_page .art_desc button:hover {
  color: #252525;
  background: #fff;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .art_subimg {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .art_subimg img {
  display: block;
  text-align: center;
  width: 32%;
  margin: 0 auto;
  padding: 8px 0;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .art_subimg span {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  margin-bottom: 100px;
  padding-top: 100px;
  cursor: pointer;
}
.mySwiper3 .swiper-wrapper .swiper-slide section .art_subimg span:hover {
  color: #00ffc0;
}
.mySwiper3 .swiper-pagination {
  position: absolute;
  top: 93%;
}
.mySwiper3 .swiper-pagination .swiper-pagination-bullet {
  width: 80px;
  height: 3px;
  border-radius: 0;
  background: #fff;
  margin: 0 !important;
}
.mySwiper3 .swiper-pagination .swiper-pagination-bullet:first-child {
  border-radius: 30px 0 0 30px;
}
.mySwiper3 .swiper-pagination .swiper-pagination-bullet:last-child {
  border-radius: 0 30px 30px 0;
}
.mySwiper3 .swiper-pagination .swiper-pagination-bullet-active {
  background: #00ffc0;
}
.mySwiper3 .swiper-button-next {
  position: fixed;
}
.mySwiper3 .swiper-button-prev {
  position: fixed;
}

.mySwiper4 {
  overflow-y: visible !important;
  transition: 0.5s;
  display: none;
}
.mySwiper4 .swiper-wrapper .swiper-slide section {
  width: 100%;
  height: 100vh;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .landing_page {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .landing_page .art_img {
  margin-top: 60px;
  cursor: pointer;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .landing_page .art_img img {
  display: block;
  width: 900px;
  border: 10px solid rgba(255, 255, 255, 0.2);
}
.mySwiper4 .swiper-wrapper .swiper-slide section .landing_page .art_desc {
  width: 35%;
  color: #fff;
  font-family: "Noto Sans KR";
}
.mySwiper4 .swiper-wrapper .swiper-slide section .landing_page .art_desc h1 {
  color: #00ffc0;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 70px;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .landing_page .art_desc .desc01 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .landing_page .art_desc button {
  background: none;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  padding: 20px 40px;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .landing_page .art_desc button:hover {
  color: #252525;
  background: #fff;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .art_subimg {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .art_subimg .wrap {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .art_subimg .wrap img {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 8px;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .art_subimg span {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  margin-bottom: 100px;
  padding-top: 100px;
  cursor: pointer;
}
.mySwiper4 .swiper-wrapper .swiper-slide section .art_subimg span:hover {
  color: #00ffc0;
}
.mySwiper4 .swiper-pagination {
  position: absolute;
  top: 93%;
}
.mySwiper4 .swiper-pagination .swiper-pagination-bullet {
  width: 80px;
  height: 3px;
  border-radius: 0;
  background: #fff;
  margin: 0 !important;
}
.mySwiper4 .swiper-pagination .swiper-pagination-bullet:first-child {
  border-radius: 30px 0 0 30px;
}
.mySwiper4 .swiper-pagination .swiper-pagination-bullet:last-child {
  border-radius: 0 30px 30px 0;
}
.mySwiper4 .swiper-pagination .swiper-pagination-bullet-active {
  background: #00ffc0;
}
.mySwiper4 .swiper-button-next {
  position: fixed;
}
.mySwiper4 .swiper-button-prev {
  position: fixed;
}

.mySwiper5 {
  overflow-y: visible !important;
  transition: 0.5s;
  display: none;
}
.mySwiper5 .swiper-wrapper .swiper-slide section {
  width: 100%;
  height: 100vh;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .landing_page {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .landing_page .art_img {
  margin-top: 60px;
  cursor: pointer;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .landing_page .art_img img {
  display: block;
  width: 900px;
  border: 10px solid rgba(255, 255, 255, 0.2);
}
.mySwiper5 .swiper-wrapper .swiper-slide section .landing_page .art_desc {
  width: 35%;
  color: #fff;
  font-family: "Noto Sans KR";
}
.mySwiper5 .swiper-wrapper .swiper-slide section .landing_page .art_desc h1 {
  color: #00ffc0;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 70px;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .landing_page .art_desc .desc01 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .landing_page .art_desc button {
  background: none;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  padding: 20px 40px;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .landing_page .art_desc button:hover {
  color: #252525;
  background: #fff;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .art_subimg {
  width: 100%;
  margin: 0 auto;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .art_subimg img {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .art_subimg span {
  display: block;
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  margin-bottom: 100px;
  cursor: pointer;
}
.mySwiper5 .swiper-wrapper .swiper-slide section .art_subimg span:hover {
  color: #00ffc0;
}
.mySwiper5 .swiper-pagination {
  position: absolute;
  top: 93%;
}
.mySwiper5 .swiper-pagination .swiper-pagination-bullet {
  width: 80px;
  height: 3px;
  border-radius: 0;
  background: #fff;
  margin: 0 !important;
}
.mySwiper5 .swiper-pagination .swiper-pagination-bullet:first-child {
  border-radius: 30px 0 0 30px;
}
.mySwiper5 .swiper-pagination .swiper-pagination-bullet:last-child {
  border-radius: 0 30px 30px 0;
}
.mySwiper5 .swiper-pagination .swiper-pagination-bullet-active {
  background: #00ffc0;
}
.mySwiper5 .swiper-button-next {
  position: fixed;
}
.mySwiper5 .swiper-button-prev {
  position: fixed;
}

.mySwiper6 {
  overflow-y: visible !important;
  transition: 0.5s;
  display: none;
}
.mySwiper6 .swiper-wrapper .swiper-slide section {
  width: 100%;
  height: 100vh;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .landing_page {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .landing_page .art_img {
  margin-top: 60px;
  cursor: pointer;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .landing_page .art_img img {
  display: block;
  width: 900px;
  border: 10px solid rgba(255, 255, 255, 0.2);
}
.mySwiper6 .swiper-wrapper .swiper-slide section .landing_page .art_desc {
  width: 35%;
  color: #fff;
  font-family: "Noto Sans KR";
}
.mySwiper6 .swiper-wrapper .swiper-slide section .landing_page .art_desc h1 {
  color: #00ffc0;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 70px;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .landing_page .art_desc .desc01 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .landing_page .art_desc button {
  background: none;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  padding: 20px 40px;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .landing_page .art_desc button:hover {
  color: #252525;
  background: #fff;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .art_subimg {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .art_subimg img {
  display: block;
  text-align: center;
  width: 32%;
  margin: 0 auto;
  padding: 8px 0;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .art_subimg span {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  margin-bottom: 100px;
  padding-top: 100px;
  cursor: pointer;
}
.mySwiper6 .swiper-wrapper .swiper-slide section .art_subimg span:hover {
  color: #00ffc0;
}
.mySwiper6 .swiper-pagination {
  position: absolute;
  top: 93%;
}
.mySwiper6 .swiper-pagination .swiper-pagination-bullet {
  width: 80px;
  height: 3px;
  border-radius: 0;
  background: #fff;
  margin: 0 !important;
}
.mySwiper6 .swiper-pagination .swiper-pagination-bullet:first-child {
  border-radius: 30px 0 0 30px;
}
.mySwiper6 .swiper-pagination .swiper-pagination-bullet:last-child {
  border-radius: 0 30px 30px 0;
}
.mySwiper6 .swiper-pagination .swiper-pagination-bullet-active {
  background: #00ffc0;
}
.mySwiper6 .swiper-button-next {
  position: fixed;
}
.mySwiper6 .swiper-button-prev {
  position: fixed;
}

.back_to_top_button {
  position: fixed;
  z-index: 7;
  bottom: 3%;
  right: 3%;
}
.back_to_top_button button {
  width: 50px;
  height: 50px;
  background: none;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.back_to_top_button button:hover {
  background: #00ffc0;
  border: 1px solid #00ffc0;
  color: #252525;
}