@charset "utf-8";
@font-face {
  font-family: "Archivo";
  src: url(../font/Archivo/Archivo-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: -12px;
  padding: 3.7rem 0;
  font-family: "Archivo", sans-serif;
  line-height: 1.5;
  background: #fafafa;
}
footer .finner {
  max-width: 1230px;
  width: 95%;
  margin: 0 auto;
}
footer .finner > nav > ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
footer .finner > nav > ul li a {
  display: block;
  padding: 10px 0;
  font-size: 0.8rem;
  font-weight: 400;
}
footer .finner > .bot {
  padding: 3.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .finner > .bot > .add {
  width: 50%;
  position: relative;
  color: #888888;
}
footer .finner > .bot > .add .logo {
  margin-bottom: 1.3rem;
}
footer .finner > .bot > .add .logo img {
  width: 14rem;
}
footer .finner > .bot > .add > .info {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
footer .finner > .bot > .add > .info span {
  font-weight: 700;
}
footer .finner > .bot > .add > .info span.line {
  display: inline-block;
  height: 12px;
  margin: 0 15px;
  border-left: 1px solid #ccc;
}
footer .finner > .bot > .add .copy {
  font-size: 0.7rem;
  font-weight: 300;
}
footer .finner > .bot > .add::after {
  content: "";
  position: absolute;
  height: 5.6rem;
  width: 2px;
  background: #dcdcdc;
  top: 50%;
  transform: translateY(-50%);
  right: -4.4rem;
}
footer .finner > .bot .sns a {
  margin-left: 0.6rem;
}
footer .finner > .bot .sns a img {
  width: 2.2rem;
}

@media screen and (max-width: 1200px) {
  footer .finner {
    max-width: 960px;
  }
  footer .finner > nav > ul li a {
    padding: 9.5px 0;
  }
}
@media screen and (max-width: 991px) {
  footer .finner {
    max-width: 840px;
  }
  footer .finner > nav > ul li a {
    font-size: 11.7px;
    padding: 9px 0;
  }
  footer .finner > .bot > .add .logo img {
    width: 198px;
  }
  footer .finner > .bot > .add > .info {
    font-size: 13.5px;
  }
  footer .finner > .bot > .add .copy {
    font-size: 9.9px;
  }
  footer .finner > .bot .sns a img {
    width: 31.5px;
  }
}
@media screen and (max-width: 767px) {
  footer .finner > nav > ul {
    flex-wrap: wrap;
  }
  footer .finner > nav > ul li {
    flex: 1 0 30%;
  }
  footer .finner > .bot {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  footer .finner > .bot > .add {
    width: 100%;
  }
  footer .finner > .bot > .add::after {
    display: none;
  }
  footer .finner > .bot .sns {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 42.5px;
    margin-bottom: 42.5px;
  }
  footer .finner > nav > ul li a {
    font-size: 11.05px;
    padding: 8.5px 0;
  }
  footer .finner > .bot > .add .logo img {
    width: 187px;
  }
  footer .finner > .bot > .add > .info {
    font-size: 12.75px;
  }
  footer .finner > .bot > .add .copy {
    font-size: 9.35px;
  }
  footer .finner > .bot .sns a img {
    width: 29.75px;
  }
}
@media screen and (max-width: 576px) {
  footer .finner > nav > ul li a {
    font-size: 10.4px;
    padding: 8px 0;
  }
  footer .finner > .bot > .add .logo img {
    width: 176px;
  }
  footer .finner > .bot > .add > .info {
    font-size: 10px;
  }
  footer .finner > .bot > .add .copy {
    font-size: 8.8px;
  }
  footer .finner > .bot .sns a img {
    width: 28px;
  }
}
