@charset "utf-8";
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 기본설정 */
* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  color: #191919;
  word-break: keep-all;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #191919;
}

/*헤더 -------------*/

/* ---------------메뉴----------------------- */
header {
  position: fixed;
  width: 100%;
  z-index: 30;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}
.gnb {
  display: flex;
  align-items: center;
  width: 1304px;
  margin: 0 auto;
}
.gnb .logo {
  position: absolute;
  left: 0;
  width: 150px;
  margin-left: 150px;
}
.gnb .logo a img {
  width: 150px;
  transition: all 0.3s ease;
}

.gnb .logo.shrink a img {
  width: 80px;
}

.menu {
  width: 1010px;
  margin: 0 auto;
  height: 100px;
}
.menu ul {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.menu ul li {
  flex: 1 1 10%;
  text-align: center;
  line-height: 100px;
}
.menu ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}
.menu ul li a:hover,
.menu ul li a.on {
  background: none;
}
.menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #222;
  transition: width 0.3s;
}
.menu ul li a:hover::after,
.menu ul li a.on::after {
  width: 100%;
}

.submenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100px;
  background: rgba(255, 255, 255, 0.9);

  border-top: 1px solid #ccc;
  padding-top: 20px;
  box-sizing: border-box;
}

.submenu .lnb {
  width: 1010px;
  margin: 0 auto;
}
.submenu .lnb > ul {
  display: flex;
  justify-content: space-between;
}
.submenu .lnb > ul > li {
  flex: 1 1 20%;
  line-height: 40px;
  text-align: center;
}
.submenu .lnb > ul > li a {
  color: #555;
}
.submenu .lnb > ul > li a:hover {
  color: #000;
}
.gnb .right {
  position: absolute;
  right: 0;
  width: 144px;
  margin-right: 150px;
  text-align: center;
}
.gnb .right p {
  background: #f7f7f7;
  padding: 8px 12px;
  border-radius: 20px;
}
/*------------- con1 ------------------------*/
.visual {
  position: relative;
  margin: 0 12px;
  height: 660px;
  display: flex;
  background: #f9f9fb;
}
.visual .left {
  width: 40%;
}
.visual .left ul {
  position: relative;
  width: 100%;
  height: 100%;
}
.visual .left ul li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
}
.visual .left ul li > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.visual .left ul li.on {
  opacity: 1;
  /* height: auto; */
}
.visual .left ul li .txt {
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: left bottom;
}
.visual .left ul li.on .txt {
  transform: scaleY(1);
}
.visual .left ul li h1 {
  position: relative;
  top: 40px;
  transition: 1s;
}
.visual .left ul li.on h1 {
  top: 0px;
}
.visual .left h1 {
  font-size: 52px;
}
.visual .left .text-box {
  margin-left: 150px;
}
.visual .right {
  width: 60%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page span {
  font-size: 24px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#btn {
  position: absolute;
  bottom: 5%;
  left: 25%;
  width: 200px;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-weight: bold;
}
#btn .page .start {
  font-size: 40px;
}
#btn .swiper-button-next,
#btn .swiper-button-prev {
  color: #ccc;
}
#btn .swiper-button-next:after,
#btn .swiper-button-prev:after {
  font-size: 15px;
}
.con1 .text-box a {
  display: block;
  width: 150px;
  padding: 15px 8px;
  border: 1px solid #191919;
  border-radius: 50px;
  text-align: center;
}
.con1 .text-box a .fa-arrow-right:before {
  position: relative;
  left: 0;
}
.con1 .text-box a:hover .fa-arrow-right:before {
  left: 10px;
  transition: 0.5s;
}
/* -------------con2----------------- */
.con2 {
  max-width: 1280px;
  width: 100%;
  margin: 150px auto;
}
.con2 .liner h1 {
  font-size: 44px;
}
.con2 .liner p {
  font-size: 15px;
  margin-top: 20px;
}
.con2 .liner .business {
  display: flex;
  gap: 30px;
}
.con2 .liner .business img {
  border-radius: 10px;
}

.con2 .liner .business h3 {
  font-size: 22px;
  margin-top: 30px;
}
.con2 .liner .business p:last-child {
  font-size: 15px;
  margin-top: 20px;
  color: #797979;
}
/* ------------con3----------------------- */

.con3 {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.con3 .bg_gray {
  max-width: 1280px;
  width: 70%;
  height: 440px;
  position: absolute;
  top: 30px;
  left: 0;
  background: #f9f9fb;
  z-index: -1;
}

.con3 .box {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.con3 .left_box {
  width: 50%;
}
.con3 .left_box .left_box {
  width: 100%;
}
.con3 .left_box h1 {
  font-size: 44px;
}
.con3 .left_box h4 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: normal;
}
.con3 .left_box p {
  font-size: 15px;
  color: #797979;
  margin-top: 20px;
}
.con3 .left_box .text1 {
  margin-bottom: 100px;
  margin-top: 20px;
  font-size: 15px;
  color: #797979;
}
.con3 .left_box img {
  border-radius: 10px;
}
.con3 .right_box {
  width: 50%;
  position: absolute;
  top: 100px;
  right: 40px;
}
.con3 .right_box h4 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: normal;
}
.con3 .right_box p {
  font-size: 15px;
  color: #797979;
  margin-top: 20px;
}
.con3 .right_box img {
  border-radius: 10px;
}

/*-------------------------------- con4------------ */

.con4 {
  position: relative;
  width: 100%;
  height: 480px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.con4Inner {
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}
.con4 .all {
  margin: 0 auto;
  width: 1280px;
  background: #fff;
  color: #111;
}
.con4 .collection-section {
  width: 1280px;
  margin: 0 auto;
}
.con4 .collection-text {
  width: 280px;
}
.con4 .collection-text h1 {
  font-size: 44px;
}
.con4 .collection-text p {
  margin: 16px 0 0;
  font-size: 15px;
}
.con4 .collection-text .more {
  margin-top: 20px;
  font-size: 15px;
  color: #555;
  align-items: center;
  cursor: pointer;
}
.con4 .collection-text .more::after {
  content: ">";
  margin-left: 5px;
  font-size: 13px;
}
.con4 .newsSlide {
  position: absolute;
  right: 0;
  top: 0;
  width: 1200px;
  overflow: hidden;
  height: 480px;
}
.con4 .swiper-slide {
  background: #fff;
  border-radius: 12px;
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.con4 .swiper-slide img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 12px;
}
.con4 .swiper-pagination-progressbar {
  top: 95% !important;
  width: 1200px !important;
}
.con4 .caption {
  padding: 12px 0 0;
  text-align: left;
}
.con4 .caption .brand {
  font-size: 15px;
  color: #2563eb;
  font-weight: 500;
}
.con4 .caption .title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}
.con4 .nav-buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}
.con4 .nav-buttons .nav-btn {
  width: 45px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  background: #fff;
  margin-top: 150px;
}
.con4 .nav-buttons .nav-btn:hover {
  background: #f0f0f0;
  border-color: #999;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #797979 !important;
}

/* con5 */
.con5 .brand-container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 40px;
}

/* 왼쪽 텍스트 영역 */
.con5 .brand-left {
  width: 450px;
}

.con5 .brand-left h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.con5 .brand-left p {
  font-size: 14px;
  margin-bottom: 20px;
}

/* 썸네일 리스트 */
.con5 .brand-thumbs {
  display: flex;
  align-items: flex-end;
  height: 72px;
}
.con5 .brand-thumbs .swiper {
  height: 100%;
}
.con5 .brand-thumbs .swiper-slide {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.con5 .brand-thumbs .swiper-slide.on {
  opacity: 1;
}
.con5 .brand-thumbs .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 오른쪽 큰 슬라이드 이미지 */
.con5 .swiper {
  width: 845px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.con5 .swiper-slide {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.con5 .swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 오버레이 (그라데이션 배경) */
.con5 .swiper-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* 텍스트 */
.con5 .brand-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;

  transition: opacity 0.3s ease;
  z-index: 2;
}

.con5 .brand-caption h3 {
  font-size: 28px;
  margin: 0 0 6px;
  color: #fff;
}

.con5 .brand-caption p {
  font-size: 15px;
  margin: 0;
  color: #fff;
}

/* 호버 시 효과 */
.con5 .swiper-slide:hover::after {
  opacity: 1;
}

/* 썸네일 넘기기 화살표 버튼 (동그란 형태) */
.brand-scroll-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.brand-scroll-buttons button {
  all: unset;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, border-color 0.2s;
  margin-top: 200px;
}

.brand-scroll-buttons button:hover {
  background: #f0f0f0;
  border-color: #999;
}
/* con6 */
.con6 {
  width: 100%;
  height: 100%;
  background: url(https://www.hankook.com/default/img/onepixel/images/main/section-contact.jpg)
    top/cover fixed;
  padding: 30px 0;
  margin-top: 150px;
  margin-bottom: 150px;
}
.con6 .inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.con6 .inner h1 {
  font-size: 44px;
  color: #f2f2f2;
  margin-bottom: 30px;
}
.con6 .inner .list {
  display: flex;
  line-height: 40px;
  gap: 40px;
}
.con6 .inner .list p {
  color: #fff;
  font-size: 18px;
}
.con6 .right .sns_icon {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.con6 .right .sns_icon i {
  color: #fff;
  font-size: 30px;
}
.con6 .right .sns_icon img {
  width: 29px;
  margin-top: 5px;
}
/* footer */
footer {
  width: 1280px;
  margin: 0px auto;
}
footer .inner {
  display: flex;
  justify-content: space-between;
}
footer .footerlogo img {
  width: 134px;
}
footer .left ul li {
  font-size: 14px;
  margin-top: 26px;

  color: #797979;
}

footer .right {
  display: flex;
  gap: 20px;
  text-align: center;
}
footer .right .right_menu ul li:first-child a {
  color: #393939;
  font-size: 15px;
}
footer .right .right_menu ul li {
  margin-top: 20px;
  font-size: 14px;
}
footer .right .right_menu ul li a {
  color: #797979;
}
/* footer2  */
.footer2 {
  width: 1280px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  padding: 25px 0;
}
.footer2 .left ul {
  display: flex;
  gap: 30px;
}

.footer2 .left ul li::after {
  content: "｜";
  margin-left: 20px;
}
.footer2 .left ul li a {
  color: #797979;
  font-size: 14px;
}
.footer2 .left ul li a:hover {
  color: #191919;
}
.footer2 .left ul li:last-child:after {
  display: none;
}
.footer2 .right p {
  color: #797979;
  font-size: 14px;
}

/* 맨 위에 떠있는거 두개 */
.floating-buttons {
  position: fixed;
  bottom: 30px;
  right: -100px; /* 처음엔 화면 밖 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 1000;
  transition: right 0.4s ease;
}

.floating-buttons.show {
  right: 30px; /* 나타날 위치 */
}

/* 나머지 버튼 스타일 */
.talk-button,
.top-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.talk-button {
  background: #ffeb00;
}

.talk-button img {
  width: 32px;
  height: 32px;
}

.top-button {
  background: white;
  border: none;
  font-size: 24px;
}
