@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
}

::selection {
  color: white;
  background-color: #444;
}

body {
  font-family: Pretendard, sans-serif;
  cursor: url('../img/mouse3.png'), auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #333;
  transition: .3s;
  background: #fff;
  box-shadow: rgb(100 100 100 / 10%) 0rem 0rem 2rem 13px;
  z-index: 100;
}

header nav {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav h1 {
  font-size: 3rem;
}

header nav ul {
  display: flex;
  gap: 5rem;
  height: 3.5rem;
  align-items: flex-end;
}

header nav ul li a {
  padding: .5rem;
  border-bottom: 1px solid transparent;
  transition: .5s;
}

header nav ul li:hover:not(.mOnly) a {
  border-bottom: 1px solid #000;
}

.mOnly {
  padding-top: .7rem;
  display: none;
}

/* ********* section1 ********* */
.blind{
  display: none;
}
.section1 .intro {
  max-width: 1200px;
  margin: 12rem auto 7rem;
  padding: 2rem;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
  height: 70vh;
  box-sizing: border-box;
}

.section1 .intro .mainText {
  text-align: left;
  height: 10rem;
  font-size: 1.5rem;
}

.section1 .intro .profile {
  width: 43%;
  height: 100%;
  display: flex;
  justify-content: end;
}

/***********************/
/* 이미지 + 회전 텍스트를 감싸는 래퍼 */
.section1 .intro .profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 75%;
  height: 100%;
  overflow: hidden;
}

.section1 .intro .profile-wrapper p {
  overflow: hidden;
  width: 80%;
  border-radius: 50%;
  box-shadow: rgba(0, 255, 255, 0.1) 0rem 0rem 2rem 13px;
  font-size: 0;
}

/* 회전하는 텍스트 컨테이너 */
.section1 .intro .circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: rotateCircle 20s linear infinite;
  pointer-events: none;
}

.section1 .intro .circle-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  font-family: sans-serif;
  transform-origin: 0 0;
  color: #111;
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/**********************/

.section1 .intro ul {
  text-align: left;
  flex: 1;
}

.section1 .intro ul li:nth-child(2),
.section1 .intro ul li:nth-child(3) {
  margin-bottom: 2rem;
}

.section1 .intro ul li:nth-child(2) h1,
.section1 .intro ul li:nth-child(3) h1 {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.section1 .intro ul li:nth-child(2) p:last-child {
  color: #444;
}

.section1 .intro ul li:last-child {
  display: flex;
  justify-content: left;
  gap: .5rem;
  margin-top: 4rem;
}

.section1 .intro ul li:last-child p {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #ddd;
}

/* ********* 포트폴리오 부분 ********* */
.section2 {
  max-width: 1400px;
  margin: 0 auto;
}

.section2 .itemList {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 0;
}

.section2 .itemList>li {
  display: flex;
  gap: 3rem 4rem;
  padding: 2rem;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: rgba(71, 71, 71, 0.1) 0rem 0rem 2rem 13px;
  border-radius: 1rem;
  box-sizing: border-box;
}

.section2 .pImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
  min-height: 20rem;
  overflow: visible;
}

.section2 .pImg .monitor,
.section2 .pImg .phone {
  position: relative;
}

.section2 .pImg .monitor p:first-child {
  width: 25rem;
  font-size: 0;
  overflow: hidden;
}

.section2 .pImg:hover p:last-child img {
  animation: scrollImage 3s forwards ease-in-out;
}

.section2 .pImg .monitor p:last-child,
.section2 .pImg .phone p:last-child {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: -1;
}

.section2 .pImg .monitor p:first-child {
  width: 25rem;
}

.section2 .pImg .monitor p:last-child {
  width: 24rem;
  height: 14rem;
  top: 0.5rem;
}

.section2 .pImg .phone {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8rem;
  z-index: 50;
}

.section2 .pImg .phone p:last-child {
  width: 7.5rem;
  height: 16rem;
  border-radius: 1rem;
  top: 0.1rem;
}

.section2 .pImg .monitor p:last-child img,
.section2 .pImg .phone p:last-child img {
  height: auto;
  /* 혹은 생략됨 */
}

/* 애니메이션 */
@keyframes scrollImage {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-75%);
  }
}

.section2 .desc li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section2 .desc {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.section2 .desc li:first-child,
.section2 .desc .skillIcons,
.section2 .desc li:last-child {
  display: flex;
  align-items: center;
}

.section2 .desc li:first-child {
  justify-content: space-between;
  gap: .7rem;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.section2 .desc li:first-child h1 {
  font-size: 2rem;
}

.section2 .desc li:first-child span {
  padding: .2rem .3rem;
  font-weight: 400;
  background: #444;
  color: #fff;
  border-radius: .3rem;
}

.section2 .desc li:nth-child(2) {
  font-size: .9rem;
  font-weight: 500;
  padding: 1rem 0 2rem;
}

.section2 .desc li:nth-child(2) .none{
  display: none;
}

.section2 .desc li:nth-child(3) {
  line-height: 1.4;
  padding-left: .7rem;
}

.section2 .desc li:nth-child(3) p {
  position: relative;
  line-height: 1.7;
}

.section2 .desc li:nth-child(3) p:before {
  position: absolute;
  content: '';
  width: .3rem;
  height: .3rem;
  left: -.7rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #ddd;
}

.section2 .desc .skillIcons {
  flex-direction: row;
  gap: .3rem;
  margin: 2rem 0;
}

.section2 .desc li:last-child {
  justify-content: center;
}

.section2 .desc li:last-child a {
  border: 1px solid #ddd;
  font-size: 1.3rem;
  line-height: .8;
  padding: .7rem 1.5rem;
  border-radius: 1rem;
  transition: .3s ease;
}

.section2 .desc li:last-child a:hover {
  border: 1px solid #4444;
  background: #444;
  color: #fff;
}

.section3 div a,
.section2 .desc .skillIcons p {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #ddd;
  padding: .5rem;
  border-radius: 50%;
}



/* ********* 최하단 copyright ********* */

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1400px;
  margin: 7rem auto 2rem;
  color: #333;
}

.section3 div {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

.section3 div a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ********* top버튼 ********* */
#topbtn {
  position: fixed;
  text-align: center;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0.5px solid #ddd;
  background: #ffffffa5;
  cursor: pointer;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100px);
  transition: all 0.5s ease;
}

#topbtn span {
  display: block;
  margin-top: 6px;
  font-size: 1.7rem;
}

#topbtn p {
  line-height: .9;
  font-size: 1rem;
}

/* ********* 커서 이미지 ********* */
.cursor {
  opacity: 0;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%) scale(1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.5rem;
  pointer-events: none;
  transition: transform 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor.on {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


/* ********* 타이핑효과 ********* */
.fade-out {
  animation: fadeOut .7s ease-in-out forwards !important
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* ********* sideMenu ********* */

.sideMenu {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 100vh;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  transform: translateX(100%);
  pointer-events: none;
}

.sideMenu.on {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto
}

.sideMenu ul {
  width: 90%;
  margin: 10vh auto;
}

.sideMenu ul li {
  font-size: 4rem;
  line-height: 2;
  text-align: center;
}

.sideMenu span {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
  cursor: pointer;
}

/* 반응형 */
@media screen and (max-width : 1024px) {
  :root {
    font-size: 13px;
    transition: .1s;
  }

  header nav ul {
    gap: 3rem;
  }

  .section1 .intro {
    gap: 5rem;
    height:50vh;
  }

  .section2 .itemList>li {
    padding: 3rem;
  }

  .section2 .pImg .phone {
    width: 7rem;
    right: 1rem;
  }

  .section2 .pImg .phone p:last-child {
    width: 6.5rem;
    height: 14rem;
  }
}

@media screen and (max-width: 768px) {

  header {
    height: 5rem;
  }

  header nav h1 {
    font-size: 2rem;
  }

  header ul li:not(.mOnly) {
    display: none;
  }

  .mOnly {
    display: block;
    line-height: 2.5;
  }

  .section1 .intro {
    flex-direction: column;
    gap: 2rem;
    border: 1px solid transparent;
    padding: 0;
    margin: 10rem auto 7rem;
  }

  .section1 .intro .profile {
    display: flex;
    justify-content: center;
  }

  .section1 .intro .circle-container{
    display: none;
  }

  .section1 .intro .mainText {
    text-align: center;
    font-size: 1.2rem;
    height: 6rem;
  }

  .section1 .intro ul {
    width: 100%;
    text-align: center;
  }

  .section1 .intro ul li:nth-child(2),
  .section1 .intro ul li:nth-child(3) {
    line-height: 1.3;
  }

  .section1 .intro ul li:last-child {
    justify-content: center;
    margin-top: 2rem;
  }

  .section2 .itemList>li {
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  .section2 .pImg {
    width: 100%;
    height: 20vh;
    overflow: hidden;
  }

  .section2 .pImg .phone {
    width: 7rem;
    right: 12vw;
  }

  .section2 .desc li:nth-child(2) {
    padding: 1rem 0;
  }

  .section2 .desc .skillIcons {
    margin: 1rem 0;
  }

  .section3 {
    margin: 2rem auto;
  }

  .section3 div {
    margin: 1rem 0 .3rem;
  }

}