@font-face {
  font-family: "xeicon";
  src: url("../fonts/xeicon.eot");
  src: url("../fonts/xeicon.eot") format("embedded-opentype"), url("../fonts/xeicon.woff2") format("woff2"), url("../fonts/xeicon.ttf") format("truetype"), url("../fonts/xeicon.woff") format("woff"), url("../fonts/xeicon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=xi-],
[class*=" xi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "xeicon" !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xi-kakaotalk:before {
  content: "\ebee";
}

.xi-cart-o:before {
  content: "\e9fb";
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  z-index: 12;
}
header .headwrap .top {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headwrap .top .top_left {
  width: 50%;
  display: flex;
  align-items: center;
}
header .headwrap .top .top_left .top_logo a img {
  width: 250px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 30px;
}
header .headwrap .top .top_left .topmenu {
  width: 600px;
  display: flex;
  text-transform: uppercase;
}
header .headwrap .top .top_left .topmenu .top_gnb {
  width: 100%;
  display: flex;
}
header .headwrap .top .top_left .topmenu .top_gnb li {
  width: 20%;
  padding: 0 17px;
  box-sizing: border-box;
}
header .headwrap .top .top_left .topmenu .top_gnb li a {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  line-height: 90px;
}
header .headwrap .top .top_left .topmenu .top_gnb li a:hover {
  color: #fed900;
}
header .headwrap .top .top_right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .headwrap .top .top_right .language {
  margin: 0 8px;
}
header .headwrap .top .top_right .language > li svg {
  width: 9px;
  margin-left: 8px;
}
header .headwrap .top .top_right .language > li svg path {
  fill: #fff;
  transition: fill 1s;
}
header .headwrap .top .top_right .language > li svg:hover path {
  fill: #fed900;
}
header .headwrap .top .top_right .language > li svg path.on {
  transform: rotate(180deg);
  transform-origin: center;
}
header .headwrap .top .top_right .language > li .language_con {
  width: 70px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  background: #fff;
  top: 90px;
  box-sizing: border-box;
  transition: 0.5s;
}
header .headwrap .top .top_right .language > li .language_con li {
  font-size: 0;
}
header .headwrap .top .top_right .language > li:first-child {
  display: flex;
  align-items: center;
}
header .headwrap .top .top_right .top_desc {
  display: flex;
  margin: 0 8px;
  text-transform: uppercase;
}
header .headwrap .top .top_right .top_desc li a {
  color: white;
}
header .headwrap .top .top_right .top_desc li a:hover {
  color: #fed900;
}
header .headwrap .top .top_right .top_desc li:nth-child(3) {
  display: flex;
}
header .headwrap .top .top_right .top_desc li:nth-child(3) a {
  display: flex;
  align-items: center;
}
header .headwrap .top .top_right .top_desc li:nth-child(3) svg {
  width: 15px;
  margin-right: 3px;
}
header .headwrap .top .top_right .top_desc li:nth-child(3) svg path {
  fill: #fff;
}
header .headwrap .top .top_right .top_desc li:nth-child(3):hover svg path {
  fill: #fed900;
}
header .headwrap .top .top_right .top_desc li::before {
  content: "|";
  color: #fff;
  margin: 0 10px;
}
header .headwrap .top .top_right .top_desc li.con_color::before {
  content: "|";
  color: #333;
  margin: 0 10px;
}
header .headwrap .top .top_right .top_desc li:first-child::before {
  content: "";
}
header .headwrap .top .top_right .top_sns {
  height: 90px;
  display: flex;
  align-items: center;
  padding-right: 17px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
header .headwrap .top .top_right .top_sns li a svg {
  width: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 8px;
}
header .headwrap .top .top_right .top_sns li a:hover svg path {
  fill: #fed900;
}
header .headwrap .top .top_right .top_sns li:nth-child(3) a svg, header .headwrap .top .top_right .top_sns li:nth-child(4) a svg {
  width: 23px;
}
header .headwrap .top .top_right .menu_bar {
  padding-left: 34px;
  cursor: pointer;
  z-index: 3;
}
header .headwrap .top .top_right .menu_bar .bar_top {
  width: 15px;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
header .headwrap .top .top_right .menu_bar .bar_top.on1 {
  transform: rotate(45deg) translate(6px, 3.5px);
}
header .headwrap .top .top_right .menu_bar .bar_middle {
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 10px 0;
  transition: 0.5s;
}
header .headwrap .top .top_right .menu_bar .bar_middle.on2 {
  transform: rotate(-45deg);
}
header .headwrap .top .top_right .menu_bar .bar_bottom {
  width: 15px;
  height: 2px;
  background: #fff;
  margin-left: 15px;
  transition: 0.5s;
}
header .headwrap .top .top_right .menu_bar .bar_bottom.on3 {
  transform: rotate(45deg) translate(-6px, -3.5px);
}
header .lnbwrap {
  height: 0;
  overflow: hidden;
  background: rgba(255, 217, 0, 0.95);
  transition: 0.5s;
}
header .lnbwrap .top_lnb {
  width: 90%;
  margin: 0 auto;
}
header .lnbwrap .top_lnb > ul {
  width: calc(50% - 280px);
  display: flex;
  margin-left: 280px;
  padding-top: 17px;
  text-transform: uppercase;
}
header .lnbwrap .top_lnb > ul > li {
  position: relative;
  width: 20%;
}
header .lnbwrap .top_lnb > ul > li ul li a {
  font-size: 15px;
  font-weight: 400;
  color: #333;
  line-height: 40px;
  padding: 0 17px;
  letter-spacing: -0.5px;
  transition: 0.3s;
}
header .lnbwrap .top_lnb > ul > li ul li a:hover {
  color: #fff;
}
header .lnbwrap .top_lnb > ul > li::after {
  content: "";
  position: absolute;
  top: -17px;
  width: 1px;
  height: 490px;
  background: rgba(228, 194, 0, 0.95);
}
header .lnbwrap .top_lnb > ul > li:first-child::after {
  display: none;
}

.head_light {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: #fff;
  visibility: hidden;
  transition: 0.3s;
  z-index: 11;
}
.head_light .headwrap .top {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_light .headwrap .top .top_left {
  width: 50%;
  display: flex;
  align-items: center;
}
.head_light .headwrap .top .top_left .top_logo a img {
  width: 250px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 30px;
}
.head_light .headwrap .top .top_left .topmenu {
  width: 600px;
  display: flex;
  text-transform: uppercase;
}
.head_light .headwrap .top .top_left .topmenu .top_gnb {
  width: 100%;
  display: flex;
}
.head_light .headwrap .top .top_left .topmenu .top_gnb li {
  width: 20%;
  padding: 0 17px;
  box-sizing: border-box;
}
.head_light .headwrap .top .top_left .topmenu .top_gnb li a {
  font-size: 17px;
  font-weight: 400;
  color: #333;
  line-height: 90px;
}
.head_light .headwrap .top .top_left .topmenu .top_gnb li a:hover {
  color: #fed900;
}
.head_light .headwrap .top .top_right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.head_light .headwrap .top .top_right .language {
  margin: 0 8px;
}
.head_light .headwrap .top .top_right .language > li svg {
  width: 9px;
  margin-left: 8px;
}
.head_light .headwrap .top .top_right .language > li svg path {
  fill: #333;
  transition: fill 1s;
}
.head_light .headwrap .top .top_right .language > li svg:hover path {
  fill: #fed900;
}
.head_light .headwrap .top .top_right .language > li svg path.on {
  transform: rotate(180deg);
  transform-origin: center;
}
.head_light .headwrap .top .top_right .language > li .language_con {
  width: 70px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  background: #fff;
  top: 90px;
  box-sizing: border-box;
  transition: 0.5s;
}
.head_light .headwrap .top .top_right .language > li .language_con li {
  font-size: 0;
}
.head_light .headwrap .top .top_right .language > li:first-child {
  display: flex;
  align-items: center;
}
.head_light .headwrap .top .top_right .top_desc {
  display: flex;
  margin: 0 8px;
  text-transform: uppercase;
}
.head_light .headwrap .top .top_right .top_desc li a {
  color: #333;
}
.head_light .headwrap .top .top_right .top_desc li a:hover {
  color: #fed900;
}
.head_light .headwrap .top .top_right .top_desc li:nth-child(3) {
  display: flex;
}
.head_light .headwrap .top .top_right .top_desc li:nth-child(3) a {
  display: flex;
  align-items: center;
}
.head_light .headwrap .top .top_right .top_desc li:nth-child(3) svg {
  width: 15px;
  margin-right: 3px;
}
.head_light .headwrap .top .top_right .top_desc li:nth-child(3) svg path {
  fill: #333;
}
.head_light .headwrap .top .top_right .top_desc li:nth-child(3):hover svg path {
  fill: #fed900;
}
.head_light .headwrap .top .top_right .top_desc li::before {
  content: "|";
  color: #333;
  margin: 0 10px;
}
.head_light .headwrap .top .top_right .top_desc li:first-child::before {
  content: "";
}
.head_light .headwrap .top .top_right .top_sns {
  height: 90px;
  display: flex;
  align-items: center;
  padding-right: 17px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.head_light .headwrap .top .top_right .top_sns li a svg {
  width: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 8px;
}
.head_light .headwrap .top .top_right .top_sns li a svg path {
  fill: #333;
}
.head_light .headwrap .top .top_right .top_sns li a:hover svg path {
  fill: #fed900;
}
.head_light .headwrap .top .top_right .top_sns li:nth-child(3) a svg, .head_light .headwrap .top .top_right .top_sns li:nth-child(4) a svg {
  width: 23px;
}
.head_light .headwrap .top .top_right .menu_bar {
  padding-left: 34px;
  cursor: pointer;
  z-index: 10;
}
.head_light .headwrap .top .top_right .menu_bar .bar_top {
  width: 15px;
  height: 2px;
  background: #333;
  transition: 0.3s;
}
.head_light .headwrap .top .top_right .menu_bar .bar_top.on1 {
  transform: rotate(45deg) translate(6px, 3.5px);
}
.head_light .headwrap .top .top_right .menu_bar .bar_middle {
  width: 30px;
  height: 2px;
  background: #333;
  margin: 10px 0;
  transition: 0.5s;
}
.head_light .headwrap .top .top_right .menu_bar .bar_middle.on2 {
  transform: rotate(-45deg);
}
.head_light .headwrap .top .top_right .menu_bar .bar_bottom {
  width: 15px;
  height: 2px;
  background: #333;
  margin-left: 15px;
  transition: 0.3s;
}
.head_light .headwrap .top .top_right .menu_bar .bar_bottom.on3 {
  transform: rotate(45deg) translate(-6px, -3.5px);
}
.head_light .lnbwrap {
  height: 0;
  overflow: hidden;
  background: rgba(255, 217, 0, 0.95);
  transition: 0.5s;
}
.head_light .lnbwrap .top_lnb {
  width: 90%;
  margin: 0 auto;
}
.head_light .lnbwrap .top_lnb > ul {
  width: calc(50% - 280px);
  display: flex;
  margin-left: 280px;
  padding-top: 17px;
  text-transform: uppercase;
}
.head_light .lnbwrap .top_lnb > ul > li {
  position: relative;
  width: 20%;
}
.head_light .lnbwrap .top_lnb > ul > li ul li a {
  font-size: 15px;
  font-weight: 400;
  color: #333;
  line-height: 40px;
  padding: 0 17px;
  letter-spacing: -0.5px;
  transition: 0.3s;
}
.head_light .lnbwrap .top_lnb > ul > li ul li a:hover {
  color: #fff;
}
.head_light .lnbwrap .top_lnb > ul > li::after {
  content: "";
  position: absolute;
  top: -17px;
  width: 1px;
  height: 490px;
  background: rgba(228, 194, 0, 0.95);
}
.head_light .lnbwrap .top_lnb > ul > li:first-child::after {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  height: 0vh;
  background-color: #fed900;
  transition: 0.3s;
  overflow: hidden;
  z-index: 8;
}
nav .navwrap {
  width: 1320px;
  margin: 0 auto;
  text-transform: uppercase;
}
nav .navwrap .nav_gnb {
  display: flex;
  padding: 270px 12px 0 12px;
  margin-bottom: 150px;
}
nav .navwrap .nav_gnb > li {
  width: 20%;
  padding: 15px;
  box-sizing: border-box;
}
nav .navwrap .nav_gnb > li > a {
  display: block;
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 17px;
  margin-bottom: 17px;
  border-bottom: 1px solid #333;
  color: #333;
}
nav .navwrap .nav_gnb > li > a:hover {
  color: #fff;
}
nav .navwrap .nav_gnb > li .nav_lnb li {
  margin-bottom: 10px;
}
nav .navwrap .nav_gnb > li .nav_lnb li a {
  font-size: 15px;
  color: #333;
}
nav .navwrap .nav_gnb > li .nav_lnb li a:hover {
  color: #fff;
}
nav .navwrap .nav_logo {
  width: 250px;
  margin: 0 auto;
}
nav .navwrap .nav_logo img {
  width: 250px;
}

.quickmenu {
  width: 100px;
  height: 436px;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 6;
}
.quickmenu ul {
  position: absolute;
  text-align: center;
  padding: 0 15px;
  background: #1d1d1d;
  border-radius: 10px;
}
.quickmenu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 0;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.quickmenu ul li a {
  color: #fff;
}
.quickmenu ul li a img {
  display: block;
  width: 41px;
  height: 41px;
  -o-object-fit: contain;
     object-fit: contain;
}
.quickmenu ul li a svg {
  width: 38px;
  -o-object-fit: contain;
     object-fit: contain;
}
.quickmenu ul li a:first-child img {
  display: none;
}
.quickmenu ul li p {
  font-size: 14px;
  letter-spacing: -1px;
  margin-top: 17px;
  color: #fff;
}
.quickmenu ul li:last-child {
  border: none;
}
.quickmenu ul li:hover p {
  color: #fed900;
}
.quickmenu ul li:hover a:first-child img {
  display: block;
}
.quickmenu ul li:hover a:nth-child(2) img {
  display: none;
}
.quickmenu ul li:hover a i {
  color: #fed900;
}
.quickmenu ul li:hover a svg path {
  fill: #fed900;
}

.sub_header {
  position: relative;
  height: 650px;
  font-size: 0;
}
.sub_header img {
  width: 100%;
  filter: brightness(70%);
}
.sub_header .sub_nav_wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
}
.sub_header .sub_nav_wrap .sub_nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.sub_header .sub_nav_wrap .sub_nav > svg {
  width: 19px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.sub_header .sub_nav_wrap .sub_nav > svg path {
  fill: #999;
}
.sub_header .sub_nav_wrap .sub_nav .brand {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.sub_header .sub_nav_wrap .sub_nav .brand li {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  color: #fff;
  font-size: 17px;
  line-height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.sub_header .sub_nav_wrap .sub_nav .brand li svg {
  width: 10px;
  border: none;
}
.sub_header .sub_nav_wrap .sub_nav .brand li svg path {
  fill: #999;
}
.sub_header .sub_nav_wrap .sub_nav .brand li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.sub_header .sub_lnb {
  width: 70%;
  margin: 0 auto;
}
.sub_header .sub_lnb > ul {
  margin-left: 60px;
}
.sub_header .sub_lnb > ul > li {
  display: flex;
}
.sub_header .sub_lnb > ul > li ul {
  visibility: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  box-sizing: border-box;
  background: #fff;
}
.sub_header .sub_lnb > ul > li ul li a {
  display: block;
  width: 248px;
  color: #666;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}
.sub_header .sub_lnb > ul > li ul li a:hover {
  color: #fed900;
}

.content .conwrap {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 175px;
}
.content .conwrap .title {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 200px;
}
.content .conwrap .title h1 {
  height: 117px;
  font-weight: 500;
  overflow: hidden;
  color: #333;
  font-size: 90px;
  line-height: 117px;
}
.content .conwrap .title h1:nth-child(3) {
  font-size: 85px;
  font-weight: 300;
  letter-spacing: 20px;
  line-height: 110px;
}
.content .conwrap .title h1 p {
  position: relative;
  transition: top 0.5s;
  top: -117px;
}
.content .conwrap .title .point {
  width: 530px;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .conwrap .title .point .bar {
  display: block;
  width: 0px;
  height: 1px;
  background: #333;
}
.content .conwrap .title .point .circle {
  display: block;
  width: 20px;
  height: 20px;
  transform: scale(0);
  border-radius: 50%;
  background: #333;
  transition: 1s;
  transition-delay: 1.5s;
}
.content .conwrap .title .point .circle.on {
  transform: scale(1);
}
.content .conwrap .history {
  text-align: center;
  margin-bottom: 150px;
}
.content .conwrap .history p {
  color: #555;
  font-size: 17px;
  margin-bottom: 15px;
}
.content .conwrap .history h1 {
  color: #333;
  font-size: 36px;
  font-weight: 700;
}
.content .conwrap .con1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.content .conwrap .con1 .con_left img {
  width: 630px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .conwrap .con1 .con_right {
  text-align: right;
}
.content .conwrap .con1 .con_right h1 {
  font-size: 75px;
  font-weight: 700;
  color: #ffdd1a;
}
.content .conwrap .con1 .con_right .con_desc_line {
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #666;
  margin: 20px 0;
}
.content .conwrap .con1 .con_right ul li {
  position: relative;
  margin: 10px 0;
  padding-right: 20px;
  font-weight: 300;
  color: #666;
}
.content .conwrap .con1 .con_right ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: #ffdd1a;
  border-radius: 50%;
}
.content .conwrap .con2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.content .conwrap .con2 .con_left img {
  width: 630px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .conwrap .con2 .con_right {
  text-align: left;
}
.content .conwrap .con2 .con_right h1 {
  font-size: 75px;
  font-weight: 700;
  color: #ffdd1a;
}
.content .conwrap .con2 .con_right .con_desc_line {
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #666;
  margin: 20px 0;
}
.content .conwrap .con2 .con_right ul li {
  position: relative;
  margin: 10px 0;
  padding-left: 20px;
  font-weight: 300;
  color: #666;
}
.content .conwrap .con2 .con_right ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: #ffdd1a;
  border-radius: 50%;
}
.content .conwrap .con_desc {
  width: 100%;
  height: 650px;
  position: relative;
  margin-top: 225px;
  text-align: center;
}
.content .conwrap .con_desc img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  filter: blur(100px);
  transition: 1s;
}
.content .conwrap .con_desc img.on {
  filter: blur(0px);
}
.content .conwrap .descwrap {
  width: 1300px;
  position: absolute;
  top: 450px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.content .conwrap .descwrap .desc {
  width: 29%;
  text-align: left;
  background: #ffd900;
  padding: 30px 20px;
  border-radius: 0 30px 0 0;
}
.content .conwrap .descwrap .desc h1 {
  font-size: 24px;
  font-weight: 700;
  color: #3e3a39;
}
.content .conwrap .descwrap .desc .desc_line {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #3e3a39;
  margin: 15px 0;
}
.content .conwrap .descwrap .desc ul li {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #3e3a39;
  padding-left: 23px;
  margin-bottom: 10px;
}
.content .conwrap .descwrap .desc ul li::before {
  position: absolute;
  left: 0;
  content: "";
  width: 16px;
  height: 11px;
  background: url(../images/check.svg);
}

footer {
  padding: 25px 0 40px 0;
  background: #1e2029;
}
footer .footwrap {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footwrap ul {
  width: 50%;
}
footer .footwrap ul li {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
}
footer .footwrap ul li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}
footer .footwrap ul:first-child li:last-child {
  font-size: 13px;
}
footer .footwrap ul:nth-child(2) {
  display: flex;
}
footer .footwrap ul:nth-child(2) li {
  margin-right: 20px;
}
footer .footwrap ul:nth-child(2) li a {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}
footer .footwrap ul:nth-child(2) li a:hover {
  color: #fff;
}