@charset "utf-8";


/***************** header *****************/


header {
  width: 100%;
  box-sizing: border-box;
}

header nav {
  position: relative;
  top: 0;
  padding: 0 50px 0 70px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  font-family: "Roboto", "Noto Sans KR";
  transition: .5s;
  z-index: 10;
}

header nav .mainMenu {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

header nav .mainMenu li a {
  display: block;
  padding: 0 25px;
  height: 120px;
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 120px;
  box-sizing: border-box;
}

/* menu에 hover시 효과 */
header nav.on {
  background: #fff;
}

header nav.on .logo img {
  content: url(../images/logo_on.png);
}

header nav.on .mainMenu a {
  color: #222;
}

header nav.on .mainMenu a.on {
  color: #07348c;
}

header nav .subMenu {
  display: none;
  position: absolute;
  width: 100%;
  height: 380px;
  top: 119px;
  left: 0;
  z-index: 20;
  box-sizing: border-box;
}

header nav.on .subMenu {
  display: block;
}

header .subMenuItem.on {
  z-index: 10;
}

header .subMenuItem.on a:hover {
  transition: .5s;
  color: #07348c;
}

header .subMenuItem.on h2>a:hover {
  border-bottom: 1px solid #07348c;
}

header .subMenuItem {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

header .subMenuItem .box {
  display: flex;
  justify-content: end;
  height: 100%;
  width: 33%;
  padding: 40px 50px 40px 0;
  box-sizing: border-box;
  background: #eee;
}

header .subMenuItem .boxItem {
  width: 50%;
}

header .subMenuItem .boxItem h1 {
  font-size: 35px;
  line-height: 35px;
}

header .subMenuItem .boxItem span {
  display: block;
  color: #888;
  font-size: 14px;
  margin: 20px 0 15px;
  letter-spacing: -1px;
  word-break: keep-all;
}

header .subItem {
  display: flex;
  flex: 1;
  height: 100%;
  gap: 20px;
  padding: 40px 0 0 50px;
  box-sizing: border-box;
  background: #f8f8f8;
}

header .subItem li {
  width: 130px;
  height: 100%;
}

header .subItem li h2 {
  font-size: 15px;
  padding-bottom: 18px;
}

header .subItem li h2>a {
  display: block;
  color: #222;
  font-weight: 500;
  padding: 18px 0;
  border-bottom: 1px solid #222;
}

header .subItem li ul li {
  line-height: 17px;
}

header .subItem li ul li a {
  display: block;
  font-size: 13px;
  color: #666;
  word-break: keep-all;
  letter-spacing: -1px;
  margin: 7px 0;
}

header nav.on .lang {
  border: 1px solid #222;
}

header nav.on .lang a {
  color: #222;
}

header nav .lang {
  font-size: 13px;
  padding: 7px 15px;
  margin-right: 100px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, .5);
  letter-spacing: -1px;
  font-weight: 600;
  cursor: pointer;
}

header nav .btns {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

header nav .btns span:last-child {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
}

header nav.on .btns span:last-child::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 130px;
  height: 120px;
  background: #07348c;
  z-index: -1;
}



/***************** footer *****************/



footer {
  width: 100%;
  border-top: solid 1px #ccc;
  background: #202020;
}

footer .wrap {
  width: 1280px;
  padding: 50px 0;
  margin: 0 auto;
}

footer .wrap .top,
footer .wrap .bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  align-items: center;
}

footer .wrap .top ul {
  display: flex;
}

footer .wrap .top ul a {
  font-family: "Roboto", sans-serif;
  padding: 0 10px;
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
  position: relative;
  letter-spacing: -1.5px;
}

footer .wrap .top ul li:not(:last-child) a::after {
  content: '';
  position: absolute;
  top: 1px;
  right: 0;
  width: 1px;
  height: 10px;
  background: #ccc;
}

footer .wrap .bottom {
  border-bottom: none;
  padding: 35px 0 0;
  margin-top: 25px;
  border-top: solid 1px #b1b1b1;
}

footer .wrap .bottom>ul li:first-child {
  margin-bottom: 10px;
}

footer .wrap .bottom p {
  font-size: 12px;
  font-weight: 300;
  color: #999;
}

footer .wrap .bottom .familySite {
  position: relative;
  width: 170px;
  padding: 12px 10px;
  cursor: pointer;
  border-bottom: solid 1px #b1b1b1;
}

footer .wrap .bottom .familySite p {
  display: flex;
  font-size: 15px;
  letter-spacing: -1px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

footer .wrap .bottom .familySite span {
  color: #fff;
}

footer .wrap .bottom .familySite ul {
  position: absolute;
  bottom: 40px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 0;
  transition: height .5s;
  overflow: hidden;
}

footer .wrap .bottom .familySite.on ul {
  height: 120px;
  animation: scr .3s .3s forwards linear;
}

footer .wrap .bottom .familySite ul li a {
  display: block;
  color: #222;
  font-size: 14px;
  height: 25%;
  padding: 3px 0 3px 5px;
  letter-spacing: -1px;
  font-family: "Roboto", "Noto Sans KR";
}

footer .wrap .bottom .familySite ul li:first-child a {
  margin-top: 7px;
}

footer .wrap .bottom .familySite ul li:last-child a {
  margin-bottom: 7px;
}

footer .wrap .bottom .familySite ul li a:hover {
  text-decoration-line: underline;
}

@keyframes scr {
  to {
    overflow-y: scroll;
  }
}