@charset "utf-8";
@font-face {
  font-family: libre;
  src: url(../webfonts/LibreCaslonText-Bold_1.woff) format("woff");
}
@font-face {
  font-family: Lora;
  src: url("../webfonts/Lora-Regular_1.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  background-color: #fbf7ef;
  font-family: libre;
}
.wrap {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #8eb463;
  z-index: 99;
  background: #fbf7ef;
}
.nav {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
}
.nav li {
  margin-right: 75px;
}
.nav li a {
  color: #333;
  cursor: pointer;
}
.nav li a.on {
  color: #75a939;
}
.nav li:hover a {
  color: #75a939;
}
.nav li:last-child {
  margin-right: 155px;
}
section {
  height: calc(100vh - 91px);
}
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
}
.intro .tit {
  position: absolute;
  top: 52%;
  left: 15%;
  font-size: 150px;
  transform: translateY(-50%);
  color: #75a939;
}
.intro .img {
  position: absolute;
  top: 22%;
  right: 12%;
}
.intro .flower img {
  width: 515px;
  height: 744px;
}
.profile {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #85a85c;
  background-image: url(../images/line.svg);
  background-repeat: no-repeat;
  background-position: 30% 93%;
}
.profile h1 {
  color: #fbf7ef;
  font-size: 70px;
  letter-spacing: 1.2px;
  padding: 100px 0 50px 140px;
  text-transform: uppercase;
}
.profile .left {
  position: relative;
}
.profile img {
  width: 465px;
  height: 640px;
  border-radius: 180px;
  margin: -30px 0 0 100px;
}
.profile .left .tit {
  position: absolute;
  bottom: -40px;
  left: 450px;
  color: #ddea8e;
  font-size: 100px;
}
.profile .left .tit p:nth-child(2) {
  margin-left: 210px;
}
.profile .left .tit p:nth-child(2) span {
  margin-left: 40px;
}
.profile .right {
  position: absolute;
  top: 220px;
  right: 230px;
  font-size: 30px;
  font-family: Lora;
}
.profile .right div {
  margin-top: 28px;
}
.profile .right .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddea8e;
  margin-top: -2px;
}
.profile .right div p {
  color: #fbf7ef;
}
.profile .right .name {
  display: flex;
  align-items: center;
}
.profile .right div p:nth-child(2) {
  color: #ddea8e;
  margin-left: 30px;
  font-weight: 700;
}
.profile .right .name p:nth-child(3) {
  margin-left: 40px;
  font-size: 25px;
}
.profile .right .age {
  display: flex;
  align-items: center;
}
.profile .right .age p:nth-child(3) {
  margin-left: 75px;
  font-size: 25px;
}
.profile .right .skills {
  display: flex;
}
.profile .right .skills .circle {
  margin-top: 12px;
}
.profile .right .skills ul {
  font-size: 25px;
  color: #fbf7ef;
  margin-left: 35px;
  padding-top: 3px;
}
.profile .right .skills ul li + li {
  margin-top: 15px;
}
.work1,
.work3 {
  position: relative;
  width: 100%;
  height: 100%;
}
.work1 h1,
.work3 h1 {
  font-size: 70px;
  color: #75a939;
  padding: 110px 0 0 170px;
}
.work1 .thumb,
.work3 .thumb {
  position: relative;
  width: 583px;
  height: 674px;
  margin: 50px 0 0 150px;
}
.work1 .thumb .mokup,
.work3 .thumb .mokup {
  width: 100%;
  height: 100%;
}
.work1 .thumb .mokup img,
.work3 .thumb .mokup img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work1 .thumb a,
.work3 .thumb a {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 545px;
  height: 310px;
}
.work1 .thumb a img,
.work3 .thumb a img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.work1 .thumb a:before,
.work3 .thumb a:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #dfd5b9;
  z-index: 99;
  opacity: 0;
}
.work1 .thumb a:hover:before,
.work3 .thumb a:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #dfd5b9;
  z-index: 99;
  opacity: 0.5;
  transition: opacity 0.6s;
}
.work1 .work_info,
.work3 .work_info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 300px 330px 0 0;
}
.work1 .work_info .tit,
.work3 .work_info .tit {
  padding-top: 70px;
}
.work1 .work_info .tit img {
  position: relative;
  padding-left: 30px;
}
.work1 .work_info .tit .highlight {
  position: absolute;
  width: 0;
  height: 20px;
  background-color: #75a939;
  opacity: 0.5;
  top: 50.5%;
  left: 0;
  z-index: -1;
  margin-top: 8px;
}
.work1 .desc,
.work3 .desc {
  padding-top: 50px;
  color: #333;
}
.work1 .desc p:first-child,
.work3 .desc p:first-child {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.work1 .desc p:last-child,
.work3 .desc p:last-child {
  margin-top: 15px;
  line-height: 1.4;
}
.work1 .proto p,
.work3 .proto p {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 60px;
  color: #75a939;
  font-size: 18px;
  font-weight: 700;
}
.work1 .proto span,
.work3 .proto span {
  margin-left: 20px;
  color: #333;
}
.work1 .library p,
.work3 .library p {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 60px;
  color: #75a939;
  font-size: 18px;
  font-weight: 700;
}
.work1 .library span,
.work3 .library span {
  margin-left: 20px;
  color: #333;
}
.work2 {
  position: relative;
  width: 100%;
  height: 100%;
}
.work2 h1 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 70px;
  color: #75a939;
  padding: 110px 240px 0 0;
}
.work2 .thumb {
  position: absolute;
  width: 583px;
  height: 674px;
  top: 25%;
  right: 220px;
}
.work2 .thumb a {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 545px;
  height: 310px;
}
.work2 .thumb .mokup {
  width: 100%;
  height: 100%;
}
.work2 .thumb .mokup img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work2 .thumb a img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.work2 .thumb a:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #dfd5b9;
  z-index: 99;
  opacity: 0;
}
.work2 .thumb a:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #dfd5b9;
  z-index: 99;
  opacity: 0.5;
  transition: opacity 0.6s;
}
.work2 .work_info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 300px 0 0 330px;
}
.work2 .work_info .tit {
  padding-top: 70px;
}
.work2 .work_info .tit img {
  position: relative;
  padding-left: 20px;
}
.work2 .work_info .tit .highlight {
  position: absolute;
  width: 0;
  height: 20px;
  background-color: #75a939;
  opacity: 0.5;
  top: 50.5%;
  left: 42%;
  z-index: -1;
  margin-top: 12px;
}
.work2 .desc {
  padding-top: 50px;
  color: #333;
}
.work2 .desc p:first-child {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.work2 .desc p:last-child {
  margin-top: 15px;
  line-height: 1.4;
}
.work2 .proto p {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 60px;
  color: #75a939;
  font-size: 18px;
  font-weight: 700;
}
.work2 .proto span {
  margin-left: 20px;
  color: #333;
}
.work2 .library p {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 70px;
  color: #75a939;
  font-size: 18px;
  font-weight: 700;
}
.work2 .library span {
  margin-left: 20px;
  color: #333;
}
.work3 .work_info .tit img {
  position: relative;
  padding-left: 15px;
}
.work3 .work_info .tit .highlight {
  position: absolute;
  width: 0;
  height: 20px;
  background-color: #75a939;
  opacity: 0.5;
  top: 51.5%;
  left: -20px;
  z-index: -1;
  margin-top: 8px;
}
/* @media (max-width: 1880px) {
  .profile img {
    width: 425px;
    height: 600px;
  }
  .profile .left .tit {
    left: 430px;
  }
  .profile .right div {
    margin-top: 80px;
    margin-left: 30px;
  }
  .profile .right div .circle {
    width: 8px;
    height: 8px;
    margin-top: 4px;
  }
  .profile .right div p:nth-child(2) {
    margin-left: 10px;
    font-size: 24px;
  }
  .profile .right .name p:nth-child(3) {
    font-size: 22px;
    margin-left: 20px;
  }
  .profile .right .age {
    margin-top: 20px;
    float: left;
  }
  .profile .right .age p:nth-child(3) {
    font-size: 22px;
  }
  .profile .right .age p:nth-child(3) {
    margin-left: 45px;
  }
  .profile .right .skills {
    float: left;
    margin-top: -32px;
    margin-left: 80px;
  }
  .profile .right .skills ul li {
    font-size: 22px;
    margin-left: 20px;
  }
  .profile .right .skills ul li:nth-of-type(2) {
    position: absolute;
    top: -12px;
    left: 50%;
  }
  .profile .right .skills ul li:nth-of-type(3) {
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: 100px;
  }
  .profile .right .skills ul li:nth-of-type(5) {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: 50px;
  }
  .profile .right .skills ul li:nth-of-type(7) {
    position: absolute;
    top: 62%;
    left: 80%;
    margin-left: 50px;
  }
}
@media (max-width: 1880px) {
  .nav li {
    font-size: 15px;
  }
  .intro .tit {
    font-size: 120px;
  }
  .profile {
    background-position: 15% 90%;
    background-size: 120%;
  }
}
@media (max-width: 1420px) {
  .intro .img {
    top: 21%;
    right: 8%;
  }
  .intro .flower img {
    width: 415px;
    height: 544px;
  }
  .profile {
    background-position: 15% 90%;
    background-size: 100%;
  }
  .profile h1 {
    font-size: 50px;
    padding-top: 120px;
  }
  .profile img {
    width: 365px;
    height: 500px;
    border-radius: 140px;
    margin: 10px 0 0 100px;
  }
  .profile .left .tit {
    bottom: -70px;
    left: 380px;
    font-size: 80px;
  }
  .profile .left .tit p:nth-child(2) {
    margin-left: 160px;
  }
  .profile .left .tit p:nth-child(2) span {
    margin-left: 30px;
  }
  .profile .right {
    right: 300px;
  }
  .profile .right .skills {
    margin-top: 25%;
    margin-left: -165px;
  }
  .profile .right .skills ul li {
    margin-left: -20px;
  }
  .profile .right .skills ul li:nth-of-type(2) {
    left: 70%;
  }
  .profile .right .skills ul li:nth-of-type(3) {
    margin-left: 80px;
  }
  .profile .right .skills ul li:nth-of-type(5) {
    margin-left: 20px;
  }
}
@media (max-width: 1080px) {
  .nav {
    right: 0;
    left: 20%;
  }
  .intro .tit {
    left: 20%;
    font-size: 150px;
  }
  .intro .haeon {
    padding-top: 50px;
    padding-left: 120px;
  }
  .intro .flower img {
    width: 0;
    height: 0;
  }
  .profile {
    background-position: 0 90%;
  }
  .profile h1 {
    padding: 120px 0 50px 210px;
    font-size: 40px;
  }
  .profile img {
    width: 300px;
    height: 400px;
    border-radius: 45%;
    margin: 30px 0 0 150px;
  }
  .profile .left .tit {
    display: flex;
    bottom: -140px;
    left: 200px;
    font-size: 70px;
  }
  .profile .left .tit p {
    display: flex;
    align-items: center;
    margin-left: -130px;
  }
  .profile .left .tit p:first-child span {
    padding-left: 20px;
  }
  .profile .left .tit p:nth-child(2) {
    margin-left: 30px;
  }
  .profile .right {
    top: 260px;
    right: 250px;
  }
} */
