@charset "utf-8";
@font-face {
  font-family: "Rajdhani-Bold";
  src: url(../webfonts/Rajdhani/Rajdhani-Bold.woff);
}
@font-face {
  font-family: "Rajdhani-SemiBold";
  src: url(../webfonts/Rajdhani/Rajdhani-SemiBold.woff);
}
@font-face {
  font-family: "Rajdhani-Bold";
  src: url(../webfonts/Rajdhani/Rajdhani-Bold.woff);
}

/* @font-face {
  font-family: "MontserratAlternates-Bold";
  src: url(../webfonts/Montserrat_Alternates/MontserratAlternates-SemiBold.woff);
}
@font-face {
  font-family: "MontserratAlternates-Black";
  src: url(../webfonts/Montserrat_Alternates/MontserratAlternates-Black.woff);
} */
@font-face {
  font-family: "SCDream3";
  src: url(../webfonts/S-Core_Dream_OTF/SCDream3.otf);
}
@font-face {
  font-family: "SCDream4";
  src: url(../webfonts/S-Core_Dream_OTF/SCDream4.otf);
}
@font-face {
  font-family: "SCDream5";
  src: url(../webfonts/S-Core_Dream_OTF/SCDream5.otf);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2e2e2e;
}
em {
  font-style: normal;
  color: #9d9d9d;
}
h2 {
  font-family: "MontserratAlternates-Black";
  font-size: 50px;
}
h4 {
  font-family: "SCDream3";
  font-size: 16px;
}
h5 {
  font-family: "SCDream4";
  font-size: 16px;
}
span {
  font-size: 30px;
  font-size: 30px;
}
body {
  font-family: "Rajdhani-SemiBold";
  background: #ebebeb;
  color: #2e2e2e;
}
header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 0 50px;
  padding-left: 100px;
  box-sizing: border-box;
}
header .header_wrap {
  position: relative;
  width: 100%;
}
header .header_top {
  width: 100%;
  display: flex;
  gap: 350px;
}
header .header_top .header_text {
  display: flex;
  gap: 350px;
  font-size: 25px;
  margin-bottom: 25px;
}
header .header_top .header_text span:hover a {
  color: #004591;
}
header .header_top .header_box {
  width: 30px;
  height: 30px;
  background: #000;
}
header .menu {
  position: absolute;
  top: 0;
  right: 100px;
}
.header_line {
  width: 1500px;
  height: 1px;
  background: #000;
  position: relative;
}
.header_line::after {
  content: "";
  width: 1px;
  height: 60px;
  background: #000;
  position: absolute;
  right: 46px;
  bottom: -30px;
}
section {
  width: 100%;
  height: 931px;
}
section .main {
  width: 100%;
  height: 800px;
  padding: 70px 100px;
  padding-left: 235px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
section .main .main_title span {
  font-size: 200px;
  font-family: "Rajdhani-SemiBold";
  display: block;
  color: #000;
}
section .main .main_box1 {
  width: 625px;
  height: 500px;
  background: url(../images/marble_texture.jpg) center/cover;
  position: relative;
  left: -22px;
  float: left;
}
section .main .main_box2 {
  width: 247px;
  height: 533px;
  background: url(../images/texture_conc.jpg);
  top: 70px;
  right: 144px;
  position: absolute;
}
section .main .main_sidetxt {
  position: absolute;
  transform: rotate(-90deg);
  top: 500px;
  left: 0;
  letter-spacing: 5px;
}
section .main .main_botline {
  position: absolute;
  width: 150px;
  height: 1px;
  background: #000;
  right: 144px;
  bottom: 0;
}
section .main .main_txt {
  display: flex;
  flex-direction: column;
  margin-top: 310px;
  padding-left: 90px;
  gap: 10px;
}
section .main .txt_name span {
  font-size: 50px;
  font-family: "Rajdhani-Bold";
  position: relative;
}
section .main .txt_name span::after {
  content: "";
  width: 420px;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
section .main .txt_sub {
  display: flex;
  flex-direction: column;
}

article {
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  font-family: "Rajdhani-Bold";
  position: relative;
}
article .contents_index {
  width: 70%;
}
article .contents_inner {
  display: flex;
  border-bottom: 3px solid #949494;
  padding: 40px 0;
  width: 1240px;
  position: relative;
}

article .index_box {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  transform: translateY(-50%);
  gap: 50px;
}
article .contents_inner .index_box .box {
  font-family: "SCDream4";
  font-size: 20px;
  line-height: 40px;
  color: #ebebeb;
  width: 200px;
  height: 40px;
  background: #2e2e2e;
  text-align: center;
  border-radius: 40px;
}
.box a {
  color: #fff;
}
article .contents_title {
  font-size: 80px;
  margin-top: 90px;
}

article .index_text {
  font-family: "Rajdhani-Bold";
  font-size: 50px;
  margin-left: 100px;
}
article .contents_sidewrap {
  position: absolute;
  width: 380px;
  bottom: 0;
  right: 100px;
}
article .contents_sidewrap .side_title h2 {
  font-size: 30px;
}
article .contents_sidewrap .side_text span {
  font-size: 16px;
  font-family: "SCDream4";
}
article .contents_line {
  width: 100%;
  height: 5px;
  background: #949494;
}

section.sec2 {
  width: 100%;
  height: 931px;
  margin: 0 auto;
  padding: 200px 200px;
  box-sizing: border-box;
}
section .sec2_wrap {
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
/* 프로필 */
section .sec2_wrap .about {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 100px;
  margin-top: -80px;
}
section .sec2_wrap .about .pict {
  background: #949494;
  width: 308px;
  height: 400px;
  margin: 0 auto;
  background: url(../images/me555.jpg) center/cover;
}
section .sec2_wrap .about .profile {
  display: flex;
  gap: 30px;
}
section .sec2_wrap .about .profile span {
  font-size: 20px;
}
section .sec2_wrap .about .profile_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section .sec2_wrap .about .profile_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* 연혁 */
section.sec2 .history {
  width: 1000px;
}
section.sec2 .history .history_title h2 {
  font-family: "Rajdhani-Bold";
  font-size: 30px;
  border-bottom: 1px solid;
  margin-bottom: 50px;
  position: relative;
}
section.sec2 .history .history_title h2::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 1px;
  background: #000;
  right: 20px;
  bottom: -25px;
}
section.sec2 .history .history_inner dl {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  font-size: 23px;
}
section.sec2 .history .history_inner dl dd {
  width: 40%;
  font-family: "Rajdhani-Bold";
}
section.sec2 .history .history_inner dl dt {
  width: 60%;
  font-family: "SCDream5";
}
/* 스킬 */
section.sec_skill {
  width: 100%;
  margin: 0 auto;
  padding: 50px 200px;
  box-sizing: border-box;
}
section.sec_skill .skill {
  width: 100%;
}
section.sec_skill .skill_title h2 {
  width: 100%;
  font-family: "Rajdhani-Bold";
  margin-bottom: 100px;
}
section.sec_skill .skill ul {
  display: flex;
  text-align: center;
  gap: 50px;
  margin: 100px auto;
}
section.sec_skill .skill ul.skill_line {
  justify-content: center;
}
section.sec_skill .skill ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 270px;
}
section.sec_skill .skill ul li .skill_circle {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  align-items: center;
  position: relative;
  z-index: 0;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  cursor: pointer;

  /* background: conic-gradient(yellowgreen 277deg, white 0deg); */
}
section.sec_skill .skill ul li .skill_list:hover svg {
  fill: #fff;

  /* background: conic-gradient(yellowgreen 277deg, white 0deg); */
}
section.sec_skill .skill ul li .skill_circle::before {
  content: "";
  width: 400px;
  height: 400px;
  border-radius: 45%;
  background: #9e9e9e;
  display: block;
  position: absolute;
  z-index: -1;
  left: -70%;
  top: 25%;
  animation: wave infinite 3s;
  transition: background 0.5s;
}
section.sec_skill .skill ul li:nth-child(1) .skill_circle::before {
  top: 12%;
}
section.sec_skill .skill ul li:nth-child(2) .skill_circle::before {
  top: 12%;
}
section.sec_skill .skill ul.skill_line li:nth-child(1) .skill_circle::before {
  top: 20%;
}
section.sec_skill .skill ul.skill_line li:nth-child(2) .skill_circle::before {
  top: 25%;
}
section.sec_skill .skill ul.skill_line li:nth-child(3) .skill_circle::before {
  top: 35%;
}
section.sec_skill .skill ul li:hover .skill_circle::before {
  background: #535fe8;
}
section.sec_skill .skill ul li p {
  font-family: "SCDream4";
}

@keyframes wave {
  100% {
    transform: scaleX(2);
    transform: rotate(90deg);
  }
}

section.sec_skill .skill ul li .skill_list {
  width: 75px;
  height: 75px;
  border-radius: 200px;
  margin: 0 auto;
  position: absolute;
  overflow: hidden;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

section.sec3 {
  width: 100%;
  height: 965px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}
section.sec3 .sec3_title {
  position: relative;
  top: 40%;
}
section.sec3 .sec3_title h1 {
  font-size: 180px;
  text-align: center;
}
section.sec3 .sec3_line {
  position: relative;
  top: 40%;
  width: 100%;
  height: 5px;
  background: #949494;
}
section.sec3 .sub_text {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 40%;
  width: 100%;
}
section.sec4 {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
section.sec4 .webfolio_wrap {
  padding: 100px;
}
section.sec4 .webfolio_top {
  display: flex;
  position: sticky;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
  height: 90px;
  background: #ebebeb;
  justify-content: space-between;
  top: 0;
  transition: 0.5s;
  z-index: 10;
  border-bottom: 3px solid #004591;
}
section.sec4 .webfolio_top span:nth-child(2) {
  font-family: "SCDream5";
}
section.sec4 .webfolio {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section.sec4 .webfolio .webfolio_text {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section.sec4 .webfolio .webfolio_text span {
  font-family: "SCDream5";
}
section.sec4 .webfolio .webfolio_text span strong {
  font-size: 20px;
  font-family: "SCDream4";
}
section.sec4 .web_index {
  display: flex;
  gap: 25px;
}
section.sec4 .webfolio .mock_up {
  width: 800px;
}

section.sec4 .webfolio .mock_up a {
  display: block;
  width: 100%;
}
section.sec4 .webfolio .mock_up .mock_up_black {
  width: 1000px;
}
section.sec4 .webfolio .mock_up img {
  width: 100%;
  object-fit: cover;
}

section.sec5 {
  width: 100%;
  height: 965px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}
section.sec5 .sec5_title {
  position: relative;
  top: 40%;
}
section.sec5 .sec5_title h1 {
  font-size: 180px;
  text-align: center;
}
section.sec5 .sec5_line {
  position: relative;
  top: 40%;
  width: 100%;
  height: 5px;
  background: #949494;
}
section.sec5 .sub_text {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 40%;
  width: 100%;
}
section.sec6 {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  height: 5000px;
}
section.sec6 .interior_top {
  display: flex;
  position: sticky;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
  height: 90px;
  background: #fff;
  justify-content: space-between;
  top: 0;
  transition: 0.5s;
  z-index: 10;
  border-bottom: 3px solid #ee3229;
}
section#interior_2 .interior_top {
  border-bottom: 3px solid #7491ad;
}
section.sec6 .interior_info {
  width: 100%;
  height: 950px;
  position: relative;
  background: #fff;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  align-items: end;
  gap: 100px;
}
section.sec6 .interior_info .info_title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 80px;
}
section.sec6 .interior_info .info_title span strong {
  font-size: 18px;
}
section.sec6 .interior1_index {
  display: flex;
  gap: 20px;
}
section.sec6 .interior_info .info_img {
  width: 1200px;
  height: 685px;
  position: relative;
  bottom: 0;
  left: 0;
}
section.sec6 .interior_info .info_title {
  width: 480px;
}
section.sec6 .interior_info img {
  width: 100%;
  object-fit: cover;
}

section.sec6 div img {
  width: 100%;
}
section#interior_2 {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  height: 5500px;
}
section.sec7 {
  width: 100%;
  height: 1200px;
}

section#uxui_2 {
  width: 100%;
  height: 2000px;
}
section.sec7 .ux_robo {
  width: 100%;
  background: #fff;
  padding: 100px;
  box-sizing: border-box;
}
section.sec7 .ux_poki {
  width: 100%;
  background: #fff;
  padding: 100px;
  box-sizing: border-box;
  text-align: center;
}
section.sec7 .ux_robo img {
  width: 100%;
  object-fit: cover;
}
section.sec7 .ux_poki img {
  height: 100%;
  object-fit: contain;
}

section.sec7 .uxui_top {
  display: flex;
  position: sticky;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
  height: 90px;
  background: #fff;
  justify-content: space-between;
  top: 0;
  transition: 0.5s;
  z-index: 10;
  border-bottom: 3px solid #62bf83;
}
section#uxui_2 .uxui_top {
  border-bottom: 3px solid #73ccd4;
}
footer {
  width: 100%;
  height: 100px;
}
