@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input {
  display: none;
}
.fp-tooltip {
  color: #aaa;
}
#fp-nav span,
.fp-slidesNav span {
  border-color: #aaa;
}
#fp-nav li .active span,
.fp-slidesNav .active span {
  background: #aaa;
}
#fullmenu {
  position: fixed;
  right: -100%;
  top: 0;
  width: 500px;
  height: 100%;
  background: #fff;
  z-index: 1;
}
#fullmenu ul {
  position: absolute;
  top: 20%;
  left: 10%;
}
#fullmenu ul li {
  margin: 1.563rem 0;
}
#fullmenu ul li a {
  font-family: "Pretendard";
  font-size: 1.688rem;
}
section {
  height: 100vh;
}
section.visual {
  position: relative;
  background-image: url(https://www.glasslock.co.kr/pages/layout/_glasslock/images/sub/innovation/bg_inno1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.visual nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 5%;
  box-sizing: border-box;
  max-width: 1720px;
  width: 100%;
  height: 4.688rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 2;
}
section.visual nav .logo {
  width: 9.375rem;
}
section.visual nav .logo img {
  width: 100%;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg)
    brightness(107%) contrast(100%);
}
section.visual nav .right {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
section.visual nav .right .mall {
  height: 1.75rem;
  line-height: 1.75rem;
  padding: 0 1.25rem;
  border: 1px solid #fff;
  border-radius: 1.875rem;
}
section.visual nav .right .mall a {
  font-family: "Pretendard";
  color: #fff;
}
section.visual nav .right .mall img {
  width: 1.25rem;
  height: 1.25rem;
  filter: invert();
  vertical-align: middle;
}
section.visual nav .right .lang a {
  font-family: "Pretendard";
  color: #fff;
  display: block;
  border-bottom: 1px solid #fff;
  padding: 0.313rem;
}
section.visual nav .right .hambuger {
  position: relative;
  z-index: 3;
}
section.visual nav .right .hambuger label {
  cursor: pointer;
}
section.visual nav .right .hambuger label span {
  display: block;
  width: 2.188rem;
  height: 0.125rem;
  background: #fff;
  margin: 0.563rem 0;
  transition: 0.5s;
}
section.visual h2 {
  font-family: "Pretendard";
  font-weight: 200;
  color: #fff;
  font-size: 5.625rem;
  text-align: center;
}
#menu:checked ~ #fullpage section.visual nav .right .hambuger label span.bar1 {
  transform: translate(0, 11px) rotate(45deg);
  background: #000;
}
#menu:checked ~ #fullpage section.visual nav .right .hambuger label span.bar2 {
  opacity: 0;
}
#menu:checked ~ #fullpage section.visual nav .right .hambuger label span.bar3 {
  transform: translate(0, -11px) rotate(-45deg);
  background: #000;
}
/* #menu:checked ~ #fullpage #fullmenu {
  right: 0;
} */
#menu:checked ~ section.visual::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 500px);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 999;
}
#mall_btn {
  position: fixed;
  right: 6.25rem;
  bottom: 3.125rem;
  cursor: pointer;
}
#mall_btn ul {
  border-radius: 3.125rem 3.125rem;
  background: #173d81;
  height: 5.313rem;
  overflow: hidden;
  transition: 0.3s;
}

#mall_btn ul li {
  width: 5.313rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard";
  font-size: 0.688rem;
  color: #fff;
  padding-top: 1.563rem;
}
#mall_btn ul li img {
  width: 2rem;
  height: 2rem;
  padding-bottom: 0.313rem;
}
#mall_btn ul li:nth-child(3) img,
#mall_btn ul li:nth-child(4) img {
  filter: invert();
}
#mall_btn:hover ul {
  height: 15rem;
}
#mall_btn:hover ul li:first-child {
  display: none;
}
#mall_btn.on {
  opacity: 0;
}
section .con {
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
  font-family: "Pretendard";
}
section .con > h1 {
  font-size: 2.813rem;
  font-weight: 300;
  margin-top: 3.125rem;
}
section .con > img {
  width: 100%;
  padding: 0 200px;
  box-sizing: border-box;
}
section p {
  font-size: 1.125rem;
  margin: 1.25rem 0;
}
section span {
  font-size: 0.938rem;
  color: #777;
}
section.con5 {
  padding-top: 0;
}
section.con5 p {
  margin-bottom: 50px;
}
section.con5 .simply-Scroll {
  width: 1200px;
  margin: 0 auto;
}
section.con5 .simply-Scroll-clip {
  width: 100%;
}
section.con5 .simply-Scroll-clip #scroll {
  display: flex;
  gap: 50px;
}
section.con5 {
  margin-top: 50px;
}
section.con5 .simply-Scroll {
  width: 1200px;
  margin: 0 auto;
}
section.con5 .simply-Scroll-clip {
  width: 100%;
}
section.con5 .simply-Scroll-clip #scroll {
  display: flex;
  gap: 50px;
}
#content .simply-scroll {
  width: 83.3%;
  margin: 0 auto;
}
#content .simply-scroll-clip {
  width: 100%;
}
#content .simply-scroll-clip #scroller {
  display: flex;
  gap: 100px;
}
#content #scroller img {
  height: 100px;
}
#section6 {
  /* height: 500px; */
  padding: 0 80px;
  box-sizing: border-box;
  margin: 6.25rem 0 0 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Pretendard";
}
#section6 .left {
  text-align: left;
}
#section6 .left .logo > a > img {
  width: 9.375rem;
}
#section6 .left ul {
  margin-top: 0.625rem;
}
#section6 .left ul li {
  font-size: 1em;
  line-height: 1.5rem;
}
#section6 .left ul li span {
  font-weight: bold;
}
#section6 .right .sns {
  display: flex;
  justify-content: flex-end;
  gap: 0.625rem;
}
#section6 .right .sns > li > a {
  display: inline-block;
}
#section6 .right .sns > li > img {
  width: 1.563rem;
  height: 1.563rem;
  cursor: pointer;
}
.sns li:last-child a {
  border: 1px solid;
  padding: 5px 5px;
  color: #333;
}
#section6 .right p {
  font-size: 0.7em;
  margin-top: 10px;
  padding-bottom: 5px;
}
@media screen and (max-width: 1024px) {
  .visual {
    padding: 0;
  }
  section .con > img {
    padding: 200px 2.5rem 0;
    margin: 0;
  }
  #section6 {
    padding: 0 2.5rem 0;
    margin: 0;
  }
  section .con > h1 {
    font-size: 1.6em !important;
    font-weight: 400 !important;
    margin-top: 1.875rem;
  }
  section .con > p {
    font-size: 0.875rem;
  }
  section .con .swiper-slide img {
    width: 60px;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  #fullmenu {
    width: 100%;
  }
  #menu:checked ~ section.visual::after {
    display: none;
  }
  .visual h2 {
    font-size: 2.5em !important;
    font-weight: 400 !important;
  }
  .visual nav .right .mall {
    display: none;
  }
  section .con {
    padding: 0;
  }
  section .con > h1 {
    font-size: 1.6em !important;
    font-weight: 400 !important;
    margin-top: 1.875rem;
  }
  section .con > p {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 768px) {
  #fullmenu {
    width: 100%;
  }
  #menu:checked ~ section.visual::after {
    display: none;
  }
  .visual h2 {
    font-size: 2.5em !important;
    font-weight: 400 !important;
  }
  .visual nav .right .mall {
    display: none;
  }
  section .con {
    padding: 0;
  }
  section .con .swiper-slide img {
    height: 60px;
  }
  section#foot {
    flex-wrap: wrap;
    position: relative;
  }
  section#foot .right .sns {
    position: absolute;
    left: 6%;
    top: 65%;
  }
}
