body {
  overflow-x: hidden;
}
.maincon_wrap {
  .scrolldown_btn {
    position: sticky;
    opacity: 1;
    animation: scroll 1.3s infinite;
    img {
      width: 16px;
      height: 124px;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 150px;

      transition: 0.5s;
      &:first-child {
        opacity: 0;
      }
    }
  }
  .mainvisual {
    width: 100%;
    height: 100vh;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }
  }
  @keyframes scroll {
    0% {
      top: 50%;
      opacity: 1;
    }
    50% {
      top: calc(50% + 15px);
      opacity: 0.3;
    }
    100% {
      top: 50%;
      opacity: 1;
    }
  }
  .main_con {
    width: 100%;
    background: url(../images/main_business_bg.jpg) right/106% no-repeat;
    .main_con_wrap {
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      h1 {
        font-size: 54px;
        font-weight: 100;
        padding-top: 175px;
        margin-bottom: 50px;
      }
      .main_item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 142px;
        li {
          position: relative;
          width: 24%;
          background: transparent;
          padding: 60px 30px;
          box-sizing: border-box;
          border-radius: 20px;
          transition: 0.3s;
          cursor: pointer;
          .main_icon {
            img {
              position: absolute;
              top: 60px;
              left: 30px;
              transition: 0.3s;
              &:last-child {
                opacity: 0;
              }
            }
          }
          h2 {
            margin-top: 80px;
            margin-bottom: 40px;
            font-size: 26px;
            font-weight: 300;
            letter-spacing: -2px;
            transition: 0.3s;
          }
          p {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.55;
            color: #939393;
            margin-bottom: 48px;
            transition: 0.3s;
          }
          a {
            font-size: 15px;
            font-weight: 700;
            color: #000;
            text-transform: capitalize;
            transition: 0.3s;
          }
          &:hover a {
            color: #fff;
          }
        }
      }
    }
  }
  .main_brand_con {
    width: 100%;
    background-color: #f5f5f5;
    background-image: url(../images/main_brand_img_1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    transition: 0.3s;
    .main_brand_con_wrap {
      width: 1300px;
      margin: 0 auto;
      h1 {
        font-size: 54px;
        font-weight: 100;
        line-height: 1.2;
        letter-spacing: -0.5px;
        padding-top: 125px;
        margin-bottom: 50px;
      }
      .brand_item {
        padding-bottom: 120px;
        li {
          position: relative;
          left: -60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 58%;
          background: transparent;
          padding: 50px 60px;
          border-radius: 20px;
          box-sizing: border-box;
          margin-bottom: 20px;
          transition: 0.3s;
          .brand_icon {
            position: relative;
            width: 100px;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: 0.3s;
              &:last-child {
                opacity: 0;
              }
            }
          }
          .brand_desc {
            h2 {
              margin-bottom: 12px;
              font-size: 26px;
              font-weight: 300;
              letter-spacing: -2px;
              transition: 0.3s;
            }
            p {
              font-size: 18px;
              font-weight: 300;
              line-height: 1.55;
              color: #939393;
              transition: 0.3s;
            }
          }
          .brand_arrow {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #fff;
            opacity: 0;
            transition: 0.3s;
            i {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 25px;
            }
          }
        }
      }
    }
  }
  .main_history_con {
    width: 100%;
    background: #fbfbfb;
    .main_history_con_wrap {
      width: 1300px;
      margin: 0 auto;

      .history_con_title {
        position: relative;
        display: flex;
        align-items: center;
        h1 {
          font-size: 54px;
          font-weight: 100;
          line-height: 1.2;
          letter-spacing: -0.5px;
          padding-top: 170px;
          margin-bottom: 110px;
        }
        span {
          position: absolute;
          right: 0;
          a {
            display: block;
            padding: 25px 30px;
            background: #424242;
            color: #fff;
            border-radius: 20px;
            box-sizing: border-box;
            box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.19);
            i {
              margin-left: 30px;
              font-size: 11px;
              font-weight: bold;
            }
          }
        }
      }
    }

    .history_item {
      position: relative;
      display: flex;
      .swiper {
        margin-left: 0 !important;
        .swiper-wrapper {
          .swiper-slide {
            &:first-child {
            }
            width: 434px !important;

            .his_item {
              width: 434px;
              .history_item_top {
                position: relative;
                display: flex;
                align-items: center;
                height: 86px;
                h2 {
                  font-size: 30px;
                  font-weight: 700;
                  color: #424242;
                  &.active {
                    color: #bf1e2e;
                  }
                }
                .history_icon {
                  img {
                    position: absolute;
                    top: 0;
                    left: 280px;
                    z-index: 1;
                    &:last-child {
                      opacity: 0;
                    }
                    &.red:last-child {
                      opacity: 1;
                    }
                  }
                }

                &::after {
                  content: "";
                  position: absolute;
                  top: 84px;
                  width: 100%;
                  height: 2px;
                  background: #dedede;
                }
                &.circle::before {
                  border-color: #bf1e2e;
                }
                &::before {
                  content: "";
                  position: absolute;
                  top: 79px;
                  width: 12px;
                  height: 12px;
                  border: 2px solid #dedede;
                  border-radius: 50%;
                  background: #fff;
                  box-sizing: border-box;
                  z-index: 2;
                }
                .line {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 0;
                  height: 2px;
                  background: #bf1e2e;
                  z-index: 1;
                  transition: 2s;
                  &.line_width {
                    width: 100%;
                    transition: 0.5s;
                  }
                }
              }
              .history_item_bottom {
                margin-top: 35px;
                > li {
                  h3 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #6b6b6b;
                    margin-top: 16px;
                  }
                  .history_lnb {
                    li {
                      font-size: 18px;
                      font-weight: 300;
                      color: #6b6b6b;
                      margin-top: 12px;
                      letter-spacing: -1px;
                    }
                  }
                }
              }
            }
          }
        }
        .xi-arrow-left:before,
        .xi-arrow-right:before {
          color: #000 !important;
          font-size: 3em;
        }
        .swiper-button-prev {
          left: 1560px !important;
          top: 50px !important;
        }
        .swiper-button-next {
          right: 310px !important;
          top: 120px !important;
        }
      }
      .left,
      .right {
        position: absolute;
        top: 0;
        width: calc((100vw - 1302px) / 2);
        height: 100%;
        background: #fbfbfb;
        z-index: 1;
        opacity: 0.5;
      }
      .left {
        left: 0;
      }
      .right {
        right: 0;
      }
    }
  }
  .main_news_con {
    width: 100%;
    padding-top: 220px;
    background: #fbfbfb;
    .main_news_con_wrap {
      width: 1300px;
      margin: 0 auto;
      .news_con_title {
        position: relative;
        display: flex;
        align-items: center;
        h1 {
          font-size: 54px;
          font-weight: 100;
          line-height: 1.2;
          letter-spacing: -0.5px;
          margin-bottom: 80px;
        }
        span {
          position: absolute;
          bottom: 90px;
          right: 0;
          a {
            display: block;
            font-size: 15px;
            font-weight: 700;
            color: #000;
            text-transform: capitalize;
            transition: 0.5s;
            &:hover {
              color: #bf1e2e;
            }
          }
        }
      }
      #mySwiper2 {
        height: 480px;
        .swiper-wrapper {
          .swiper-slide {
            img {
              width: 397px;
              object-fit: cover;
            }
            p {
              margin-top: 25px;
              width: 397px;
              font-size: 22px;
              font-weight: 300;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            span {
              display: block;
              font-size: 15px;
              margin-top: 15px;
              color: #939393;
            }
          }
        }
        .swiper-button-next {
          right: 470px;
          top: 430px;
          i {
            transform: rotateY(180deg);
            font-size: 60px;
            color: #5a5a5a;
          }
        }
        .swiper-button-prev {
          left: 780px;
          top: 430px;
          i {
            font-size: 60px;
            color: #5a5a5a;
          }
        }
        .swiper-button-next::after,
        .swiper-button-prev::after {
          content: "";
        }
        .swiper-scrollbar {
          position: absolute;
          left: 50%;
          bottom: 10%;
          transform: translateX(-50%);
          width: 242px;
          height: 1px;
          .swiper-scrollbar-drag {
            width: 100px;
            height: 4px;
            line-height: 4px;
          }
        }
      }
    }
  }
  .main_contact_con {
    width: 100%;
    padding: 150px 0;
    background: #fbfbfb;
    background-image: url(../images/main_inquiry_img.jpg);
    background-repeat: no-repeat;
    background-position: right;
    .main_contact_con_wrap {
      width: 1300px;
      margin: 0 auto;
      padding: 84px 0 100px 0;
      .contact_con_left {
        width: 41%;
        h1 {
          font-size: 54px;
          font-weight: 100;
          line-height: 1.2;
          letter-spacing: -0.5px;
          margin-bottom: 30px;
        }
        p {
          font-size: 18px;
          color: #939393;
          font-weight: 300;
          margin-bottom: 30px;
        }
        .mail {
          display: flex;
          align-items: center;
          margin-bottom: 80px;
          .mail_icon {
            width: 35px;
            height: 35px;
            background: #ececec;
            border-radius: 50%;
            text-align: center;
            i {
              font-weight: 700;
              color: #000;
              line-height: 35px;
            }
          }
          span {
            margin-left: 15px;
            font-weight: 700;
            color: #000;
          }
        }
        .contact_btn {
          width: 100%;
          display: flex;
          justify-content: space-between;
          ul {
            li {
              position: relative;
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 260px;
              background: #bf1e2e;
              padding: 25px 25px 25px 35px;
              box-sizing: border-box;
              border-radius: 20px;
              overflow: hidden;
              a {
                color: #fff;
                font-weight: 500;
              }
              i {
                font-size: 8px;
                font-weight: 400;
                color: #fff;
              }
              &:hover::before {
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: -40%;
                right: 110%;
                width: 30px;
                height: 200%;
                background: rgba(255, 255, 255, 0.3);
                transform: rotate(20deg);
                animation: contact_btn 0.8s forwards;
              }
            }
            &:last-child li {
              background: #424242;
            }
          }
        }
      }
    }
  }
}
@keyframes contact_btn {
  0% {
    right: 110%;
  }
  100% {
    right: -20%;
  }
}

@media screen and (max-width: 1024px) {
  .maincon_wrap {
    .scrolldown_btn {
      display: none;
    }
    .main_con {
      width: 100%;
      background: none;
      .main_con_wrap {
        width: 70%;
        h1 {
          text-align: center;
          display: flex;
          flex-direction: column;
          span {
            line-height: 70px;
          }
        }
        .main_item {
          flex-wrap: wrap;
          li {
            text-align: center;
            flex: 1 0 48%;
            .main_icon {
              img {
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
    }
    .main_brand_con {
      background-size: 60%;
      background-position: center 30%;
      .main_brand_con_wrap {
        width: 96%;
        height: 1500px;
        h1 {
          text-align: center;
          margin-bottom: 200px;
        }
        .brand_item {
          width: 100%;
          margin-top: 600px;
          li {
            position: inherit;
            width: 100%;
          }
        }
      }
    }
    .main_history_con {
      .main_history_con_wrap {
        width: 96%;
      }
      .history_item {
        padding-left: 20px;
        .swiper {
          .swiper-button-prev {
            display: none !important;
          }
          .swiper-button-next {
            display: none !important;
          }
        }
      }
    }
    .main_news_con {
      .main_news_con_wrap {
        width: 96%;
        .news_con_title {
          flex-direction: column;
          text-align: center;
          h1 {
            width: 68%;
            p {
              &:last-child {
                display: none;
              }
            }
          }
          span {
            position: inherit;
            margin-top: 30px;
          }
        }
        #mySwiper2 {
          .swiper-button-next {
            display: none;
          }
          .swiper-button-prev {
            display: none;
          }
        }
      }
    }
    .main_contact_con {
      background-position: center 10%;
      height: 1000px;
      .main_contact_con_wrap {
        position: relative;
        top: 550px;
        width: 80%;
        .contact_con_left {
          width: 100%;
          text-align: center;
          .mail {
            justify-content: center;
          }
          .contact_btn {
            width: 100%;
            ul {
              width: 100%;
              li {
                width: 95%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .maincon_wrap {
    .mainvisual {
      position: relative;
      top: 80px;
      height: 20%;
      video {
        object-fit: contain;
        object-position: top;
      }
    }
    .main_con {
      .main_con_wrap {
        h1 {
          font-size: 36px;
          padding-top: 120px;
          margin-bottom: 0;
          span {
            line-height: 45px;
          }
        }
        .main_item {
          padding-bottom: 20px;
          li {
            .main_icon {
              img {
                width: 40px;
              }
            }
            h2 {
              margin-top: 60px;
              margin-bottom: 20px;
              font-size: 19px;
            }
            p {
              font-size: 14px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    .main_brand_con {
      background-position: center 26%;
      .main_brand_con_wrap {
        height: 1050px;
        h1 {
          padding-top: 50px;
          font-size: 36px;
          margin-bottom: 0px;
        }
        .brand_item {
          margin-top: 500px;
          li {
            padding: 30px 40px;
            .brand_icon {
              img {
                width: 40px;
              }
            }
            .brand_desc {
              h2 {
                font-size: 19px;
              }
              p {
                font-size: 14px;
              }
            }
            .brand_arrow {
              width: 30px;
              height: 30px;
              i {
                font-size: 15px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .main_history_con {
      .main_history_con_wrap {
        .history_con_title {
          flex-direction: column;
          h1 {
            padding-top: 50px;
            margin-bottom: 50px;
            font-size: 36px;
            text-align: center;
          }
          span {
            width: 22%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 400%;
            a {
              font-size: 13px;
              border-radius: 10px;
              padding: 20px 25px;
              i {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
    .main_news_con {
      .main_news_con_wrap {
        .news_con_title {
          h1 {
            width: 52%;
            font-size: 36px;
          }
        }
        #mySwiper2 {
          height: 380px;
          .swiper-wrapper {
            .swiper-slide {
              img {
                width: 100%;
              }
              p {
                margin-top: 15px;
                width: 100%;
                font-size: 17px;
              }
              span {
                margin-top: 15px;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .main_contact_con {
      background-size: contain;
      padding: 0;
      height: 850px;
      .main_contact_con_wrap {
        width: 96%;
        padding: 0;
        .contact_con_left {
          h1 {
            font-size: 36px;
            margin-bottom: 20px;
          }
          p {
            font-size: 14px;
            margin-bottom: 20px;
          }
          .mail {
            margin-bottom: 40px;
            span {
              font-size: 15px;
            }
          }
          .contact_btn {
            ul {
              li {
                padding: 15px;
                border-radius: 10px;
                a {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
