/*최신*/
@charset "utf-8";
@font-face {
  font-family: PTSans-Bold;
  src: url(../webfont/PTSans-Bold.woff) format("woff");
}
@font-face {
  font-family: PTSans-Regular;
  src: url(../webfont/PTSans-Regular.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
}
/* html {
  scroll-behavior: smooth;
} */
body {
  font-family: PTSans-Bold;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
#wrap {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}
header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .menu_left ul {
  display: flex;
  width: 320px;
  height: 123px;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 10px;
}
header .menu_left {
  margin-right: 30px;
  line-height: 10px;
}
header .menu_left ul li {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}
.submenu {
  padding-top: 10px;
  padding-bottom: 20px;
  position: absolute;
  top: 128px;
  left: 0px;
  width: 750px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.submenu > ul {
  width: 700px;
  padding: 10px;
}
.submenu > ul > li {
  position: relative;
  float: left;
  width: 25%;
}
.submenu > ul > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}
.submenu ul li:hover > a {
  text-decoration: underline;
}
/*header .menu_left a:nth-of-type(2):hover .menu {
  display: block;
}*/
.sub li a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.logo img {
  width: 180px;
  height: 123px;
}
header .menu_right ul {
  display: flex;
  width: 220px;
  height: 123px;
  justify-content: space-between;
  align-items: end;
}
header .menu_right {
  margin-right: 0px;
  line-height: 10px;
}
header .menu_right ul li {
  font-size: 20px;
  font-weight: bold;
}
.main {
  width: 1920px;
  height: 915px;
  margin: 0px auto 10px;
  /* display: flex; */
  /* background-size: 100% 915px; */
  background-position: center;
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move {
  0% {
    background-image: url(../images/main10.jpg);
  }
  25% {
    background-image: url(../images/main10.jpg);
  }
  50% {
    background-image: url(../images/main12.jpg);
  }
  75% {
    background-image: url(../images/main13.jpg);
  }
  100% {
    background-image: url(../images/main14.jpg);
  }
}
.main img {
  width: 100%;
}
.con {
  width: 1920px;
  margin: 80px auto;
}
.con ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.con ul li {
  width: 600px;
  height: 632px;
  overflow: hidden;
}
.con ul li:hover img {
  width: 120%;
}
.con ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s;
}
.con ul li:hover img {
  width: 100%;
  transform: scale(1.5);
}
.con ul li a p {
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: -320px;
}
.con ul li a:hover p {
  text-decoration: underline;
}
.new_icon {
  width: 1920px;
  margin: 0 auto;
}
.new_icon img {
  width: 57px;
  height: 71px;
  position: relative;
  top: 50px;
  left: -25px;
}
.new_icon h3 {
  background: #ebf391;
  width: 50px;
  text-align: center;
  padding: 10px;
}
.swiper-container {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.swiper-slide {
  text-align: center;
  width: 408px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000;
  font-size: 50px;
}
.sale {
  width: 1620px;
  margin: 150px auto;
}
.sale ul {
  display: flex;
  justify-content: space-between;
}
.sale ul li {
  position: relative;
}
.sale ul li p {
  width: 100%;
  text-align: center;
  font-family: PTSans-Regular;
}
.sale ul li p:first-of-type {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  background: #b00b0b;
  text-align: center;
  line-height: 40px;
  top: 0;
  right: 0;
}

.sale ul li p:nth-of-type(2) {
  margin-top: 20px;
}
.sale ul li .text {
  text-align: center;
}

.sale ul li span:nth-of-type(2) {
  text-decoration: line-through;
}
.more {
  width: 130px;
  height: 40px;
  font-size: 20px;
  border-radius: 15px;
  border: 5px solid #000;
  text-align: center;
  line-height: 40px;
  margin: 100px auto;
  font-weight: bold;
}
.color {
  width: 1620px;
  margin: 0 auto;
}
.a {
  width: 1620px;
  margin: 0 auto;
}
.a img {
  width: 200px;
  height: 80px;
}
.review {
  width: 1620px;
  margin: 0 auto;
  display: flex;
}
.review img {
  width: 297px;
  height: 329px;
  padding: 15px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  width: 1620px;
  margin: 100px auto;
}

.bottom .size {
  position: relative;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  width: 480px;
  height: 250px;
  border: 1px solid #000;
  text-align: center;
}
.bottom .size h1 {
  margin-top: 90px;
}
.bottom .size a p {
  margin-top: 30px;
  font-size: 18px;
}
.bottom .size img {
  position: absolute;
  top: 50px;
  left: 90px;
  /* float: left; */
  width: 80px;
  height: 80px;
}
.bottom .contact {
  position: relative;
  width: 480px;
  height: 250px;
  border: 1px solid #000;
  text-align: center;
}
.bottom .contact h1 {
  margin-top: 90px;
}
.bottom .contact a p {
  margin-top: 30px;
  font-size: 18px;
}
.contact img {
  position: absolute;
  top: 70px;
  left: 90px;
  /* float: left; */
  width: 80px;
  height: 80px;
}
.bottom .return {
  position: relative;
  width: 480px;
  height: 250px;
  border: 1px solid #000;
  text-align: center;
}
.bottom .return h1 {
  margin-top: 70px;
}
.bottom .return a p {
  margin-top: 30px;
  font-size: 18px;
}
.return img {
  position: absolute;
  top: 70px;
  left: 80px;
  /* float: left; */
  width: 80px;
  height: 80px;
}
.top_scroll {
  position: fixed;
  bottom: 35px;
  right: 80px;
  z-index: 99;
}
.top_scroll img {
  width: 80px;
}
.foot {
  position: relative;
}
.foot p {
  font-size: 13px;
  color: #8d8d8d;
  padding: 5px;
}
.foot .left {
  position: absolute;
  top: 40px;
  left: 130px;
}
.foot .center {
  position: absolute;
  top: 50px;
  left: 650px;
}
.foot .right {
  position: absolute;
  top: 50px;
  right: 130px;
}
.foot .right a {
  margin-left: 30px;
}
.foot .right a img {
  width: 30px;
}
