@charset "UTF-8";
@font-face {
  font-family: "ffmarkfont";
  src: url(../font/FontFont_FF.Mark_.Pro_.Medium.otf);
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/PretendardVariable.ttf);
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

.ftop {
  position: relative;
  z-index: 5;
  width: 100%;
  margin-top: -7vmin;
}
.ftop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

footer {
  position: relative;
  z-index: 5;
  padding-bottom: 32px;
  background-color: #242902;
}
footer .ftag {
  color: #fff;
}
footer .inner {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  padding-top: 14vmin;
  font-size: 15px;
}
footer .inner div {
  display: flex;
  gap: 24px;
}
footer .finfo .infoinner {
  display: flex;
  justify-content: flex-start;
  margin: 0 40px;
  padding-top: 9vmin;
  gap: 5vmin;
  position: relative;
  font-size: 14px;
  font-weight: 500;
}
footer .finfo .infoinner .logo {
  width: 224px;
}
footer .finfo .infoinner img {
  width: 100%;
}
footer .finfo .infoinner a {
  width: 28px;
  height: 28px;
}
footer .finfo .infoinner a img {
  width: 100%;
  height: 100%;
}
footer .finfo .infoinner .rlogo {
  width: 108px;
  position: absolute;
  right: 0;
  bottom: 0;
}
footer .finfo .infoinner .rlogo img {
  width: 100%;
}

@media screen and (max-width: 980px) {
  footer .finfo .infoinner {
    flex-direction: column;
  }
  footer .finfo .infoinner .logo {
    width: 164px;
  }
}
@media screen and (max-width: 767px) {
  footer .inner {
    flex-direction: column;
    font-size: 11.5px;
    line-height: 1.5;
    gap: 4px;
  }
  footer .inner div {
    gap: 8px;
  }
  footer .finfo .infoinner {
    flex-direction: column;
    padding-top: 0;
    margin-top: 24vmin;
    font-size: 12.8px;
    line-height: 1.5;
  }
  footer .finfo .infoinner .info {
    border-top: 1px solid #777;
    padding-top: 20px;
  }
  footer .finfo .infoinner > a {
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .finfo .infoinner .logo {
    width: 120px;
  }
  footer .finfo .infoinner .rlogo {
    width: 54px;
  }
}
