@font-face {
  font-family: "xeicon";
  src: url("../fonts/xeicon.eot");
  src: url("../fonts/xeicon.eot") format("embedded-opentype"),
    url("../fonts/xeicon.woff2") format("woff2"),
    url("../fonts/xeicon.ttf") format("truetype"),
    url("../fonts/xeicon.woff") format("woff"),
    url("../fonts/xeicon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="xi-"],
[class*=" xi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "xeicon" !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.xi-instagram:before {
  content: "\ebe9";
}
.xi-car:before {
  content: "\eb48";
}
.xi-theater:before {
  content: "\eb6a";
}
.xi-heart:before {
  content: "\ea10";
}
.xi-photoshop-circle:before {
  content: "\ec02";
}
.xi-illustrator-circle:before {
  content: "\ebe8";
}
.xi-camera:before {
  content: "\ea4b";
}
.xi-html5:before {
  content: "\eb86";
}
.xi-css3:before {
  content: "\eb83";
}
.xi-javascript:before {
  content: "\eb87";
}
nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
  .nav_wrap {
    width: 50%;
    margin: 0 auto;
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
        a {
          position: relative;
          display: block;
          font-size: 24px;
          font-weight: 700;
          line-height: 180px;
          text-transform: uppercase;
          color: #fff;
          transition: 0.5s;
          &:hover {
            color: #00ffc0;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 41%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background: #00ffc0;
            transition: 0.5s;
          }
          &:hover::after {
            width: 100px;
          }
        }
        img {
          position: relative;
          top: -5px;
          display: block;
          width: 50px;
          object-fit: cover;
          animation: logoani 1s linear infinite alternate;
        }
        &:nth-child(3) a::after {
          display: none;
        }
      }
    }
  }
}
@keyframes logoani {
  0% {
    top: 5px;
  }
  100% {
    top: -5px;
  }
}
.menu_btn {
  position: fixed;
  right: 0;
  width: 15%;
  height: 180px;
  z-index: 12;
  .menu_btn_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    span {
      display: block;
      width: 30px;
      height: 1px;
      background: #fff;
      margin-bottom: 10px;
      box-sizing: border-box;
      transition: 0.5s;
      &:last-child {
        margin: 0;
      }
      &.bar1 {
        transform: translateY(11px) rotate(45deg);
      }
      &.bar2 {
        opacity: 0;
      }
      &.bar3 {
        transform: translateY(-11px) rotate(-45deg);
        margin: 0;
      }
    }
  }
}
.drawer_menu {
  position: fixed;
  width: 100%;
  height: 0;
  background: #363636;
  z-index: 11;
  transition: 0.5s;
  overflow: hidden;
  .drawer_menu_wrap {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    .menu_item {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      li {
        a {
          display: block;
          font-size: 60px;
          text-transform: capitalize;
          color: #fff;
          margin-bottom: 20px;
          transition: 0.5s;
          &:hover {
            color: #00ffc0;
          }
        }
      }
    }
    .me_desc_wrap {
      position: absolute;
      bottom: 20%;
      .me_desc {
        display: flex;
        li {
          color: #fff;
          letter-spacing: 1px;
          font-size: 30px;
          font-weight: 100;
          margin-right: 50px;
        }
      }
    }
    .menu_item_hover {
      width: 100%;
      height: 100vh;
      li {
        position: absolute;
        top: 50%;
        left: 2000px;
        transform: translateY(-50%);
        white-space: nowrap;
        text-transform: capitalize;
        color: #00ffc0;
        font-size: 500px;
        transition: 0.5s;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  nav {
    .nav_wrap {
      width: 70%;
      ul {
        li {
          a {
            img {
              width: 40px;
            }
          }
        }
      }
    }
  }
  .menu_btn {
    .menu_btn_wrap {
      span {
      }
    }
  }
  .drawer_menu {
    .drawer_menu_wrap {
      text-align: center;
      .menu_item {
        width: 60%;
        top: 40%;
        li {
          a {
          }
        }
      }
      .menu_item_hover {
        display: none;
      }
      .me_desc_wrap {
        width: 75%;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        .me_desc {
          justify-content: space-between;
          li {
            font-size: 20px;
            margin: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  nav {
    height: 50px;
    background: #363636;
    .nav_wrap {
      height: 100%;
      width: 93%;
      ul {
        height: 100%;
        position: relative;
        justify-content: flex-start;
        li {
          a {
            line-height: 50px;
            img {
              width: 25px;
              top: 0;
              animation: none;
            }
          }
          &:first-child a,
          &:nth-child(2) a,
          &:nth-child(4) a,
          &:nth-child(5) a {
            display: none;
          }
        }
      }
    }
  }
  .menu_btn {
    width: 8%;
    height: 50px;
    .menu_btn_wrap {
      span {
      }
    }
  }
  .drawer_menu {
    .drawer_menu_wrap {
      .menu_item {
        li {
          a {
          }
        }
      }
      .me_desc_wrap {
        .me_desc {
          flex-direction: column;
          li {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .menu_btn {
    width: 10%;
    .menu_btn_wrap {
      span {
      }
    }
  }
}
