@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: nanum, nanumS, sans-serif;
    font-size: 0;
}
@font-face {
    font-family: nanum;
    src: url(../font/NanumBarunGothic.woff);
}
@font-face {
    font-family: nanumS;
    src: url(../font/NanumSquare_acB.woff);
}
header {
width: 100%;
background: #fff;
}
header .head {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
header .head2 {
    display: none;
}
header .head a {
    color: #777;
}
header .head a:hover {
    color: #6c7931;
}
header .head a.on {
    color: #6c7931;
}
header .head li select {
    cursor: pointer;
    border: none;
    padding: 5px;
}
header .head >ul  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .head > ul li {
    font-size: 18px;
    padding: 0 40px;
    font-weight: bold;
}
header .head ul li img {
    height: 25px;
}
header .head ul:nth-child(2) li {
    padding: 0 15px;
}
/*최상단 메뉴끝, 첫번째 메뉴*/
header .menu1, .menu2, .menu3 {
    font-size: 16px;
    position: absolute;
    z-index: 99;
    border-top: 1px solid #aaa;
    width: 100%;
    background: #fff;
    overflow: hidden;
}
header .menu1 > ul, .menu2 >ul,  .menu3 >ul{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 160px;
    box-sizing: border-box;
}
header .menu1 ul li, .menu2 ul li, .menu3 ul li  {
    line-height: 35px;
}
header .menu1 ul li ul li a, .menu2 ul li a, .menu3 ul li a {
    color: #333;
}
header .menu1 ul li ul li:first-child a, .menu2 ul li ul li:first-child a,.menu3 ul li a  {
    font-weight: bold;
    font-size: 18px;
}
header .menu1 a:hover, .menu2 a:hover, .menu3 a:hover {
    color: olive;
}
.menuImg {
    width: 300px;
    height: 300px;
    background: url(../images/menu_img.png) no-repeat center/cover;
}
.menu4 {
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    right: 140px;
    top: 90px;
    width: 150px;
    line-height: 40px;
    text-align: right;
    background: #fff;
    padding: 5px 10px;
}
.menu4 ul li:hover {
    color: #6c7931;
}

/*메뉴 끝*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.visual1 {
    width: 100%;
    height: 100%;
    background: #f2e8c5;
}
.visual2 {
    width: 100%;
    height: 100%;
    background: #e9e8e6;
}
.visual3 {
    width: 100%;
    height: 100%;
    background: #f5f4f0;
}
.swiper-slide .con {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
}
.swiper-container .swiper-slide img{
    max-width: 100%;
    height: 710px;
    object-fit: cover;
}
.con_in {
    font-size: 20px;
    padding: 150px 0px 0 150px;
    box-sizing: border-box;
}
.con_in li {
    margin-bottom: 25px;
}
.con_in li:first-of-type {
    font-family: nanumS;
    font-size: 44px;
    font-weight: bold;
}
.con_in li:last-of-type {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    padding: 10px 10px;
}
.con_in li:last-of-type:hover {
    border: 1px solid #333;
    background: #333;
    color: #fff;
}
.notice {
    width: 1200px;
    margin: 40px auto 0;
    background: #eee;
}
.notice>ul {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.notice ul li {
    padding-right: 10px;
}
.notice ul li:first-child {
    color: #aaa;
}
.notice_in {
    display: flex;
    justify-content: start;
    padding: 0;
}
/*공지사항끝*/
.today {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    overflow: hidden;
}
.today .toTop {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.today .toTop li {
    padding-right: 20px;
}
.today .toTop li:not(:first-child) {
    cursor: pointer;
    text-align: center;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 25px;
    background: #eeee;
    color: #aaa;
}
.today .toTop li:not(:first-child).on, .today .toTop li:not(:first-child):hover {
    background: #6c7931;
    color: #fff;
}
.toMenu {
    position: relative;
    margin: 30px 0;
}
.toMenu ul {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.toMenu ul li .toIn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.toMenu ul li .toIn img {
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s;
}
.toMenu ul li .toIn img:hover {
    transform: scale(0.9);
}
.toMenu ul li .toIn li {
    margin-top: 15px;
}
.toMenu ul li .toIn li:last-child {
    font-weight: bold;
}
.bestMenu {
    position: relative;
    margin: 30px auto;
}
.bestMenu ul {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.bestMenu ul li .toIn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.bestMenu ul li .toIn img {
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s;
}
.bestMenu ul li .toIn img:hover {
    transform: scale(0.9);
}
.bestMenu ul li .toIn li {
    margin-top: 15px;
}
.bestMenu ul li .toIn li:nth-child(3) {
    font-size: 14px;
    color: #aaa;
}
.bestMenu ul li .toIn li:last-child {
    font-weight: bold;
}
.bestMenu ul li .toIn li:last-child span {
    color: #6c7931;
}
/*오늘의 추천 끝*/
.more {
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    padding: 15px 0px;
    width: 150px;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-align: center;
}
.benner {
    cursor: pointer;
    width: 1200px;
    margin: 60px auto;
}
.benner img {
    text-align: center;
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.story {
    margin-top: 20px;
    width: 100%;
    background: #f4f4f4;
    padding: 60px 0;
}
.story .story_wrap {
    width: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}
.story_wrap .stop h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.story_wrap .stop p {
    font-size: 16px;
    color: #aaa;
}
.story_wrap .simg img {
    width: 100%;
    max-width: 1200px;
}
.story_wrap .simg {
    margin-top: 30px;
}
.story_wrap .simg ul {
    display: flex;
    justify-content: space-between;
}
.story_wrap .simg ul li ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recod {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}
.recod .rtop h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.recod .rtop p {
    font-size: 16px;
    color: #aaa;
}
.recod .rimg {
    overflow: hidden;
    margin-top: 30px;
}
.recod .rimg ul {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recod .rimg ul li .r_in {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    color: #777;
    overflow: hidden;
}
.recod .rimg ul li .r_in li:nth-of-type(2) {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
.more2 {
    cursor: pointer;
    font-size: 16px;
    margin: 30px auto;
    padding: 15px 0px;
    width: 250px;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-align: center;
}
/*다다일상 기록 끝*/
footer section:first-child {
    width: 100%;
    background: #555;
}
footer section .footTop {
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 10px 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
footer section .footTop li {
    font-size: 18px;
    margin-left: 15px;
    border: 1px solid #222;
    background: #333;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}
footer section .footTop .login{
    border-radius: 0;
    padding: 8px 12px;
}
footer section .footTop .login a {
    color: #eee;
}
footer section .footTop li img {
    width: 30px;
    vertical-align: middle;
}
/*푸터 첫번째 단*/
footer section:nth-child(2) {
    width: 100%;
    background: #eee;
}
footer section .midle {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: #555;
}
footer section .midle .midleL {
    font-size: 14px;
    width: 50%;
    display: flex;
}
footer section .midle .midleL ul {
    margin-right: 40px;
}
footer section .midle .midleL ul li {
    margin-bottom: 15px;
}
footer section .midle .midleL ul li:nth-child(2) {
    font-weight: bold;
    font-size: 36px;
}
footer section .midle .midleL ul:nth-child(2) li:nth-child(2) {
    font-weight: bold;
    font-size: 16px;
}
footer section .midle .midleL ul li span {
    text-decoration: underline;
}
footer section .midle .midleR {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
footer section .midle .midleR li {
    margin-bottom: 10px;
}
footer section .midle .midleR img {
    width: 60px;
}
/*푸터 두번째 단*/
footer section:nth-child(3) {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
footer section:nth-child(3) a {
    font-size: 14px;
}
footer section:nth-child(3) ul {
    display: flex;
    justify-content: space-between;
}
footer section:nth-child(3) ul li {
    font-size: 13px;
}
footer section .bottomM {
    width: 85%;
    padding: 0 25px;
    box-sizing: border-box;
    line-height: 20px;
}
footer section .bottomM ul {
    margin-bottom: 20px;
}
footer section .bottomM ul li {
    color: #aaa;
}
footer section .bottomM ul li a {
    position: relative;
}
footer section .bottomM ul li a::after {
    position: absolute;
    content: "|";
    color: #000;
    margin-left: 10px;
    font-size: 16px;
}
footer section .bottomM ul li:last-child a::after {
    content: "";
}
footer section .bottomB {
    margin-left: 20px;
    width: 30%;
}
footer section .kcp img {
    width: 50px;
    float: left;
    margin-right: 15px;
}
footer section .kcp p {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
}
footer section .kcp {
    border: 1px solid #aaa;
    padding: 10px;
    box-sizing: border-box;
}
/*두번째 푸터*/
.foot2 {
    display: none;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    color: #777;
    box-sizing: border-box;
}
.foot2 a {
    color: #777;
}
.foot2 .login ul {
    display: flex;
}
.foot2 .login ul li {
    margin: 0 10px 0 0;
}
.foot2 .login ul li a {
    display: block;
    width: 100px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.foot2 .top {
    margin: 10px auto 0;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-align: center;
}
.foot2 .mindle {
    text-align: center;
    margin: 0 auto;
}
.foot2 .mindle ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.foot2 .mindle ul li {
    margin: 25px 10px;
}
.foot2 .bottom {
    display: flex;
    justify-content: space-between;
}
.foot2 .bottomL {
    display: flex;
}
.foot2 .bottomL ul li {
    margin-bottom: 10px;
    margin-left: 30px;
}
.foot2 .bottomL ul li:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
}
.foot2 .bottomL ul:nth-child(2) li:nth-child(2) {
    font-size: 16px;
}
.foot2 .bottomR {
    display: flex;
    align-items: flex-end;
}
.foot2 .bottomR li {
    background: rgb(247, 247, 247);
    border-radius: 50%;
    margin-left: 20px;
}
.foot2 .bottom img {
    width: 25px;
    padding: 5px;
    vertical-align: middle;
}
@media screen and (max-width: 1400px) {
    .con_in {
        padding-top: 150px;
        padding-left: 30px;
    }
}
@media screen and (max-width: 1200px) {
    .foot2 {
        display: block;
    }
    footer {
        display: none;
    }
    header .head { display: none;}
    header .head2 {
        display: block;
        padding: 30px 20px;
    }
    header .head2>ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .head2 .tap {
        display: flex;
    }
    header .head2 .tap li {
        padding: 0 10px;
    }
    header .head2 img {
        height: 25px;
    }
    .swiper-container .swiper-slide img, .mySwiper3 .swiper-slide .toIn img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .swiper-slide .con {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .con_in {
        padding-top: 100px;
        padding-left: 50px;
    }
    .notice {
        display: none;
    }
    .benner {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:724px) {
    .foot2 .bottom {
        flex-wrap: wrap;
    }
    .swiper-slide img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    .con_in {
        font-size: 16px;
    }
    .con_in li:first-of-type {
        font-size: 36px;
    }
    .simg ul {
        display: flex;
        flex-direction: column;
    }
    .simg ul li {
        margin-bottom: 20px;
    }
    .benner {
        display: none;
    }
    .foot2 {
        font-size: 12px;
    }
    .foot2 a {
        font-size: 12px;
    }
    .foot2 .mindle ul {
        margin: 25px 0;
    }
    .foot2 .mindle ul li {
        margin: 10px;
    }
    .foot2 .bottomL ul:nth-child(2) li:nth-child(2) {
        font-size: 14px;
    }
}
@media screen and (max-width:500px) {
    .recod .rtop, .story_wrap .stop, .today .toTop {
        padding: 15px;
    }
    .con_in {
        padding-top: 50px;
        padding-left: 20px;
    }
    .con_in {
        font-size: 14px;
    }
    .con_in li:first-of-type {
        font-size: 30px;
    }
    .swiper-container .swiper-slide img, .mySwiper3 .swiper-slide img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .toTop li {
        font-size: 16px;
    }
}