@charset "utf-8";
@font-face {
  font-family: Noto Sans KR;
  src: url(../../../HtmlCSS/webfonts/NotoSansKR-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
body {
  font-family: Noto Sans KR;
  font-weight: 300;
}
img {
  object-fit: cover;
  max-width: 100%;
}
.wrap {
  min-width: 1224px;
}
.topmain {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 670px;
  overflow: hidden;
  background-image: url(../images/visual_main.gif);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.topmain::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.topmain header {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 102px;
  margin: 0 auto;
  transition: top ease-in-out, 0.5s, background-color ease-in-out 0.1s;
}
.topmain header::before {
  content: "";
  position: absolute;
  top: 96px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.topmain header .logo {
  width: 81px;
  height: 21px;
  background-image: url(../images/logo.svg);
}
.topmain nav ul {
  height: 96px;
  display: flex;
  align-items: center;
  gap: 0 48px;
}
.topmain nav ul li a {
  font-weight: 300;
  color: #fff;
}
.topmain nav ul li:hover a {
  font-weight: 700;
}

.topmain .visual_txt {
  position: absolute;
  width: 1224px;
  left: 23%;
  bottom: 13%;
  color: #fff;
  font-size: 56px;
}
.topmain .visual_txt span {
  display: block;
  line-height: 72px;
  font-weight: 700;
}
.visual_btn {
  margin-top: 64px;
}
.topmain .visual_btn img {
  width: 200px;
}

.lush_app {
  width: 100%;
  height: 669px;
  background: #fff;
  padding-top: 100px;
  font-weight: 700;
  color: rgb(34, 34, 34);
}
.lush_app .inner {
  width: 1224px;
  margin: 0 auto;
}
.lush_app .app_service {
  height: 405px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0 72px;
  text-align: center;
}
.lush_app .app_service img {
  width: 288px;
}
.lush_app .tit {
  width: 100%;
  text-align: center;
  font-size: 32px;
}
.lush_app h2 {
  width: 100%;
  margin-bottom: 24px;
  font-size: 18px;
}
.app_service li p:nth-child(2) {
  margin-top: 14px;
}
.app_service li p:last-child {
  font-weight: 400;
  margin-top: 8px;
  line-height: 23px;
}
.survey {
  position: relative;
  margin: 176px auto 0;
  width: 100%;
  height: 362px;
  min-width: 1224px;
  max-width: 1432px;
}
.survey .survey_tit {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  letter-spacing: -2px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
.survey .survey_tit p:first-of-type {
  margin-bottom: 24px;
}
.survey .survey_tit p:last-of-type {
  font-size: 32px;
}
.survey_btn {
  border: 1px solid #fff;
  width: 219px;
  height: 60px;
  margin-top: 48px;
}
.survey_tit a {
  line-height: 58px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 0 64px;
  width: 100%;
  height: 100%;
}
.survey .survey_tit .survey_btn:hover {
  background: #fff;
}
.survey .survey_tit .survey_btn:hover a {
  color: #000;
}
.survey_img::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 101.5%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.info_slide {
  margin-left: calc(50% - 612px);
  position: relative;
  padding-top: 176px;
}
.info_slide .swiper {
  height: 738px;
  margin: 0 auto;
  font-size: 16px;
  clip-path: inset(0 -100vw 0 0) !important;
}
h2 {
  font-size: 18px;
  margin-bottom: 42px;
}
.info_slide .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 664px;
  display: flex;
  transition-property: transform;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}
.info_slide .swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: 392px;
  height: 100%;
  display: block;
  transition-property: transform;
  margin-left: 70px;
}
.info_slide .swiper-slide:first-child {
  width: 392px !important;
  height: 664px !important;
  margin: 0;
}
.info_slide .swiper-slide:nth-child(2) {
  width: 288px !important;
  height: 320px;
}
.info_slide .swiper-slide:nth-child(3) {
  width: 392px !important;
  height: 436px;
}
.info_slide .swiper-slide .info_menu {
  position: relative;
  overflow: hidden;
  width: 392px;
  height: 560px;
  transition: all 0.5s;
}
.info_slide .swiper-slide .info_menu . {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.5s;
}
.info_slide .swiper-slide:nth-child(2) .info_menu {
  width: 100%;
  height: 320px;
}
.info_slide .swiper-slide:nth-child(3) .info_menu {
  height: 436px;
}
.info_slide .swiper-slide:first-child .info_menu {
  background: url(../images/main_lush_info@3x.jpg) center/100% no-repeat;
}
.info_slide .swiper-slide:nth-child(2) .info_menu {
  background: url(../images/main_lush_history@3x.jpg) center/100% no-repeat;
}
.info_slide .swiper-slide:nth-child(3) .info_menu {
  background: url(../images/main_lush_value@3x.jpg) center/100% no-repeat;
}
.info_slide .swiper-slide:last-child .info_menu {
  background: url(../images/main_lush_brand@3x.jpg) center/100% no-repeat;
}
.info_slide .swiper-slide .info_menu:hover {
  background-size: 110%;
}
.info_txt {
  color: #fff;
  font-weight: 700;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  word-break: break-all;
  opacity: 0;
  text-indent: -18px;
  letter-spacing: -1px;
}
.swiper-slide:hover .info_menu .,
.info_txt {
  opacity: 1;
}
.swiper-slide h3 {
  font-size: 16px;
  margin-top: 32px;
}
.swiper-slide p {
  margin-top: 8px;
  letter-spacing: -1px;
}

.lush_share {
  width: 1224px;
  margin: 155px auto;
}
.lush_share .inner {
  margin: 0 auto;
  padding-left: 208px;
  display: flex;
  gap: 0 64px;
}
.lush_share .inner .share_img {
  width: 600px;
  height: 408px;
  overflow: hidden;
}
.lush_share .inner .share_txt h2 {
  font-size: 18px;
  margin-bottom: 32px;
  font-weight: 700;
}
.lush_share .inner .share_txt p {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -2px;
}
.lush_share .inner .share_txt .share_btn {
  border: 1px solid #000;
  text-align: center;
  width: 218px;
  margin-top: 48px;
  cursor: pointer;
}
.share_btn a {
  font-size: 18px;
  line-height: 60px;
}
.share_btn:hover {
  background: #000;
}
.share_btn:hover a {
  color: #fff;
}

.lush_category {
  margin-top: 176px;
  position: relative;
  margin-left: calc(50% - 612px);
  overflow: hidden;
}
.lush_category .::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}
.lush_category .:hover::after {
  opacity: 1;
  transition: all ease-in-out 0.5s;
}
.lush_category .swiper-pagination-bullet {
  width: 19px;
  height: 2px;
  font-size: 0;
  border-radius: 0;
  background-color: #757575;
}
.lush_category .swiper {
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
}
.lush_category .lush_category_swiper .swiper-wrapper > .swiper-slide {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.category_img {
  position: relative;
  width: 475px;
  height: 560px;
}
.category_img .cate_explain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  z-index: 99;
}
.category_img.on .cate_explain {
  opacity: 1;
  transition: all ease-in-out 0.5s;
}
.category_img.on:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.5s;
}
.cate_explain .tit {
  margin-top: 48px;
  font-size: 18px;
  font-weight: 700;
}
.cate_explain .detail {
  margin-top: 32px;
  line-height: 24px;
}
.lush_pro {
  overflow: hidden;
  width: calc(100% - 475px);
}
.lush_pro .title_area {
  padding: 0 0 64px 64px;
  font-weight: 700;
}
.lush_pro .title_area .tit {
  font-size: 18px;
  margin-bottom: 32px;
}
.lush_pro .title_area .description {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -2px;
}
.lush_pro_swiper {
  padding-left: 64px;
}
.lush_pro_swiper .swiper-slide {
  margin-right: 66px;
  width: 288px;
  height: 288px;
  border-radius: 50%;
  overflow: hidden;
}
.lush_pro_swiper .pro_img {
  position: relative;
}
.lush_pro_swiper .txt {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}
.lush_pro_swiper .pro_img:hover .txt {
  opacity: 1;
  top: 50%;
  transition: all ease-in-out 0.5s;
  z-index: 99;
}
#lush_category_swiper {
  padding-bottom: 40px;
}
.lush_pro_swiper .swiper-slide {
  background: #fff;
}
.lush_category_swiper .swiper-pagination {
  bottom: 0;
}

.lush_shop {
  margin: 176px auto 0;
}
.lush_shop .inner {
  width: 1224px;
  margin: 0 auto;
  padding-left: 208px;
  display: flex;
  gap: 0 64px;
}
.lush_shop .inner .shop_img {
  width: 808px;
  height: 560px;
  overflow: hidden;
}
.lush_shop .inner .shopt h2 {
  font-size: 18px;
  margin-bottom: 32px;
  font-weight: 700;
}
.lush_shop .inner .shop_txt p {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -2px;
}
.lush_shop .inner .shop_txt .shop_btn {
  border: 1px solid #000;
  text-align: center;
  width: 218px;
  margin-top: 48px;
  cursor: pointer;
}
.shop_btn a {
  font-size: 18px;
  line-height: 60px;
}
.shop_btn:hover {
  background: #000;
}
.shop_btn:hover a {
  color: #fff;
}
.lush_value {
  width: 100%;
  height: 720px;
  margin: 176px auto 0;
  display: flex;
  background: #fafafa center/cover no-repeat;
}
.lush_value ul {
  margin: 133px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 94px 177px;
}
.lush_value ul li {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
  background: none center no-repeat;
}
.lush_value ul li.on {
  background-color: rgb(34, 34, 34);
}
.lush_value ul li:first-child {
  background-image: url(../images/ico_main_value01.svg);
}
.lush_value ul li:nth-child(2) {
  background-image: url(../images/ico_main_value02.svg);
}
.lush_value ul li:nth-child(3) {
  background-image: url(../images/ico_main_value03.svg);
}
.lush_value ul li:nth-child(4) {
  background-image: url(../images/ico_main_value04.svg);
}
.lush_value ul li:nth-child(5) {
  background-image: url(../images/ico_main_value05.svg);
}
.lush_value ul li:last-child {
  background-image: url(../images/ico_main_value06.svg);
}
footer {
  padding: 80px 0;
  background-color: #000;
}
footer .inner {
  width: 1224px;
  margin: 0 auto;
  display: flex;
  gap: 0 30px;
  font-weight: 500;
  color: #fff;
}
footer .inner .footer_info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer_info .tit {
  font-weight: 700;
}
.down_app ul {
  margin-top: 16px;
}
.down_app ul li {
  width: 128px;
}
.down_app ul li:last-child {
  margin-top: 8px;
}
.down_app ul li a img {
  width: 128px;
}
.cs {
  margin-left: 80px;
}
.cs a {
  color: #fff;
}
.cs a:hover {
  text-decoration: underline;
}
.cs ul {
  margin-top: 24px;
  font-size: 14px;
}
.cstalk::after {
  content: "";
  width: 16px;
  height: 14px;
  background: url(../images/ico_talk.svg) no-repeat;
  display: inline-block;
  margin-left: 5px;
}
.com_gift {
  margin-left: 24px;
  font-weight: 400;
}
.com_gift p {
  font-weight: 700;
}
.com_gift ul li:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}
.com_gift ul li a {
  color: #fff;
}
.foot_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0 60px;
}
.foot_menu .address {
  color: #a7a7a7;
  font-size: 14px;
}
.foot_menu .address p {
  line-height: 1.6;
}
.foot_menu .copyright {
  margin-top: 16px;
}
.foot_menu .sns {
  margin-top: 32px;
}

.foot_menu .sns ul li {
  display: inline-block;
  margin-left: 7px;
}
.foot_menu .sns ul li:first-child {
  margin-left: 0;
}
.foot_menu .menu {
  font-weight: 400;
}
.foot_menu .menu li {
  padding-top: 5px;
}
.foot_menu .menu li:first-child {
  padding-top: 0;
}
.foot_menu .menu a {
  color: #fff;
}

.foot_menu .menu li:first-child a {
  color: #fae100;
}
.quickmenu ul {
  position: fixed;
  right: 24px;
  bottom: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  z-index: 10;
}
.quickmenu ul li {
  width: 56px;
  height: 56px;
}
.quickmenu ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.quickmenu ul .q_kakao a {
  background: #fae100 url(../images/ico_kakao_quick.png) no-repeat center;
  background-size: 32px;
}
.quickmenu ul .q_store a {
  position: relative;
  background: #222 url(../images/ico_store.svg) no-repeat center;
}
.quickmenu ul .q_gotop {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #222 url(../images/ico_arrowT.svg) no-repeat center;
  cursor: pointer;
}
.qrbox {
  padding-right: 70px;
  position: absolute;
  top: -20px;
  left: -200px;
  font-size: 12px;
  z-index: -1;
}
.qrbox .mainqr {
  width: 142px;
  background: #fff;
  padding: 24px 19px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.qrbox .mainqr img.qr {
  object-fit: cover;
  max-width: 100%;
  width: 142px;
}
.qrbox .mainqr p.txt {
  margin-top: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.qrbox .mainqr::before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: 181px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: rgba(0, 0, 0, 0.1);
}
.qrbox .mainqr::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: 180px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #fff;
}
.qrbox .mainqr button {
  border: none;
  position: absolute;
  top: 8px;
  left: 145px;
  background: #fff;
  cursor: pointer;
}
