* {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #333;
  }

.wrap {
    position: relative;
    height: 100%;
  }
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
  }
  header .head {
    background: #fff;
    transition: 0.3s;
  }
  header .head::after{
    content: "";
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 80px;
    left: 0;
  }
  header .head .top {
    max-width: 1920px;
    width: 100%;
    height: 80px;
    padding: 0 180px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
  }
  header .head .top ul.menu {
    display: flex;
    width: 680px;
    justify-content: center;
  }
  header .head .top ul.menu > li {
    position: relative;
    height: 100%;
    line-height: 80px;
    box-sizing: border-box;
  }
  header .head .top ul.menu > li > a {
    position: relative;
    font-weight: bold;
    padding: 0 20px;
    box-sizing: border-box;
    transform: scaleX(0);
    transition: 0.5s;
  }
  header .head .top ul.menu > li > a:hover:after{
    content: "";
    width: 100%;
    height: 2px;
    background: #aa7944;
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 1;
    transform: scaleX(1);
  }
  header .head .top ul.menu > li:hover > a {
    color: #aa7944;
  }
  header .head .top ul.menu > li .sub {
    position: absolute;
    width: 680px;
    left: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    z-index: 2;
    transform: 0s;
    padding-top: 10px;
  }
  header .head .top ul.menu > li .sub h4{
    font-size: 22px;
    margin-bottom: 5px;
  }
  header .head .top ul.menu > li .sub:first-child{
    margin-left: 50px;
  }
  header .head .top ul.menu > li:nth-child(2) > .sub > ul > li{
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  header .head .top ul.menu > li:nth-child(4) > .sub > ul > li{
    padding-left: 25px;
    box-sizing: border-box;
  }
  header .head .top ul.menu > li:nth-child(5) > .sub > ul > li{
    padding-left: 20px;
    box-sizing: border-box;
  }
  header .head .top ul.menu > li .sub.on {
    opacity: 1;
    transition: 0.3s;
    /* background: #ccc; */
  }
  header .head .top ul.menu > li:first-child .sub > ul,
  header .head .top ul.menu > li:nth-child(2) .sub > ul {
    display: flex;
  }
  header .head .top ul.menu > li .sub > ul li {
    flex: 1;
    line-height: 32px;
  }
  header .head .top ul.menu > li .sub > ul li a:hover {
    color: #aa7944;
  }
  .lang, .btn{
      display: flex;
      align-items: center;
      gap: 20px;
  }
  .lang{
      padding: 0 50px 0 0;
      box-sizing: border-box;
  }
  .lang a{
      width: 140px;
      height: 42px;
      background: #aa7944;
      text-align: center;
      border-radius: 50px;
      line-height: 44px;
      border: 1px solid #aa7944;
      font-weight: bold;
      color: #fff;
  }
  .lang a:hover{
      background: #fff;
      color: #aa7944;
  }
  .swiper {
    width: 1800px;
    height: 920px;
    background: #222;
  }

    /* 스와이퍼 */
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      /* text-align: center; */
      font-size: 18px;
      background: #fff;
      display: flex;
      flex-direction: column;
      /* justify-content: center;
      align-items: center; */
      background-position: center;
      background-size: cover;
    }
    .swiper-slide .slide_txt{
        position: absolute;
        top: 200px;
        left: 150px;
        color: #fff;
    }
    .swiper-slide .slide_txt h1{
        font-size: 60px;
    }
    .swiper-slide .slide_txt p{
        font-size: 24px;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      /* color: var(--swiper-theme-color); */
    }

    .swiper-button-next,.swiper-button-prev{
      position: absolute;
      top: 70%;
      color: #fff;
    }
    .swiper-button-next{
      right: 400px;
    }
    .swiper-button-prev{
      right: 0px;
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: #aa7944;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }

    .swiper-slide:first-child{background-image: url(../images/swiper_main/swiper_main_01.jpg);}
    .swiper-slide:nth-child(2){background-image: url(../images/swiper_main/swiper_main_02.jpg);}
    .swiper-slide:nth-child(3){background-image: url(../images/swiper_main/swiper_main_03.jpg);}
    .swiper-slide:nth-child(4){background-image: url(../images/swiper_main/swiper_main_04.jpg);}
    .swiper-slide:nth-child(5){background-image: url(../images/swiper_main/swiper_main_05.jpg);}
    .swiper-slide:nth-child(6){background-image: url(../images/swiper_main/swiper_main_06.jpg);}


  /* 디지털 혁신을 위한 파트너, 웅진 */
  .woonggin{
    width: 1700px;
    margin: 0 auto;
}
.wj_title{
    margin: 0px 150px 50px 200px;
    font-size: 54px;
}
.digital > h1 span{
  color: #aa7944;
}
.digital ul{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    margin: 0 120px;
}
.digital ul li{
    width: 800px;
    height: 500px; 
    padding: 52px 42px 60px;
    box-sizing: border-box;
    margin: 0 10px;
    cursor: pointer;
    bottom: 0px;
    transition: 0.5s;
    position: relative;
}
.digital ul li:hover{
  position: relative;
  bottom: 20px;
}
.digital ul li::after{
  content: url(../images/digital/arrow-white.png);
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.digital ul li:hover:after{
  content: url(../images/digital/arrow_2.png);
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.digital_title h1{
    font-size: 52px;
}
.digital_title p{
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1.5px;
  margin: 20px 0;
}
.digital ul li .digital_con{
  font-weight: bold;
  line-height: 30px;
  color: #fff;
}
.digital ul li:hover .digital_con{
  color: #aa7944;
}
.digital ul li:nth-child(1){background: url(../images/digital/solution_2.png) center/cover;}
.digital ul li:nth-child(1):hover{background: url(../images/digital/cloud_light_2.png) center/cover;}

.digital ul li:nth-child(2){background: url(../images/digital/sap_2.png) center/cover;}
.digital ul li:nth-child(2):hover{background: url(../images/digital/sap_light_2.png) center/cover;}

.digital ul li:nth-child(3){background: url(../images/digital/cloud_2.png) center/cover;}
.digital ul li:nth-child(3):hover{background: url(../images/digital/solution_light_2.png) center/cover;}


/* 기업에 최적화된 웅진의 IT 서비스 */
#section3{
  background: #f6f1ec;
}
.service ul{
  width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
.service ul li{
  width: 100%;
  height: 280px;
  position: relative;
  bottom: 0px;
  background: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.service ul li:hover{
  position: relative;
  bottom: 10px;
  background: #aa7944;
  color: #fff;
}
.service_con{
  position: relative;
  padding: 100px 0 58px 46px;
  box-sizing: border-box;
}
.service ul li .service_con > p{
  position: absolute;
  top: 20px;
  left: -20px;
  background: #aa7944;
  color: #fff;
  padding: 13px 28px;
  font-weight: bold;
}
.service ul li:hover .service_con > p{
  background: #fff;
  color: #aa7944;
}
.service_txt h2{
  font-size: 40.5px;
}
.service_txt p{
    font-size: 18px;
    letter-spacing: -1.55px;
    line-height: 29px;
}

.service_graph{
  width: 1400px;
  margin: 50px auto;
  display: flex;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
 color: #aa7944;
}
.service_graph div{
  flex: 1 1 30%;
  padding: 20px 50px;
  position: relative;
}
.service_graph div::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 100px;
  background: #aa7944;
}
.service_graph div:first-child:after{
  display: none;
}
.service_graph h1{font-size: 47px;}
.service_graph p{font-size: 23px;}

/* 채용정보 */

.employment_con{
  height: 100%;
  background-image: url(../images/careersBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 0px 0px 139px;
  box-sizing: border-box;
}
.employment_title h1{
  font-size: 54px;
  margin-bottom: 20px;
}
.employment_title p{
  font-size: 20px;
  margin-bottom: 50px;
}

.employment01{
  line-height: 50px;
 
}
.employment01 a{
  display: block;
  width: 280px;
  color: #000;
  border-bottom: 1px solid;
}

.woonggin_news{
  position: relative;
  vertical-align: top;
  right: -800px;
  top: -200px;
}
.woonggin_news div:first-child{
    padding: 40px 63px 46px;
    background-color: #aa7944;
    max-width: 900px;
    box-sizing: border-box;
    color: #fff;
}
.woonggin_news div:first-child h1{
  font-size: 54px;
}
.woonggin_news div:first-child p{
  font-size: 20px;
}
.woonggin_news div:last-child{
    width: 1200px;
    padding: 63px 85px 67px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 0;
}
.woonggin_news div:last-child a{
  line-height: 60px;
  font-size: 22px;
  display: block;
}
.woonggin_news div:last-child a span{
  border: 1px solid #aa7944;
  padding: 3px 25px;
  box-sizing: border-box;
  border-radius: 30px;
  color: #aa7944;
  font-size: 18px;
  margin-right: 30px;
}


/*푸터*/
#section5{
  width: 100%;
  height: 900px;
  background: #333;
}
footer{
  width: 80%;
  height: 100%;
  padding: 55px 0;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 300px;
}
.company_infor{
  display: flex;
  gap: 70px;
  font-weight: bold;
  margin-bottom: 20px;
}
.company_infor p a{
  font-size: 24px;
  color: #fff;
}
.copyright{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.copyright span a{
  width: 100%;
  color: #fff;
  font-weight: bold;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
}
.copyright span a::after{
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 1px;
  height: 20px;
  background: #fff;
}
footer div:last-child{
  display: flex;
  gap: 10px;
}
footer div:last-child .familysite img {
  width: 80%;
}
.sns a{
  margin: 0 5px;
}
.familysite ul li{display: none;}


@media screen and (max-width: 1420px) {
  header .head .top {
    max-width: 1920px;
    padding: 0 0px;
}
.lang{
  display: none;
}
}