@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #3a0000;
}
body {
  font-family: nanum, namyang, Arial, Helvetica;
  background-image: url(../imges/floor-tile.png);
}
@font-face {
  font-family: nanum;
  src: url(../font/NanumBarunGothic.ttf);
}
@font-face {
  font-family: namyang;
  src: url(../font/NanumMyeongjoBold.ttf);
}
header {
  position: static;
  top: 0;
  width: 100%;
  background: #fff;
}
header .headm {
  width: 1240px;
  height: 60px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headm .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headm ul {
  flex-grow: 1;
  display: flex;
}

header .headm ul li a {
  padding-left: 130px;
  font-weight: bold;
  font-size: 16px;
}
header .headm ul li a:hover {
  color: #dea57b;
}
/*헤더끝*/
.navi {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}
.navi p {
  font-size: 12px;
  font-weight: bold;
  margin: 30px 10px;
}
.navi p a {
  font-size: 12px;
}
.navi p a:hover {
  text-decoration: underline;
}
/*내비게이션 끝*/
/* .slid {
  width: 100%;
}
.slid img {
  width: 100%;
}
.slid .btn {
  width: 1280px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slid .btn > div {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: #aaa;
  border-radius: 50%;
  margin: 20px 10px;
}
.slid .btn > div:hover {
  background: #fff;
} */
.slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;
  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;
  /* size */
  width: 100%;
  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
.slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;
  /* size */
  width: 100%;
  height: 410px;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;
  /* transition */
  transition: left 0.15s;
}
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);
  /* size */
  width: 32px;
  height: 32px;
  /* style */
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}
.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}
/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;
  /* position */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #7fb5ff;
}
.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 410px;
  flex-shrink: 0;
  transition: left 0.15s;
}
/*슬라이드 끝*/
.fist_menu {
  width: 1300px;
  margin: 120px auto 0;
  background: #fff;
  border-radius: 40px 40px 0 0;
  position: relative;
}
.fist_menu .clip {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
.fist_menu .clip img {
  width: 300px;
}
.fist_menu h1 {
  text-align: center;
  color: #3a0000;
  padding: 60px 0;
}
.fist_menu .zip img {
  position: absolute;
  top: 70px;
  z-index: 1;
}
.fist_menu ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 10px 20px;
}
.fist_menu ul li ul {
  display: grid;
  grid-template-columns: 270px 30px;
  grid-template-rows: 300px 30px 30px;
}
.fist_menu ul li ul li:first-of-type {
  overflow: hidden;
  grid-column: 1/3;
  grid-row: 1;
}
.fist_menu ul li ul li img {
  width: 300px;

  transition: transform 0.5s;
}
.fist_menu ul li ul li img:hover {
  transform: scale(1.2);
}
.fist_menu ul li ul li:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2/3;
  align-self: center;
  font-size: 20px;
}
.fist_menu ul li ul li:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3/4;
  align-self: center;
  font-size: 24px;
  color: #3a0000;
  font-weight: bold;
}
.fist_menu ul li ul li:last-of-type {
  grid-column: 2;
  grid-row: 2/4;
  align-self: center;
}
.fist_menu ul li ul li:last-of-type img {
  width: 30px;
}
/*첫번째 메뉴 끝*/
.second_menu {
  width: 1300px;
  margin: 0px auto;
  background: #baa698;
  position: relative;
}
.second_menu h1 {
  text-align: center;
  color: #3a0000;
  padding: 20px 0 60px;
}
.second_menu .zip img {
  position: absolute;
  top: 40px;
  z-index: 1;
}
.second_menu ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px 20px;
}
.second_menu ul li ul {
  display: grid;
  grid-template-columns: 270px 30px;
  grid-template-rows: 300px 30px 30px;
}
.second_menu ul li ul li {
  color: #fff;
}
.second_menu ul li ul li:first-of-type {
  overflow: hidden;
  grid-column: 1/3;
  grid-row: 1;
}
.second_menu ul li ul li img {
  width: 300px;

  transition: transform 0.5s;
}
.second_menu ul li ul li img:hover {
  transform: scale(1.17);
}
.second_menu ul li ul li:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2/3;
  align-self: center;
  font-size: 20px;
}
.second_menu ul li ul li:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3/4;
  align-self: center;
  font-size: 24px;
  color: #3a0000;
  font-weight: bold;
}
.second_menu ul li ul li:last-of-type {
  grid-column: 2;
  grid-row: 2/4;
  align-self: center;
}
.second_menu ul li ul li:last-of-type img {
  width: 30px;
}
/*두번째 메뉴 끝*/
.thid_menu {
  width: 1300px;
  margin: 0px auto;
  background: #fff;
  position: relative;
}
.thid_menu h1 {
  text-align: center;
  color: #3a0000;
  padding: 20px 0 60px;
}
.thid_menu .zip img {
  position: absolute;
  top: 40px;
  z-index: 1;
}
.thid_menu ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px 20px;
}
.thid_menu ul li ul {
  display: grid;
  grid-template-columns: 270px 30px;
  grid-template-rows: 300px 30px 30px;
}
.thid_menu ul li ul li:first-of-type {
  overflow: hidden;
  grid-column: 1/3;
  grid-row: 1;
}
.thid_menu ul li ul li img {
  width: 300px;

  transition: transform 0.5s;
}
.thid_menu ul li ul li img:hover {
  transform: scale(1.17);
}
.thid_menu ul li ul li:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2/3;
  align-self: center;
  font-size: 20px;
}
.thid_menu ul li ul li:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3/4;
  align-self: center;
  font-size: 24px;
  color: #3a0000;
  font-weight: bold;
}
.thid_menu ul li ul li:last-of-type {
  grid-column: 2;
  grid-row: 2/4;
  align-self: center;
}
.thid_menu ul li ul li:last-of-type img {
  width: 30px;
}
/*세번째 메뉴 끝*/
.rine {
  width: 1300px;
  height: 1px;
  margin: 0 auto;
  background: #aaa;
}
/*배송별 메뉴 시작*/
.delivery {
  width: 1300px;
  margin: 0px auto 80px;
  background: #ddd;
  border-radius: 0 0 40px 40px;
}
.delivery h1 {
  text-align: center;
  color: #3a0000;
  padding: 20px 0;
}
.delivery ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px 20px;
}
.delivery .tap {
  display: flex;
  justify-content: center;
}
.delivery .tap > li {
  cursor: pointer;
  border: 1px solid #3a0000;
  padding: 10px 120px;
  border-left: none;
  background: #fff;
}
.delivery .tap > li:first-child {
  border-left: 1px solid #3a0000;
}
.delivery .tap > li:hover,
.delivery .tap > li.dly.on {
  background: #3a0000;
  color: #fff;
}

/*선택 탭메뉴 끝*/
.delivery ul li ul {
  display: grid;
  grid-template-columns: 270px 30px;
  grid-template-rows: 300px 30px 30px;
}
.delivery ul li ul li:first-of-type {
  overflow: hidden;
  grid-column: 1/3;
  grid-row: 1;
}

.delivery ul li ul li img {
  width: 300px;

  transition: transform 0.5s;
}
.delivery ul li ul li img:hover {
  transform: scale(1.17);
}
.delivery ul li ul li:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2/3;
  align-self: center;
  font-size: 20px;
}
.delivery ul li ul li:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3/4;
  align-self: center;
  font-size: 24px;
  color: #3a0000;
  font-weight: bold;
}
.delivery ul li ul li:last-of-type {
  grid-column: 2;
  grid-row: 2/4;
  align-self: center;
}
.delivery ul li ul li:last-of-type img {
  width: 30px;
}
/*footer 시작*/
footer {
  position: relative;
  bottom: 0;
  margin-top: 50px;
  width: 100%;
  padding: 25px 0 0px;
  background: #ffffff;
}
.foot {
  width: 1240px;
  margin: 0 auto;
  color: #aaa;
  font-size: 14px;
}
.foot .top li {
  cursor: pointer;
  float: left;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.foot .top li::after {
  content: "|";
  padding-left: 10px;
}
.foot .top li:last-of-type::after {
  content: "";
}
.foot .top li:hover {
  text-decoration: underline;
}
.foot hr {
  clear: both;
}
footer .foot .bottom {
  clear: both;
  display: flex;
  justify-content: space-between;
}
.foot .left {
  display: flex;
  align-items: center;
}
.foot .left li:first-child {
  font-size: 24px;
  padding-right: 20px;
  font-weight: bold;
}
.foot .left li:last-child {
  line-height: 16px;
}
.foot .center {
  display: flex;
  align-items: center;
  line-height: 18px;
}
.foot .center {
  padding: 5px;
}
.foot .center li img {
  padding: 5px;
  width: 40px;
}
.foot .center span {
  font-size: 20px;
  font-weight: bold;
}
.foot .center li:last-of-type {
  margin-left: 5px;
}
.foot .right {
  display: flex;
  align-items: center;
  line-height: 18px;
}
.foot .right li img {
  padding: 5px;
}
.foot .right li:last-of-type {
  margin-left: 5px;
}
.foot .right span {
  font-size: 20px;
  font-weight: bold;
}
