@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #3a0000;
}
body {
  font-family: nanum, namyang, Arial, Helvetica;
  background-image: url(../imges/floor-tile.png);
  font-size: 0;
}
@font-face {
  font-family: nanum;
  src: url(../font/NanumBarunGothic.ttf);
}
@font-face {
  font-family: namyang;
  src: url(../font/NanumMyeongjoBold.ttf);
}
@font-face {
  font-family: sangju;
  src: url(../font/SANGJU\ Gyeongcheon\ Island.ttf);
}
@font-face {
  font-family: gana;
  src: url(../font/Ghanachocolate.ttf);
}
/*헤더시작*/
header {
  position: static;
  top: 0;
  width: 100%;
  background: #fff;
}
header .headm {
  width: 1240px;
  height: 60px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headm .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headm ul {
  flex-grow: 1;
  display: flex;
}

header .headm ul li a {
  padding-left: 130px;
  font-weight: bold;
  font-size: 16px;
}
header .headm ul li a:hover {
  color: #dea57b;
}
/*헤더끝*/
.navi {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}
.navi p {
  font-size: 12px;
  font-weight: bold;
  margin: 30px 10px;
}
.navi p a {
  font-size: 12px;
}
.navi p a:hover {
  text-decoration: underline;
}
/*내비게이션 끝*/
.line {
  position: absolute;
  z-index: 1;
  top: 170px;
  width: 100%;
  height: 420px;
  border-bottom: 2px dashed #dea57b;
  border-top: 2px dashed #dea57b;
}
.twiso {
  position: relative;
  width: 100%;
  height: 480px;
  background: url(../imges/page2/patten.png) center;
  display: grid;
  grid-template-columns: 80px 350px 170px 170px;
  grid-template-rows: 80px 80px 190px;
  justify-content: center;
  align-content: center;
  border-top: 1px solid #3a0000;
  border-bottom: 1px solid #3a0000;
}
.twiso div:first-child {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
}
.twiso div:first-child ul li {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
.twiso div:first-child ul li:nth-child(2) {
  transform: translateY(8px);
  transition: transform 1s;
}
.twiso div:first-child ul:hover li:nth-child(2) {
  transform: translateY(-5px);
}
.twiso div:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.twiso div:nth-child(3) {
  position: relative;
  z-index: 2;
  grid-column: 3;
  grid-row: 3/4;
  transform: scale(1);
  transition: all 0.7s;
}
.twiso div:nth-child(4) {
  position: relative;
  z-index: 2;
  grid-column: 4;
  grid-row: 3;
  transform: scale(1);
  transition: all 0.7s;
}
.twiso div:nth-child(3):hover,
.twiso div:nth-child(4):hover {
  transform: scale(1.1);
}
.twiso div:nth-child(5) {
  position: relative;
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ddd;
  text-align: center;
  box-shadow: -3px 3px #aaa;
}
.twiso div:nth-child(5) a img {
  padding: 10px;
  width: 40px;
  height: 40px;
}
.twiso div:nth-child(6) a img {
  padding: 14px;
  width: 30px;
  height: 30px;
}
.twiso div:nth-child(6) {
  position: relative;
  z-index: 2;
  grid-column: 1;
  grid-row: 2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: -3px 3px #aaa;
}
.twiso div:nth-child(5):hover,
.twiso div:nth-child(6):hover {
  background: #fff;
  border: 0.5px dashed #000;
}
/*맨 상단의 튀소 끝*/
.con {
  width: 100%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  background-color: #3a0000;
  color: #fff;
}
.con ul {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #fff;
}
.con ul li .text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  text-align: center;
}
.con ul li .text li {
  padding-left: 30px;
  padding-bottom: 60px;
  font-size: 18px;
}
.con ul li .text li:first-child {
  margin-top: 50px;
  font-size: 48px;
  font-family: sangju;
}
/*중간 소개 끝*/
.con_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.con_2 .title {
  margin-bottom: 40px;
}
.howto {
  cursor: pointer;
  width: 100%;
  height: 420px;
  background: url(../imges/page2/patten2.png);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: gana;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #3a0000;
}
.howto ul li {
  position: relative;
  z-index: 1;
}
.howto ul li:nth-of-type(2) {
  margin-top: 25px;
}
.howto ul li:nth-of-type(2)::after {
  position: absolute;
  z-index: -1;
  top: -5%;
  left: -5%;
  width: 0%;
  height: 110%;
  content: "";
  background: #e4cfc7;
  border-radius: 10px;
  transition: width 0.5s;
}
.howto ul:hover li:first-child {
  transform: scale(1.2);
}
.howto ul:hover li:nth-of-type(2)::after {
  width: 110%;
}
.howto ul li:first-child {
  transform: scale(1);
  transition: transform 0.7s;
}
/*주의사항 시작*/
.noticon ul li {
  font-size: 16px;
  font-weight: bold;
  text-shadow: -2px 0px #fff, 0px 2px #fff, 2px 0px #fff, 0px -2px #fff;
}
.noticon ul {
  margin-top: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.noticon ul li img {
  width: 60px;
}
.bg {
  width: 100%;
  height: 100px;
  content: "";
}
/*footer 시작*/
footer {
  position: relative;
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  padding: 25px 0 0px;
  background: #ffffff;
}
.foot {
  width: 1240px;
  margin: 0 auto;
  color: #aaa;
  font-size: 14px;
}
.foot .top li {
  cursor: pointer;
  float: left;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.foot .top li::after {
  content: "|";
  padding-left: 10px;
}
.foot .top li:last-of-type::after {
  content: "";
}
.foot .top li:hover {
  text-decoration: underline;
}
.foot hr {
  clear: both;
}
footer .foot .bottom {
  clear: both;
  display: flex;
  justify-content: space-between;
}
.foot .left {
  display: flex;
  align-items: center;
}
.foot .left li:first-child {
  font-size: 24px;
  padding-right: 20px;
  font-weight: bold;
}
.foot .left li:last-child {
  line-height: 16px;
}
.foot .center {
  display: flex;
  align-items: center;
  line-height: 18px;
}
.foot .center {
  padding: 5px;
}
.foot .center li img {
  padding: 5px;
  width: 40px;
}
.foot .center span {
  font-size: 20px;
  font-weight: bold;
}
.foot .center li:last-of-type {
  margin-left: 5px;
}
.foot .right {
  display: flex;
  align-items: center;
  line-height: 18px;
}
.foot .right li img {
  padding: 5px;
}
.foot .right li:last-of-type {
  margin-left: 5px;
}
.foot .right span {
  font-size: 20px;
  font-weight: bold;
}
