@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #3a0000;
}
body {
  font-family: nanum, namyang, Arial, Helvetica;
  background-image: url(../imges/floor-tile.png);
}
@font-face {
  font-family: nanum;
  src: url(../font/NanumBarunGothic.ttf);
}
@font-face {
  font-family: namyang;
  src: url(../font/NanumMyeongjoBold.ttf);
}
@font-face {
  font-family: sangju;
  src: url(../font/SANGJU\ Gyeongcheon\ Island.ttf);
}
@font-face {
  font-family: gana;
  src: url(../font/Ghanachocolate.ttf);
}
header {
  position: static;
  top: 0;
  width: 100%;
  background: #fff;
}

header .headm {
  width: 1240px;
  height: 60px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .headm .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .headm ul {
  flex-grow: 1;
  display: flex;
}

header .headm ul li a {
  padding-left: 130px;
  font-weight: bold;
  font-size: 16px;
}

header .headm ul li a:hover {
  color: #dea57b;
}

/*헤더끝*/
.navi {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}
.navi p {
  font-size: 12px;
  font-weight: bold;
  margin: 30px 10px;
}
.navi p a {
  font-size: 12px;
}
.navi p a:hover {
  text-decoration: underline;
}
/*내비게이션 끝*/
.frist {
  width: 100%;
  height: 515px;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 50px;
}
.frist .innerF {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  background: url(../imges/page4/sungsim_bg1.png) top center no-repeat;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.frist .innerF .title_1 {
  align-items: start;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.frist .innerF .title_1 p {
  margin-left: 30px;
  font-weight: bolder;
}
.frist .innerF .title_1 img {
  width: 200px;
  height: 150px;
}
.frist .innerF img {
  align-items: center;
  height: 350px;
  margin-right: 20px;
  transform: scale(1);
  transition: transform 0.5s;
}
.frist .innerF img:hover {
  transform: scale(1.05);
}
.frist .innerS {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  background: url(../imges/page4/sungsim_bg2.png) top center no-repeat;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.frist .innerS .title_2 {
  align-items: end;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.frist .innerS .title_2 p {
  margin-right: 30px;
  font-weight: bolder;
}
.frist .innerS .title_2 img {
  width: 200px;
  height: 150px;
  margin-right: 30px;
}
.frist .innerS img:hover {
  transform: scale(1.05);
}
.frist .innerS img {
  align-items: center;
  height: 350px;
  margin-left: 20px;
  transform: scale(1);
  transition: transform 0.5s;
}
.frist .innerT {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  background: url(../imges/page4/sungsim_bg3.png) top center no-repeat;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.frist .innerT .title_3 {
  align-items: start;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.frist .innerT .title_3 p {
  margin-left: 30px;
  font-weight: bolder;
}
.frist .innerT .title_3 img {
  width: 300px;
  height: 220px;
}
.frist .innerT img {
  align-items: center;
  height: 350px;
  margin-right: 20px;
  transform: scale(1);
  transition: transform 0.5s;
}
.frist .innerT img:hover {
  transform: scale(1.05);
}
input[type="radio"] {
  display: none;
}

.frist .innerF,
.frist .innerS,
.frist .innerT {
  display: none;
}
#maping1:checked ~ .frist .innerF {
  display: flex;
}
#maping2:checked ~ .frist .innerS {
  display: flex;
}
#maping3:checked ~ .frist .innerT {
  display: flex;
}
.btn {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.btn > li {
  margin: 30px;
  text-align: center;
  line-height: 50px;
}
.btn > li label {
  display: inline-block;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 2px 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn > li:hover label {
  background: #3a0000;
  color: #fff;
}
.bg {
  width: 100%;
  height: 70px;
  content: "";
}
/*footer 시작*/
footer {
  position: relative;
  bottom: 0;
  margin-top: 50px;
  width: 100%;
  padding: 25px 0 0px;
  background: #ffffff;
}
.foot {
  width: 1240px;
  margin: 0 auto;
  color: #aaa;
  font-size: 14px;
}
.foot .top li {
  cursor: pointer;
  float: left;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.foot .top li::after {
  content: "|";
  padding-left: 10px;
}
.foot .top li:last-of-type::after {
  content: "";
}
.foot .top li:hover {
  text-decoration: underline;
}
.foot hr {
  clear: both;
}
footer .foot .bottom {
  clear: both;
  display: flex;
  justify-content: space-between;
}
.foot .left {
  display: flex;
  align-items: center;
}
.foot .left li:first-child {
  font-size: 24px;
  padding-right: 20px;
  font-weight: bold;
}
.foot .left li:last-child {
  line-height: 16px;
}
.foot .center {
  display: flex;
  align-items: center;
  line-height: 18px;
}
.foot .center {
  padding: 5px;
}
.foot .center li img {
  padding: 5px;
  width: 40px;
}
.foot .center span {
  font-size: 20px;
  font-weight: bold;
}
.foot .center li:last-of-type {
  margin-left: 5px;
}
.foot .right {
  display: flex;
  align-items: center;
  line-height: 18px;
}
.foot .right li img {
  padding: 5px;
}
.foot .right li:last-of-type {
  margin-left: 5px;
}
.foot .right span {
  font-size: 20px;
  font-weight: bold;
}
