@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #3a0000;
}
body {
  font-family: nanum, namyang, Arial, Helvetica;
  background-image: url(../imges/floor-tile.png);
}
@font-face {
  font-family: nanum;
  src: url(../font/NanumBarunGothic.ttf);
}
@font-face {
  font-family: namyang;
  src: url(../font/NanumMyeongjoBold.ttf);
}
header {
  position: static;
  top: 0;
  width: 100%;
  background: #fff;
}
header .headm {
  width: 1240px;
  height: 60px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headm .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headm ul {
  flex-grow: 1;
  display: flex;
}

header .headm ul li a {
  padding-left: 130px;
  font-weight: bold;
  font-size: 16px;
}
header .headm ul li a:hover {
  color: #dea57b;
}
/*헤더끝*/
.navi {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}
.navi p {
  font-size: 12px;
  font-weight: bold;
  margin: 30px 10px;
}
.navi p a {
  font-size: 12px;
}
.navi p a:hover {
  text-decoration: underline;
}
/*내비게이션 끝*/
.wrap {
  width: 1280px;
  height: 650px;
  margin: 0px auto;
  padding: 10px 50px;
  box-sizing: border-box;
  background: #fff;
}
.wrap .tap {
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
}
.wrap .tap select {
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
}
.wrap .buymenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menuimg {
  margin-left: 20px;
}
.menuimg > ul {
  display: flex;
  align-content: center;
  justify-content: center;
}
.menubd img,
.menubd2 img {
  width: 450px;
  border-radius: 15px;
}
.minimeun {
  display: flex;
  align-content: center;
  justify-content: center;
}
.minimeun li {
  padding: 10px;
  cursor: pointer;
}
.minimeun li img {
  width: 100px;
}
.minimeun li img:hover {
  border: 2px solid #333;
  border-radius: 5px;
  opacity: 0.5;
}
/*왼쪽 메뉴 이미지 끝*/
.menutxt {
  display: flex;
  width: 55%;
}
.menutxt ul li {
  padding-bottom: 10px;
}
.menutxt ul li:first-child {
  font-weight: bold;
}
.menutxt ul li ul {
  display: flex;
}
.menutxt ul li ul li {
  padding: 10px;
}
.quantity {
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #aaa;
  padding: 10px;
}
.quantity ul {
  display: flex;
  justify-content: space-between;
}
.quantity ul li {
  line-height: 20px;
}
.quantity ul li input {
  width: 60px;
  height: 20px;
}
.menutxt ul li:nth-child(3) span {
  font-size: 24px;
  color: #ffd900;
}
.menutxt ul li:nth-child(5) ul li span {
  font-size: 12px;
}
.menutxt2 ul li:nth-child(3) span {
  font-size: 24px;
  color: #ffd900;
}
.menutxt2 ul li:nth-child(5) ul li span {
  font-size: 12px;
}
.menutxt2 {
  display: flex;
  width: 55%;
}
.menutxt2 ul li {
  padding-bottom: 10px;
}
.menutxt2 ul li:first-child {
  font-weight: bold;
}
.menutxt2 ul li ul {
  display: flex;
}
.menutxt2 ul li ul li {
  padding: 10px;
}
/*오른쪽 메뉴 텍스트 끝 버튼 시작*/
.btn_box {
  width: 100%;
  margin: 30px 0;
}
.btn_box ul {
  display: flex;
  justify-content: space-around;
}
.btn_box ul li {
  cursor: pointer;
  width: 100%;
  background: #aaa;
  color: #fff;
  margin: 0px 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  padding: 10px;
}
.btn_box ul li:first-child {
  width: 30%;
}
.btn_box ul li:last-child {
  background-color: #3a0000;
}
.btn_box ul li i {
  font-size: 30px;
}
.btn_box ul li:hover {
  background: #fff;
  color: #3a0000;
  border: 1px solid #aaa;
}
/*footer 시작*/
footer {
  position: relative;
  bottom: 0;
  margin-top: 50px;
  width: 100%;
  padding: 25px 0 0px;
  background: #ffffff;
}
.foot {
  width: 1240px;
  margin: 0 auto;
  color: #aaa;
  font-size: 14px;
}
.foot .top li {
  cursor: pointer;
  float: left;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.foot .top li::after {
  content: "|";
  padding-left: 10px;
}
.foot .top li:last-of-type::after {
  content: "";
}
.foot .top li:hover {
  text-decoration: underline;
}
.foot hr {
  clear: both;
}
footer .foot .bottom {
  clear: both;
  display: flex;
  justify-content: space-between;
}
.foot .left {
  display: flex;
  align-items: center;
}
.foot .left li:first-child {
  font-size: 24px;
  padding-right: 20px;
  font-weight: bold;
}
.foot .left li:last-child {
  line-height: 16px;
}
.foot .center {
  display: flex;
  align-items: center;
  line-height: 18px;
}
.foot .center {
  padding: 5px;
}
.foot .center li img {
  padding: 5px;
  width: 40px;
}
.foot .center span {
  font-size: 20px;
  font-weight: bold;
}
.foot .center li:last-of-type {
  margin-left: 5px;
}
.foot .right {
  display: flex;
  align-items: center;
  line-height: 18px;
}
.foot .right li img {
  padding: 5px;
}
.foot .right li:last-of-type {
  margin-left: 5px;
}
.foot .right span {
  font-size: 20px;
  font-weight: bold;
}
